<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <script th:async src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jquery에서 제공하는 최신 버전의 jQuery url-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <title>admin</title>

  <!--차트 src-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <!--데이터에 라벨 붙이는 기능-->
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <!--highchart로 생성한 그래프를 jpg,png등으로 다운받을 수 있음-->
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <!--외부 사용자들이 데이터를 다운로드할 수 있게-->
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body>

<div id="shadow_box">
  <!--modal창 open시 css효과를 주기위한 div-->
  <div th:replace="admin/layout :: header"/>
  <!--    <div id="admin_header">-->
  <!--        <h5><a th:href="@{/}">YJE</a></h5>-->
  <!--    </div>-->
  <div id="wrap">
    <div th:replace="admin/layout :: menubox"/>

    <div id="main_wrap">
      <div id="menu_guide">
        <ul class="guide">채용공고 |
          <!--메뉴3-->
          <select class="guide_select">
            <option>공고조회</option>
            <option>공고등록</option>
            <option>미구현</option>
          </select>
        </ul>
      </div>
      <div id="menu_title">
        <h3>채용공고</h3>
      </div>

      <div class="main">
        <!--채용공고-->
        <div class="main3" id="main3_employ_lookup">
          <!--채용공고 > 채용공고-->
          <div id="main3_employ_search">
            <!--채용공고 > 채용공고 > 공고검색-->
            <div class="sub_menu_title">
              <h3>공고검색</h3>
            </div>
            <div class="search">
              <ul>
                <li>기업명</li>
                <li> <input type="text"></li>
              </ul>
              <ul>
                <li>공고제목</li>
                <li> <input type="text"></li>
              </ul>
              <ul>
                <li>기업형태</li>
                <li>
                  <select name="shape">
                    <option value="">기업 형태</option>
                    <option value="대기업">대기업</option>
                    <option value="중견기업">중견기업</option>
                    <option value="중소기업">중소기업</option>
                  </select>
                </li>
              </ul>
              <ul>
                <li>기간</li>
                <li>
                  <input type="date" class="search_date"> &nbsp;~&nbsp; <input type="date"
                                                                               class="search_date">
                  <button class="search_date_button">오늘</button>
                  <button class="search_date_button">이번주</button>
                  <button class="search_date_button">이번달</button>
                  <button class="search_date_button">전체</button>
                </li>
              </ul>
              <div class="search_button">
                <button class="search_submit">
                  <h3>검색</h3>
                </button>
              </div>
            </div>
          </div>
          <div id="main3_employ_list">
            <!-- 채용공고 > 공고조회 > 공고리스트 -->
            <div class="sub_menu_title">
              <h3>공고리스트</h3>
            </div>
            <div class="list">
              <div class="list_head">
                                    <span class="check"><input type="checkbox" name="3_1_checkH"
                                                               onclick="checkAll(this)"></span>
                <span class="number">공고번호</span>
                <span class="employ_title">제목</span>
                <span class="corp_name">기업명</span>
                <span class="shape">기업형태</span>
                <span class="ot">직종구분</span>
                <span class="startDate">시작일</span>
                <span class="deadline">마감일</span>
              </div>
              <div class="list_body" th:each="dto: ${result.dtoList}" onclick="detail(this)">
                <span class="check"><input type="checkbox" name="3_1_check"></span>
                <span class="number">[[${dto.num}]]</span>
                <span class="employ_title">[[${dto.title}]]</span>
                <span class="corp_name">[[${dto?.etp_name}]]</span>
                <span class="shape">대기업</span>
                <span class="ot">[[${dto.ot}]]</span>
                <span class="startDate">[[${#temporals.format(dto.start_date, 'YYYY-MM-dd ')}]]</span>
                <span class="deadline">[[${#temporals.format(dto.end_date, 'YYYY-MM-dd ')}]]</span>
              </div>
              <div class="list_button">
                <button class="list_submit">삭제</button>
              </div>
            </div>
          </div>
        </div>
        <div class="main3" id="main3_employ_register">
          <!--채용공고 > 공고등록-->
          <div class="sub_menu_title">
            <h3>공고등록</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<input type="checkbox" name="type" value="t" th:checked="${pageRequestDTO.type=='t'}"/>-->
</body>

<script src="/js/admin.js"></script>
<script src="/js/admin-dashboard.js"></script>
<script src="/js/admin-userManage.js"></script>
<script src="/js/admin-employ.js"></script>
<script src="/js/admin-application.js"></script>
<script src="/js/admin-board.js"></script>
<script src="/js/admin-consult.js"></script>

</html>