<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>지원프로그램 등록</title>
    <link rel="stylesheet" href="/css/admin_supportProgram_Reg.css">
</head>
<body>
    <div id="content_box">
        <div id="content_head">
            <h2>지원프로그램 등록</h2>
        </div>
        <div id="content_body">
            <div class="register_wrap">
                <div class="register_tag">
                    <h4>프로그램명</h4>
                </div>
                <input type="text" class="register_input">
            </div>
        </div>
    </div>
</body>
</html>