<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <script th:async src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jquery에서 제공하는 최신 버전의 jQuery url-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <title>admin</title>

  <!--차트 src-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <!--데이터에 라벨 붙이는 기능-->
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <!--highchart로 생성한 그래프를 jpg,png등으로 다운받을 수 있음-->
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <!--외부 사용자들이 데이터를 다운로드할 수 있게-->
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body>

<!--모달효과 줄것들은 따로 뺴놓습니다-->
<div id="main2_detail">
  <!-- 회원 관리 > 상세 정보 -->
  <div class="detailBox" id="detail_student">
    <div class="d_role"><i class="fas fa-user-graduate"></i></div>
    <div class="d_box">
      <div class="d_tagN">이름</div>
      <input type="text" class="d_cont" name="이름" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">아이디</div>
      <input type="text" class="d_cont" name="아이디" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">비밀번호</div>
      <input type="text" class="d_cont" name="비밀번호">
    </div>
    <div class="d_box">
      <div class="d_tagN">전화번호</div>
      <input type="text" class="d_cont" name="전화번호" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">우편번호</div>
      <input type="text" class="d_cont" name="우편번호" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">주소</div>
      <input type="text" class="d_cont" name="주소" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">이메일</div>
      <input type="text" class="d_cont" name="이메일" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">가입일</div>
      <input type="text" class="d_cont" name="가입일" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">소속/반</div>
      <input type="text" class="d_cont" name="소속" readonly>
    </div>
    <div class="d_btn">
      <button class="d_button" name="d_button">수정</button>
      <button class="d_button">삭제</button>
    </div>
  </div>

  <!-- 상담사상세정보 -->
  <div class="detailBox" id="detail_counselor">
    <div class="d_role"><i class="fas fa-hands-helping"></i></div>
    <div class="d_box">
      <div class="d_tagN">이름</div>
      <input type="text" class="d_cont" name="이름" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">아이디</div>
      <input type="text" class="d_cont" name="아이디" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">비밀번호</div>
      <input type="text" class="d_cont" name="비밀번호">
    </div>
    <div class="d_box">
      <div class="d_tagN">전화번호</div>
      <input type="text" class="d_cont" name="전화번호" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">우편번호</div>
      <input type="text" class="d_cont" name="우편번호" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">주소</div>
      <input type="text" class="d_cont" name="주소" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">이메일</div>
      <input type="text" class="d_cont" name="이메일" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">가입일</div>
      <input type="text" class="d_cont" name="가입일" readonly>
    </div>
    <div class="d_btn">
      <button class="d_button" name="d_button">수정</button>
      <button class="d_button">삭제</button>
    </div>
  </div>

  <!-- 기업상세정보 -->
  <div class="detailBox" id="detail_enterprise">
    <div class="d_role"><i class="fas fa-building"></i></div>
    <div class="d_box">
      <div class="d_tagN">기업명</div>
      <input type="text" class="d_cont" name="기업명">
    </div>
    <div class="d_box">
      <div class="d_tagN">아이디</div>
      <input type="text" class="d_cont" name="아이디" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">비밀번호</div>
      <input type="text" class="d_cont" name="비밀번호">
    </div>
    <div class="d_box">
      <div class="d_tagN">사업자번호</div>
      <input type="text" class="d_cont" name="사업자번호" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">대표자명</div>
      <input type="text" class="d_cont" name="대표자명">
    </div>
    <div class="d_box">
      <div class="d_tagN">대표번호</div>
      <input type="text" class="d_cont" name="대표번호">
    </div>
    <div class="d_box">
      <div class="d_tagN">팩스</div>
      <input type="text" class="d_cont" name="팩스">
    </div>
    <div class="d_box">
      <div class="d_tagN">홈페이지</div>
      <input type="text" class="d_cont" name="홈페이지">
    </div>
    <div class="d_box">
      <div class="d_tagN">주요사업내용</div>
      <input type="text" class="d_cont" name="주요사업내용">
    </div>
    <div class="d_box">
      <div class="d_tagN">우편번호</div>
      <input type="text" class="d_cont" name="우편번호">
    </div>
    <div class="d_box">
      <div class="d_tagN">주소</div>
      <input type="text" class="d_cont" name="주소">
    </div>
    <div class="d_box">
      <div class="d_tagN">설립년도</div>
      <input type="text" class="d_cont" name="설립년도">
    </div>
    <div class="d_box">
      <div class="d_tagN">직원 수</div>
      <input type="text" class="d_cont" name="직원수">
    </div>
    <div class="d_box">
      <div class="d_tagN">업종</div>
      <input type="text" class="d_cont" name="업종">
    </div>
    <div class="d_box">
      <div class="d_tagN">기업형태</div>
      <input type="text" class="d_cont" name="기업형태">
    </div>
    <div class="d_box">
      <div class="d_tagN">가입일</div>
      <input type="text" class="d_cont" name="가입일" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">담당자 연락처</div>
      <input type="text" class="d_cont" name="담당자연락처">
    </div>
    <div class="d_box">
      <div class="d_tagN">담당자 이메일</div>
      <input type="text" class="d_cont" name="담당자이메일">
    </div>
    <div class="d_btn">
      <button class="d_button" name="d_button">수정</button>
      <button class="d_button">삭제</button>
    </div>
  </div>
</div>

<!--modal end-->

<div id="shadow_box">
  <!--modal창 open시 css효과를 주기위한 div-->
  <div th:replace="admin/layout :: header"/>
  <!--    <div id="admin_header">-->
  <!--        <h5><a th:href="@{/}">YJE</a></h5>-->
  <!--    </div>-->
  <div id="wrap">
    <div th:replace="admin/layout :: menubox"/>

    <div id="main_wrap">
      <div id="menu_guide">
        <ul class="guide">회원관리 |
          <!--메뉴2-->
          <select class="guide_select">
            <option>회원관리</option>
            <option>기업관리</option>
            <option>가입현황</option>
          </select>
        </ul>
      </div>
      <div id="menu_title">
        <h3>회원관리</h3>
      </div>

      <div class="main">
        <!-- 회원 관리 -->
        <div class="main2" id="main2_user">
          <!-- 회원 관리 > 회원 관리 -->
          <div id="main2_search">
            <!-- 회원관리 > 회원 관리 > 검색 -->
            <div class="sub_menu_title">
              <h3>회원검색</h3>
            </div>
            <div class="search">
              <ul>
                <li>회원권한</li>
                <li>
                  <select name="role" class="search_data">
                    <option value="UNIV">전체</option>
                    <option value="STUDENT">학생</option>
                    <option value="STAFF">교직원</option>
                    <option value="COUNSELOR">상담사</option>
                  </select>
                </li>
              </ul>
              <ul>
                <li>이름</li>
                <li> <input type="text" class="search_data"></li>
              </ul>
              <ul>
                <li>아이디</li>
                <li><input type="text" class="search_data"></li>
              </ul>
              <ul>
                <li>가입/요청 일자</li>
                <li>
                  <input type="date" class="search_date search_data"> &nbsp;~&nbsp; <input type="date"
                                                                               class="search_date search_data">
                  <button class="search_date_button">오늘</button>
                  <button class="search_date_button">이번주</button>
                  <button class="search_date_button">이번달</button>
                  <button class="search_date_button">전체</button>
                </li>
              </ul>
              <div class="search_button">
                <button class="search_submit">
                  <h3>검색</h3>
                </button>
              </div>
            </div>
          </div>
          <div id="main2_list">
            <!-- 회원관리 > 회원 관리 > 회원 리스트 -->
            <div class="sub_menu_title">
              <h3>회원리스트</h3>
            </div>
            <div class="list">
              <div class="list_head">
                                    <span class="check"><input type="checkbox" name="2_1_checkH"
                                                               onclick="checkAll(this)"></span>
                <span class="number s100" >번호</span>
                <span class="name s140">이름</span>
                <span class="username s380">아이디</span>
                <span class="phone s180">연락처</span>
                <span class="email s430">이메일</span>
                <span class="joindate s140">가입일</span>
                <span class="role s140">권한</span>
              </div>
              <div class="list_body" th:each="item, i : ${allowList}" onclick="detail(this)">
                <span class="check"><input type="checkbox" name="2_1_check"></span>
                <span class="number s100">[[${i.count}]]</span>
                <span class="name s140">[[${item.user_name}]]</span>
                <span class="username s380">[[${item.user_id}]]</span>
                <span class="phone s180">[[${item.user_ph}]]-[[${item.user_ph2}]]-[[${item.user_ph3}]]</span>
                <span class="email s430">[[${item.user_email}]]@[[${item.user_emailDomain}]]</span>
                <span class="joindate s140">[[${item.user_regdate}]]</span>
                <span class="role s140">[[${item.user_type}]]</span>
              </div>
              <div class="list_button">
                <button class="list_submit">삭제</button>
              </div>
            </div>
          </div>
          <div id="main2_perList">
            <!-- 회원관리 > 회원 관리 > 회원 가입 인증 -->
            <div class="sub_menu_title">
              <h3>회원가입승인</h3>
            </div>
            <div class="list">
              <div class="list_head">
                                    <span class="check"><input type="checkbox" name="2_2_checkH"
                                                               onclick="checkAll(this)"></span>
                <span class="number s100">번호</span>
                <span class="name s140">이름</span>
                <span class="username s380">아이디</span>
                <span class="phone s180">연락처</span>
                <span class="email s430">이메일</span>
                <span class="joindate s140">가입일</span>
                <span class="role s140">권한</span>
              </div>
              <div class="list_body" th:each="item, i : ${notAllowList}" onclick="detail(this)">
                <span class="check"><input type="checkbox" name="2_2_check"></span>
                <span class="number s100">[[${i.count}]]</span>
                <span class="name s140">[[${item.user_name}]]</span>
                <span class="username s380">[[${item.user_id}]]</span>
                <span class="phone s180">[[${item.user_ph}]]-[[${item.user_ph2}]]-[[${item.user_ph3}]]</span>
                <span class="email s430" >[[${item.user_email}]]@[[${item.user_emailDomain}]]</span>
                <span class="joindate s140">[[${item.user_regdate}]]</span>
                <span class="role s140">[[${item.user_type}]]</span>
              </div>
              <div class="list_button">
                <button class="list_submit">승인</button>
                <button class="list_submit">거절</button>
              </div>
            </div>
          </div>
        </div>
        <div class="main2" id="main2_corp">
          <!-- 회원관리 > 기업 관리 -->
          <div id="main2_corp_search">
            <!-- 회원관리 > 기업 관리 > 검색 -->
            <div class="sub_menu_title">
              <h3>기업검색</h3>
            </div>
            <div class="search">
              <ul>
                <li>기업명</li>
                <li> <input type="text" class="search_data"></li>
              </ul>
              <ul>
                <li>아이디</li>
                <li><input type="text" class="search_data"></li>
              </ul>
              <ul>
                <li>기업형태</li>
                <li>
                  <select name="shape" class="search_data">
                    <option value="">기업 형태</option>
                    <option value="대기업">대기업</option>
                    <option value="중견기업">중견기업</option>
                    <option value="중소기업">중소기업</option>
                  </select>
                </li>
              </ul>
              <ul>
                <li>가입/요청 일자</li>
                <li>
                  <input type="date" class="search_date search_data"> &nbsp;~&nbsp; <input type="date"
                                                                               class="search_date search_data">
                  <button class="search_date_button">오늘</button>
                  <button class="search_date_button">이번주</button>
                  <button class="search_date_button">이번달</button>
                  <button class="search_date_button">전체</button>
                </li>
              </ul>
              <div class="search_button">
                <button class="search_submit">
                  <h3>검색</h3>
                </button>
              </div>
            </div>
          </div>
          <div id="main2_corp_list">
            <!-- 회원관리 > 기업 관리 > 기업 리스트 -->
            <div class="sub_menu_title">
              <h3>기업리스트</h3>
            </div>
            <div class="list">
              <div class="list_head">
                                    <span class="check"><input type="checkbox" name="2_3_checkH"
                                                               onclick="checkAll(this)"></span>
                <span class="number s100">번호</span>
                <span class="corp_name s320">기업명</span>
                <span class="username s380">아이디</span>
                <span class="email s430">이메일</span>
                <span class="joindate s140">가입일</span>
                <span class="shape s140">기업형태</span>
              </div>
              <div class="list_body" th:each="item, i : ${allowList}" onclick="detail(this)">
                <span class="check"><input type="checkbox" name="2_3_check"></span>
                <span class="number s100">[[${i.count}]]</span>
                <span class="corp_name s320">[[${item.user_name}]]</span>
                <span class="username s380">[[${item.user_id}]]</span>
                <span class="email s430">[[${item.user_email}]]</span>
                <span class="joindate s140">[[${item.user_regdate}]]</span>
                <span class="shape s140">[[${item.etp_shape}]]</span>
              </div>
              <div class="list_button">
                <button class="list_submit">삭제</button>
              </div>
            </div>
          </div>
          <div id="main2_corp_perList">
            <!-- 회원관리 > 기업 관리 > 기업 가입 승인 -->
            <div class="sub_menu_title">
              <h3>기업가입승인</h3>
            </div>
            <div class="list" id="e_per_list">
              <div class="list_head">
                                    <span class="check"><input type="checkbox" name="2_4_checkH"
                                                               onclick="checkAll(this)"></span>
                <span class="number s100">번호</span>
                <span class="corp_name s320">기업명</span>
                <span class="username s380">아이디</span>
                <span class="email s430">이메일</span>
                <span class="joindate s140">가입일</span>
                <span class="shape s140">기업형태</span>
              </div>
              <div class="list_body" th:each="item, i : ${notAllowList}" onclick="detail(this)">
                <span class="check"><input type="checkbox" name="2_4_check"></span>
                <span class="number s100">[[${i.count}]]</span>
                <span class="corp_name s320">[[${item.user_name}]]</span>
                <span class="username s380">[[${item.user_id}]]</span>
                <span class="email s430">[[${item.user_email}]]</span>
                <span class="joindate s140">[[${item.user_regdate}]]</span>
                <span class="shape s140"><select name="2_3_shape" class="shapeSelect">
                                            <option value="">기업형태</option>
                                            <option value="대기업">대기업</option>
                                            <option value="중견기업">중견기업</option>
                                            <option value="중소기업">중소기업</option>
                                        </select></span>
              </div>
              <div class="list_button">
                <button class="list_submit">승인</button>
                <button class="list_submit">거절</button>
              </div>
            </div>
          </div>
        </div>
        <div class="main2">
          <!-- 회원 관리 > 가입 현황-->
          <div class="sub_menu_title">
            <h3>가입통계</h3>
          </div>
          <!--회원 관리 > 회원 가입 통계-->
          <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description">
              햄버거는 핫크리스피햄버거
            </p>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script src="/js/admin.js"></script>
<script src="/js/admin-dashboard.js"></script>
<script src="/js/admin-userManage.js"></script>
<script src="/js/admin-employ.js"></script>
<script src="/js/admin-application.js"></script>
<script src="/js/admin-board.js"></script>
<script src="/js/admin-consult.js"></script>
<script src="/js/admin-supportProgram.js"></script>

</html>