<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="../../static/css/common.css" />
<link rel="stylesheet" href="../../static/css/admin-style.css" />
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
<script src="../../static/js/admin.js"></script>
<script src="../../static/js/userlist.js"></script>
<script src="../../static/js/jquery-3.5.1.min.js"></script>
<title>admin</title>
</head>
<body>

    <div class="menubox">
        <div class="menubox-header">
            <H2>ADMIN</H2>
        </div>
        <div class="menubox-body">
            <div class="menubox-body-menu" onclick="menu_script_1()">
                <h4><i class="far fa-user" style="margin-right:20px; font-size:20px; color:rgb(153, 151, 151);"></i>회원관리 <i class="fas fa-chevron-down" style="font-size:12px; margin-left:40%; color:rgb(153, 151, 151);" ></i><i class="fas fa-chevron-up" style="font-size:12px; margin-left:40%; color:rgb(153, 151, 151); display:none;" ></i></h4>
            </div>
            <div class="menubox-body-sub">
                <h4>회원 리스트</h4>
                <h4>회원관리</h4>
                <h4>회원가입승인</h4>
                <h4 style="!important;margin-bottom:10px">회원등급수정</h4>
            </div>
         

            <div class="menubox-body-menu" onclick="menu_script_2()">
                <h4><i class="far fa-user" style="margin-right:20px; font-size:20px; color:rgb(153, 151, 151);"></i>회원관리 <i class="fas fa-chevron-down" style="font-size:12px; margin-left:40%; color:rgb(153, 151, 151);" ></i><i class="fas fa-chevron-up" style="font-size:12px; margin-left:40%; color:rgb(153, 151, 151); display:none;" ></i></h4>
            </div>
            <div class="menubox-body-sub">
                <h4>회원목록</h4>
                <h4>회원승인</h4>
                <h4>회원가입요청</h4>
                <h4>권한수정요청</h4>
            </div>


            <div class="menubox-body-menu" onclick="menu_script_3()">
                <h4><i class="far fa-user" style="margin-right:20px; font-size:20px; color:rgb(153, 151, 151);"></i>회원관리 <i class="fas fa-chevron-down" style="font-size:12px; margin-left:40%; color:rgb(153, 151, 151);" ></i><i class="fas fa-chevron-up" style="font-size:12px; margin-left:40%; color:rgb(153, 151, 151); display:none;" ></i></h4>
            </div>
            <div class="menubox-body-sub">
                <h4>회원목록</h4>
                <h4>회원승인</h4>
                <h4>회원가입요청</h4>
                <h4>권한수정요청</h4>
            </div>


            <div class="menubox-body-menu" onclick="menu_script_4()">
                <h4><i class="far fa-user" style="margin-right:20px; font-size:20px; color:rgb(153, 151, 151);"></i>회원관리 <i class="fas fa-chevron-down" style="font-size:12px; margin-left:40%; color:rgb(153, 151, 151);" ></i><i class="fas fa-chevron-up" style="font-size:12px; margin-left:40%; color:rgb(153, 151, 151); display:none;" ></i></h4>
            </div>
            <div class="menubox-body-sub">
                <h4>회원목록</h4>
                <h4>회원승인</h4>
                <h4>회원가입요청</h4>
                <h4>권한수정요청</h4>
            </div>
        </div>
    </div>


    
    <div class="main" id="main1">
            <div class="main-head">
                <h4>회원리스트</h4>
            </div>
            <div class="main-guide">
                <div class="main-guide-select">
                    <div class="main-guide-c">
                        <div class="circle"></div><h2>구분</h2>
                            <select name="job">
                                <option value="">회원 구분</option>
                                <option value="학생">학생</option>
                                <option value="기업">기업</option>
                                <option value="교수">교수</option>
                                <option value="멘토">멘토</option>
                                <option value="상담사">상담사</option>
                            </select>
                    </div>



                    <div class="main-guide-c">
                        <div class="circle"></div><h2>회원 가입일</h2>
                        <input type="text" style="width:120px; height:25px; margin:auto 0; margin-right:5px;">
                        <i class="far fa-calendar-alt" style="margin:auto 0; margin-right:10px;"></i>
                        <p>~</p>
                        <input type="text" style="width:120px; height:25px; margin:auto 10px; margin-right:5px;">
                        <i class="far fa-calendar-alt" style="margin:auto 0; margin-right:10px;"></i>
                        <button style="margin:auto 3px;">오늘</button>
                        <button style="margin:auto 3px;">이번주</button>
                        <button style="margin:auto 3px;">이번달</button>
                        <button style="margin:auto 3px;">전체</button>
                    </div>



                    <div class="main-guide-c">
                        <div class="circle"></div><h2>이름</h2>
                        <select name="i_n">
                            <option value="아이디">아이디</option>
                            <option value="이름">이름</option>
                        </select>
                        <input type="text" style="height:25px; margin:auto 0;" name="i_n_text">
                    </div>
                </div>
                <div class="main-guide-choese">
                    <button style="margin:auto 3px; width:100px; height:100px; background-color:#07bad4;
                    color:white; font-size:16px; font-weight:bolder;"
                            onclick="select()">검색</button>
                </div>
            </div>
            <h5 style="margin:0 0 0 35px; font-weight:300;" >검색 결과 : ? 명</h5>
            <div class="main-content">
                <div class="main-content-listhead">
                    <input type="checkbox" name="check" value="selectAll" class="check" onclick="selectAll(this)">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class=joindate>가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">관리</span>
                </div>
                <hr style="border:solid 2px #e2e2e2";>

                <div class="main-content-list">
                    <input type="checkbox" name="check" value="" class="check" >
                    <span class="number">1</span>
                    <span class="name">지민우</span>
                    <span class="username">아이디</span>
                    <span class="phone">01021259225</span>
                    <span class="email">dddddd@naver.com</span>
                    <span class="joindate">2013-03-18</span>
                    <span class="grade">학생</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>

                    <input type="checkbox" name="check" value="" class="check">
                    <span class="number">번호</span>
                    <span class="name">이름</span>
                    <span class="username">아이디</span>
                    <span class="phone">연락처</span>
                    <span class="email">이메일</span>
                    <span class="joindate">가입일</span>
                    <span class="grade">등급</span>
                    <span class="detail">상세보기</span>
                    <hr style="border:solid 1px #f5f5f5";>
                </div>
            </div>

            <div class="btnside"><i class="far fa-caret-square-left"></i>
                <div class="btnpage">
                    <span>1</span>
                </div>
                <i class="far fa-caret-square-right"></i>
            </div>
    </div>
</body>
</html>