<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <script th:async src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jquery에서 제공하는 최신 버전의 jQuery url-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <title>admin</title>

  <!--차트 src-->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <!--데이터에 라벨 붙이는 기능-->
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <!--highchart로 생성한 그래프를 jpg,png등으로 다운받을 수 있음-->
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <!--외부 사용자들이 데이터를 다운로드할 수 있게-->
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>

<body>

<!--모달효과 줄것들은 따로 뺴놓습니다-->
<div id="main6_detail">
  <!-- 상담목록상세정보 -->
  <div class="detailBox" id="detail_consult">
    <div class="d_role"><i class="fas fa-hands-helping"></i></div>
    <div class="d_box">
      <div class="d_tagN">목록번호</div>
      <input type="text" class="d_cont" value="목록번호" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">상담종류</div>
      <select class="d_cont">
        <option>진로 상담</option>
        <option>취업 상담</option>
        <option>창업 상담</option>
      </select>
    </div>
    <div class="d_box">
      <div class="d_tagN">상담제목</div>
      <input type="text" class="d_cont" value="상담제목">
    </div>
    <div class="d_box">
      <div class="d_tagN">등록일</div>
      <input type="text" class="d_cont" value="등록일" readonly>
    </div>
    <div class="d_box">
      <div class="d_tagN">수정일</div>
      <input type="text" class="d_cont" value="수정일" readonly>
    </div>
    <div class="d_btn">
      <button class="d_button" name="d_button">수정</button>
      <button class="d_button">삭제</button>
    </div>
  </div>
</div>

<div id="shadow_box">
  <div th:replace="admin/layout :: header"/>
  <div id="wrap">
    <div th:replace="admin/layout :: menubox"/>

    <div id="main_wrap">
      <div id="menu_guide">
        <ul class="guide">상담관리 |
          <select class="guide_select">
            <option>상담관리</option>
            <option>상담등록</option>
          </select>
        </ul>
      </div>
      <div id="menu_title">
        <h3>상담관리</h3>
      </div>

      <div class="main">
        <!--상담관리-->
        <div class="main6" id="main6_counsult">
          <!--상담관리 > 상담관리-->
          <form action="/admin/admin_consult" method="get" id="searchForm">
          <div id="main6_counsult_search">
            <div class="sub_menu_title">
              <h3>상담목록 검색</h3>
            </div>
            <div class="search">
              <ul>
                <li>상담 종류</li>
                <li>
                  <select class="consult-select" name="type">
                    <option value="" th:selected="${pageRequestDTO.type == null}">상담 종류</option>
                    <option value="t" th:selected="${pageRequestDTO.type == 'r'}">진로 상담</option>
                    <option value="t" th:selected="${pageRequestDTO.type == 'up'}">취업 상담</option>
                    <option value="t" th:selected="${pageRequestDTO.type == 'ch'}">창업 상담</option>
                  </select>
                </li>
              </ul>
              <ul>
                <li>상담 프로그램명</li>
                <li> <input name="keyword" th:value="${pageRequestDTO.keyword}"></li>
              </ul>
<!--              <ul>-->
<!--                <li>담당 상담사</li>-->
<!--                <li> <input type="text"></li>-->
<!--              </ul>-->
              <div class="search_button">
                <button class="search_submit">
                  <h3>검색</h3>
                </button>
              </div>
            </div>
          </div>
          </form>
          <div id="main6_counsult_list">
            <div class="sub_menu_title">
              <h3>상담리스트</h3>
            </div>
            <div class="list">
              <div class="list_head">
                                    <span class="check"><input type="checkbox" name="6_1_checkH"
                                                               onclick="checkAll(this)"></span>
                <span class="number s140">목록번호</span>
                <span class="type s240">상담종류</span>
                <span class="title s650">상담제목</span>
                <span class="regdate s240">등록일</span>
                <span class="moddate s240">수정일</span>
<!--                <span class="preference">신청건수</span>-->
              </div>

              <div class="list_body" th:each=" consult : ${consultlist}" onclick="detail(this)">
                <span class="check"><input type="checkbox" name="6_1_check"></span>
                <span class="number s140">[[${consult.cno}]]</span>
                <span class="type s240">[[${consult.type}]]</span>
                <span class="title s650">[[${consult.name}]]</span>
                <span class="regdate s240">[[${#temporals.format(consult.consult_regdate, 'YYYY-MM-dd ')}]]</span>
                <span class="moddate s240">[[${#temporals.format(consult.consult_moddate, 'YYYY-MM-dd ')}]]</span>
              </div>
              <div class="list_button">
                <button class="list_submit">삭제</button>
              </div>
            </div>
          </div>
        </div>
        <div class="main6" id="main6_register">
          <!--상담관리 > 상담등록-->
          <form action="/admin/admin_consult" method="post">
            <div id="main6_counsult_register">
              <div class="sub_menu_title">
                <h3>상담등록</h3>
              </div>
              <div class="search register">
                <ul>
                  <li>상담 종류</li>
                  <li>
                    <select class="register_data" name="consult_field">
                      <option value="">상담 종류</option>
                      <option value="진로 상담">진로 상담</option>
                      <option value="취업상담">취업 상담</option>
                      <option value="창업상담">창업 상담</option>
                    </select>
                  </li>
                </ul>
                <ul>
                  <li>상담 프로그램명</li>
                  <li><input type="text" name="consult_detail_field"  class="register_data" maxlength="15" /></li>
                </ul>
                <div class="search_button">
                  <button class="register_submit">
                    <h3>등록</h3>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script src="/js/admin.js"></script>
<script src="/js/admin-dashboard.js"></script>
<script src="/js/admin-userManage.js"></script>
<script src="/js/admin-employ.js"></script>
<script src="/js/admin-application.js"></script>
<script src="/js/admin-board.js"></script>
<script src="/js/admin-consult.js"></script>
<script src="/js/admin-supportProgram.js"></script>

</html>