<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
  <head>
    <title>취업정보센터</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <script src="https://kit.fontawesome.com/3a29a769fa.js" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="/css/simli_test_over.css" />
      <link rel="stylesheet" href="/css/simli_test.css" />
      <link rel="stylesheet" href="/css/center_guide.css" />
      <link rel="stylesheet" href="/css/center_intro.css">
      <link rel="stylesheet" href="/css/frame.css">



  </head>
  <body class="is-preload">
    <div id="page-wrapper">
		
      <!-- Header -->
      <header id="header">


          <!--네비 div-->
          <div th:replace="layout/layout :: nav"/>


          <!--네비 div 끝-->
      </header>


      <!-- Main -->
      <div id="mainWrap">
      <section id="main">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <div class="sidebar">
               <div class="menu2">
    <div id="bar">
        <h2>진로지원</h2>
        <ul id="menu_bar">
            <li id="menu_con1"><h4>진로심리검사</h4>
                <ul>
                    <li><a href="/upgrade/upgrade">진로지원프로그램</a></li>
                    <li><a href="/career-planning/simli_test" style="color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);">진로심리검사</a></li>
<!--                    <li><a href="/job-information/job-information">직업정보</a></li>-->
<!--                    <li><a href="/job-information/job-dictionary">직업사전</a></li>-->

                    <!--                                <li><a href="/upgrade/c-inpression">지원프로그램 후기</a></li>-->
                    <!--                                <li><a href="/upgrade/impression-write">후기 등록</a></li>-->
                </ul>
            </li>
        </ul>
    </div> <!-- bar -->
</div> <!-- menu -->
               
              </div>
            </div>
            
            <div class="col-9 col-12-medium imp-medium" style="width:40%">
              <div class="content">
                <!-- Content -->

                <article class="box page-content">
                    <header>
                        <h2 class="h2">진로심리검사</h2>
                        <div id="simli-intro" style="box-shadow:0px 0px 1px 1px #0202025e;" >
                          <i class="fas fa-bullhorn"></i>
                        <p style="margin:15px 15px 15px 0px;">
                          고용노동부 직업심리검사는 개인의 능력과 흥미, 성격 등 다양한 심리적 특성을 객관적으로 측정하여 자신에 대한 이해를 돕고 개인의 특성에 보다 적합한 진로분야를 선택할 수 있도록 도와드립니다.
                        </p>
                  </div>
                    
                  </header>

                  <section>
                      <ul >
						         <li class="square" style="font-size:17px; font-weight:700; list-style-type: none"><h3 style="font-weight:500; color:#030303;" >진로심리검사 종류</h3></li>
					           </ul>


                      <section>
                          <ul class="square" style="margin-top: 25px;">
                              <li>
                                  <h3>● 직업선호도검사 L형</h3>
                              </li>
                              <li>
                                  <p>
                                      직업선호도검사 L형은 대학생 및 성인구직자들이 자신의 흥미, 성격, 생활경험과 같은 심리적 특성을 이해할 수 있도록 하고, 검사결과를 종합적으로 해석하여 직업탐색 및 직업선택과 같은 직업의사결정을 하는데 도움을 제공해주기 위한 검사입니다.
                                  </p>
                              </li>
                          </ul>
                      </section>

                      <section>
                          <ul class="square" style="margin-top: 25px;">
                              <li>
                                  <h3>● 직업선호도검사 S형</h3>
                              </li>
                              <li>
                                  <p>
                                      직업선호검사 S형은 개인이 좋아하는 활동, 자신감을 가지고 있는 분야, 관심있는 직업 및 학문분야 등을 측정하여 직업탐색 및 직업선택과 같은 직업의사결정을 하는데 도움을 주기위한 심리검사입니다.</p>
                              </li>
                          </ul>
                      </section>
                      <section>
                          <ul class="square" style="margin-top: 25px;">
                              <li>
                                  <h3>● 성인용 직업적성검사</h3>
                              </li>
                              <li>
                                  <p>
                                      성인용 직업적성검사는 우리나라의 직업들에서 요구하는 고유한 적성요인을 반영한 검사로 피검사자가 희망하는 직업에서 요구하는 능력과 피검사자 자신의 능력을 비교할 수 있도록 하여 자신이 바라는 직업을 선택하기 위해 어떤 적성요인에 대한 관심을 기울이고 노력해야 하는지를 알려드리기 위한 검사입니다.</p>
                              </li>
                          </ul>
                      </section>
                      <section>
                          <ul class="square" style="margin-top: 25px;">
                              <li>
                                  <h3>● 창업적성검사</h3>
                              </li>
                              <li>
                                  <p>
                                      창업적성검사는 기업가로서 갖춰야 할 적성을 사업지향성, 대인관계, 문제해결, 설득력 등 12개 항목*으로 나눠 각 항목별로 수검자의 역량을‘매우 적합’에서 ‘노력 필요’까지 4단계로 평가해 피검사자가 얼마나 창업에 적합한지를 진단해준다.</p>
                              </li>
                          </ul>
                      </section>
                      <section>
                          <ul class="square" style="margin-top: 25px;">
                              <li>
                                  <h3>● 직업가치관검사</h3>
                              </li>
                              <li>
                                  <p>
                                      직업가치관검사는 개인이 중요하게 생각하는 직업가치관에 대해 측정하여 개인의 직업가치를 실현하기 위해 가장 적합한 직업을 안내해 줍니다.</p>
                              </li>
                          </ul>
                      </section>
                  </section>
                </article>
              </div>

                <a href="https://www.work.go.kr/consltJobCarpa/jobPsyExamNew/jobPsyExamAdultList.do" target="_blank">
                    <img src="/img/직업신리검사.png" width="320px" height="90px" style="box-shadow:0px 0px 1px 1px #0202025e; margin-top:25px;">
                    <u style="font-size:12px; font-weight:400; color:#2659C5">워크넷 진로심리검사 바로가기</u>
                </a>

            </div>
                  </div>
                </div>
              </section>
          <!--footer -->
          <footer th:replace="layout/layout :: footer"/>
            </div>
          </div>
        </div>
      </section>
      <!-- <div class="footer">
      <ul class="footer_1">
        <li class="footer_1_c">개인정보처리방침</li>
        <li class="footer_1_c">이메일무단수집거부</li>
        <li class="footer_1_c">저작권보호방침</li>
        <li class="footer_1_c">입찰정보</li>
        <li class="footer_1_c">예산공고</li>
      </ul>
      <ul class="footer_2">
        <li class="footer_2_c">전화번호 : 053-819-1000</li>
        <li class="footer_2_c">전화번호 : 053-770-2233</li>
        <li class="footer_2_c">전화번호 : 053-819-1114</li>
      </ul>
      <ul class="footer_3">
        <li class="footer_3_c">
          COPYRIGHT (C) DAEGU YEUNGJIN UNIVERSITY.ALL RIGHTS RESERVED.
        </li>
      </ul>
    </div> -->
      

     
    </div>


    <!-- Scripts -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <!-- <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script> -->
    <!-- <script src="assets/js/main.js"></script> -->
  </body>
</html>
