<nav class="nav-primary hidden-xs">
  <ul class="nav">
    <!-- 사이드메뉴 첫번째 -->
    <li class="active">
      <a href="/mypage/member/read" th:if="${loginUser}" class="active">
        <i class="fa fa-dashboard icon"> <b class="bg-danger"></b> </i>
        <span>회원 정보</span>
      </a>
    </li>

    <!-- 두번째 -->
    <li>
      <a href="#layout">
        <i class="fa fa-columns icon"><b class="bg-warning"></b> </i>
        <span class="pull-right">
          <i class="fa fa-angle-down text"></i
          ><i class="fa fa-angle-up text-active"></i
        ></span>
        <span>신청내역</span>
      </a>
      <ul class="nav lt">
        <li>
          <a href="layout-c.html">
            <i class="fa fa-angle-right"></i>
            <span>상담기록</span>
          </a>
        </li>
        <li>
          <a href="layout-r.html">
            <i class="fa fa-angle-right"></i>
            <span>지원프로그램</span>
          </a>
        </li>
        <li>
          <a href="layout-h.html">
            <i class="fa fa-angle-right"></i>
            <span>멘토링</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- 세번째 -->
    <li>
      <a href="">
        <i class="fa fa-flask icon"> <b class="bg-success"></b> </i>
        <span class="pull-right">
          <i class="fa fa-angle-down text"></i>
          <i class="fa fa-angle-up text-active"></i>
        </span>
        <span>지원서</span>
      </a>
      <ul class="nav lt">
        <li>
          <a href=""> <i class="fa fa-angle-right"></i> <span>이력서</span> </a>
        </li>
        <li>
          <a href="">
            <!-- <b class="badge pull-right">8</b> -->
            <i class="fa fa-angle-right"></i>
            <span>자소서</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-angle-right"></i> <span>경력 사항</span>
          </a>
        </li>
        <li>
          <a href="">
            <!-- <b class="badge bg-info pull-right">369</b> -->
            <i class="fa fa-angle-right"></i> <span>외국어 능력</span>
          </a>
        </li>
        <li>
          <a href=""> <i class="fa fa-angle-right"></i> <span>자격증</span> </a>
        </li>
      </ul>
    </li>
    <!-- 네번째 -->
    <li>
      <a href="">
        <i class="fa fa-file-text icon"><b class="bg-primary"></b></i>
        <span class="pull-right">
          <i class="fa fa-angle-down text"></i>
          <i class="fa fa-angle-up text-active"></i> </span
        ><span>입사지원</span>
      </a>
      <ul class="nav lt">
        <li>
          <a href="">
            <i class="fa fa-angle-right"></i> <span>내 관심기업</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-angle-right"></i> <span>지원목록</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- 다섯번째 -->
    <li>
      <a href="">
        <!-- <b class="badge bg-danger pull-right">3</b>  -->
        <i class="fa fa-envelope-o icon"> <b class="bg-primary dker"></b> </i>
        <span>심리검사 리스트</span>
      </a>
    </li>
    <!-- 여섯번째 -->
    <li>
      <a href="">
        <i class="fa fa-pencil icon"> <b class="bg-info"></b></i>
        <span class="pull-right">
          <i class="fa fa-angle-down text"></i>
          <i class="fa fa-angle-up text-active"></i> </span
        ><span>백호마일리지</span>
      </a>
      <ul class="nav lt">
        <li>
          <a href="gallery.html">
            <i class="fa fa-angle-right"></i> <span>백호 마일리지</span>
          </a>
        </li>
        <li>
          <a href="profile.html">
            <i class="fa fa-angle-right"></i> <span>수료증</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- / nav -->
