<!DOCTYPE html>
<html html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/write-on.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/sidemenu.css" />
    <link rel="stylesheet" href="/css/frame.css">
</head>
<body>
<header id="header">


    <!--네비 div-->
    <div th:replace="layout/layout :: nav"/>
</header>
<div id="main">
<!-- side -->
<div class="no-dap">
<div class="menu2">
    <div id="bar">
        <h2>상담</h2>
        <ul id="menu_bar">
            <li id="menu_con1"><h4>상담 정보</h4>
                <ul id="sb_detail">
                    <li><a href="/upgrade/c-inpression">지원프로그램 신청</a></li>
                    <li><a href="/upgrade/upgrade">지원프로그램 후기</a></li>
                    <li><a href="/upgrade/impression-write">후기 등록</a></li>
                </ul>
            </li>
        </ul>
    </div> <!-- bar -->
</div>
<div class="on-write-wrap" style="
    margin-top: 80px;
    margin-bottom: 80px;">
    <div class="form_box">
        <h3>지원프로그램 후기 등록</h3>
        <div class="input-box">
            <input class="input_field" type="text" placeholder="제목을 입력해 주세요." >
        </div>
        <div class="write-file">
            <label id="on" class="on">
                사진 추가
                <input type="file" aria-label="이미지" accept="image/jpeg, .txt" required
                       onchange="javascript:document.getElementById('file_route').value=this.value"/>
            </label>
            <input class="on" style="width: 200px;" type="text" readonly="readonly" tilte="File Route" id="file_route">
            <div class="cont-write-f" style="display: none;">
                <div class="item-file">
                    <span class="ico_file">파일</span>
                    <span class="txt_file">
                            <span class="txt_file_name">파일 이름</span>
                            <span class="txt_extension">.jpg</span>
                        </span>
                </div>
                <!-- item-file -->
            </div>
            <!-- cont-write-f -->
            <div class="space-1">
                <label class="day-tit" style="margin-left: 8px; margin-right: 5px;">
                    참여 과정
                </label>
                <select class="space-2">
                    <option>참여한 과정을 선택해 주세요.</option>
                    <option>면접 튜터링</option>
                    <option>자기소개서 수정</option>
                    <option>직접 찾아가는 내 직장</option>
                    <option>과정</option>
                </select>
            </div>
            <div class="space-1">
                <lable class="day-tit" style="margin-left: 4px; margin-right: 5px;">
                    참여일
                </lable>
                <input class="space-2" type="date">
            </div>
            <!-- space-1-->
        </div>
        <!-- write-file -->
        <textarea class="textarea_field" placeholder="내용을 입력해 주세요." ></textarea>
        <input type="submit" class="submit-b">
        <!-- 제출 버튼 -->
    </div>
</div>
</div>
    <footer th:replace="layout/layout :: footer"/>

</body>
</html>