<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지원프로그램</title>

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/selectAll1.js"></script>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
    />
    <link rel="stylesheet" href="/css/c-program.css"/>
    <link rel="stylesheet" href="/css/program-model.css"/>
    <link rel="stylesheet" href="/css/sidemenu.css" />
    <link rel="stylesheet" href="/css/frame.css">
    <style>
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="layout/layout :: nav"/>
<div id="main"></div>
    <div id="program-main-wrap" class="d_width">
        <div class="program-L">
            <div class="menu2">
                <div id="bar">
                    <h2>직무역량강화</h2>
                    <ul id="menu_bar">
                        <li id="menu_con1"><h4>지원프로그램</h4>
                            <ul>
                                <li><a href="/upgrade/c-inpression">지원프로그램 신청</a></li>
                                <li><a href="/upgrade/upgrade">지원프로그램 후기</a></li>
                                <li><a href="/upgrade/impression-write">지원프로그램 후기</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> <!-- bar -->
            </div> <!-- menu -->
                <div id="list-area" >
                    <table class="type07">
                        <thead>
                        <tr>
                            <th scope="cols">운영기관</th>
                            <th scope="cols">과정</th>
                            <th scope="cols">회차</th>
                            <th scope="cols">운영 기간</th>
                            <th scope="cols">신청</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="ok">
                            <th sytle="border-right: 1px solid #ccc;">영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width: 280px;
                                    height: 50px;
                            "><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td style="width: 180px;">2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width: 280px;
                                    height: 50px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td class="me-ok"><span class="on-a">신청하기</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width: 280px;
                                    height: 50px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width: 280px;
                                    height: 50px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width:280px;
                                    height: 50px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td class="me-ok"><span class="on-a">신청하기</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width: 280px;
                                    height: 50px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width: 280px;
                                    height: 50px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width: 280px;
                                    height: 50px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td class="me-ok"><span class="on-a">신청하기</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p class="me-ok" style="width: 280px;
                                    height: 50px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <!-- modal -->
            <div class="window"></div>
            <div class="window-content"  style="overflow:scroll; overflow-x:hidden;">
                <div class="modal">
                    <div class="coun-sin">
                        <h3>지원프로그램 참가 신청<p id="close" class="down" style="
                                    margin: 0 20px 0 0;
                                    float: right;"></p></h3>
                    </div>
                    <div class="coun-tit">
                        <p   style="margin-left: 8%;" >운영기관</p>
                        <p style="margin-left: 6%;">과정</p>
                        <p style="margin-left: 5%;">기간</p>
                    </div>
                    <div class="select-N">
                        <select class="N">
                            <!-- 운영기관 값   -->
                            <option value="youngjin">영진전문대학교</option>
                            <option value="daegu">대구청년복지센터</option>
                        </select>
                        <select class="N">
                            <!-- 과정 값   -->
                            <option value="program1">자기성장을돕는프로그램</option>
                            <option value="program2">모의면접</option>
                            <option value="program3">자소서수정</option>
                            <option value="program4">도서관백호마일리지</option>
                        </select>
                        <select class="N">
                            <!-- 기간 값   -->
                            <option value="date1">2021.05.01~2021.05.13</option>
                            <option value="date2">2021.05.01~2021.05.13</option>
                            <option value="date3">2021.05.01~2021.05.13</option>
                            <option value="date4">2021.05.01~2021.05.13</option>
                        </select>
                    </div>
                    <div class="detail-text">
                        <h5 style="
                                    border: 2px solid #ccc;
                                    color: #303841;
                                    background-color: rgb(233, 233, 233);
                                    width: 20%;
                                    font-size: 12px;
                                    text-align: center;
                                    padding: 3px;
                                    margin-bottom: 5px;
                                ">프로그램 신청 및 참여 제한 안내</h5>
                        <p>참여 중인 프로그램의 진행을 합리적인 이유 없이 방해하여 미수료 처리된 이력이 있는 경우에는 해당 프로그램의 종료일 다음 날부터 1개월 간 지역에 상관없이 전체 프로그램의 신청이 제한됩니다.
                            집단상담 참여이력(운영기관 및 수료여부 무관)이 있는 경우에는 효과성 및 지원필요성을 고려하여 해당 프로그램 종료일로부터 2년 간 동일 프로그램 재참여가 제한됩니다.
                            취업특강/단기집단은 운영시간이 일부 중복되거나 동일한 경우에는 동시 신청이 불가능합니다.</p>
                    </div>
                    <div class="context" >
                        <img src="/img/181833833_4481931178503197_8617983078646414137_n.png">
                    </div>
                    <div class="btn-r">
                        <span class="coun-delete">신청하기</span>
                        <span class="coun-close" id="close">닫기</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="layout/layout :: footer"/>
</body>
</html>