<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/c-program.css"/>
    <style>
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="program-main-wrap">
    <div class="program-L">
        <div class="class-1">
            <div id="list-area">
                <div class="tab-list letter-1">
                    <ul>
                        <li style="width: 14.2857%;"><span>지원프로그램 소개</span></li>
                        <li class="curr" style="width: 14.2857%;"><span>지원프로그램 일정</span></li>
                        <li style="width: 14.2857%;"><span>참가 신청</span></li>
                        <li style="width: 14.2857%;"><span>참가 결과 조회</span></li>
                        <li style="width: 14.2857%;"><span>참가 후기</span></li>
                        <li style="width: 14.2857%;"><span>공지사항</span></li>
                    </ul>
                </div>
                <div id="table-on" style="width: 900px;
                    margin: auto;">
                    <div id="coun-list">
                        <p>전체{숫자}건</p>
                    </div>
                    <div id="countrol">
                        <p style="font-size: 13px;
                            color: #1e3c72;
                            border: 1px solid #ccc;
                            padding: 8px;
                            margin-top: 13px;">프로그램 신청 및 참여 제한 안내</p>
                    </div>
                    <table class="type07">
                        <thead>
                        <tr>
                            <th scope="cols">운영기관</th>
                            <th scope="cols">과정</th>
                            <th scope="cols">회차</th>
                            <th scope="cols">운영 기간</th>
                            <th scope="cols">신청</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="ok">
                            <th sytle="border-right: 1px solid #ccc;">영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td style="width: 180px;">2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on-a">접수 중</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on-a">접수 중</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on-a">접수 중</span></td>
                        </tr>
                        <tr class="ok">
                            <th>영진전문대학교</th>
                            <td class="a-1">
                                <p style="width: 250px;"><span class="on-b">비대면</span>자기 성장을 돕는 프로그램</p></td>
                            <td>2021년 10차</td>
                            <td><p>2021.05.10 ~ 2021.05.13</p></td>
                            <td><span class="on">접수 마감</span></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- <div class="next">
                        <p class="pnext" id="pre-a">&lt;</p>
                        <p class="pnext" id="next-a">&gt;</p>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>