<!DOCTYPE html>
<!--nav상단 footer html-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<navbar th:fragment="nav">

    <!--  상단 nav css, js  -->
    <script th:src="@{/js/nav.js}"></script>
    <link rel="stylesheet" th:href="@{/css/nav.css}" />

    <div class="nav">
        <ul class="dep1">
            <li class="logo">
                <a href="/">취업정보센터</a>
            </li>
            <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                <a href="#">진로설계</a>
                <ul class="dep2" onmouseover="nav_on()">
                    <li><a href="/career-planning/simli_test">진로심리검사</a></li>
                    <li><a href="/job-information/job-information">직업정보</a></li>
                    <li><a href="/job-information/job-dictionary">직업사전</a></li>
                </ul>
            </li>
            <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                <a href="#">직무역량강화</a>
                <ul class="dep2" onmouseover="nav_on()">
                    <li><a href="/upgrade/upgrade">지원프로그램</a></li>
                    <li><a href="/license/list">자격증 관리</a></li>
                    <!-- <li><a href="/certificate/list">수료증 관리</a></li> -->
                </ul>
            </li>
            <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                <a href="#">구직역량강화</a>
                <ul class="dep2" onmouseover="nav_on()">
                    <li><a href="/career_data/cv_strategy">취업 자료실</a></li>
                    <li><a href="/application/cv/before">이력서 관리</a></li>
                    <li><a href="/application/introduce/list">자소서 관리</a></li>
                </ul>
            </li>
            <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                <a href="#">구직서비스</a>
                <ul class="dep2" onmouseover="nav_on()">
                    <li><a th:href="@{/Employ/list}"> 채용정보</a></li>
                    <li><a th:href="@{/Employ/register}"> 채용등록</a></li>
                </ul>
            </li>
            <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                <a href="#">상담</a>
                <ul class="dep2" onmouseover="nav_on()">
                    <li><a href="/counseling/intro">상담소개</a></li>
                    <li><a href="/counseling/counseling">상담신청</a></li>
                </ul>
            </li>
            <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                <a href="#">센터정보</a>
                <ul class="dep2" onmouseover="nav_on()">
                    <li><a href="/center-information/center_introduction">센터소개</a></li>
                    <li><a href="/center-information/main_business">주요업무내용</a></li>
                    <li><a href="/center-information/notice_board">공지사항</a></li>
                </ul>
            </li>
            <li class="login">
                <a sec:authorize="!isAuthenticated()" href="/login" >로그인</a>
                <a sec:authorize="isAuthenticated()" href="/logout" >로그아웃</a>
            </li>
            <li class="join">
                <a sec:authorize="!isAuthenticated()" href="/sign-up" >회원가입</a>
                <a sec:authorize="isAuthenticated()" href="/mypage/before/read" >마이페이지</a>
            </li>
        </ul>
    </div>
    <div class="nav2">
        <!--nav2 클래스는 dep2의 배경색만을 위한 클래스-->
    </div>
</navbar>


</body>

<footer th:fragment="footer">
    <link rel="stylesheet"  th:href="@{/css/footer.css}" />

    <div class="footer">
        <div class="footer_top">
        <ul class="footer_1">
            <a href="/"><li class="footer_1_c">홈</li></a>
            <a href="#" onclick="window.open('//www.yju.ac.kr/sites/kr/masterSkin/kr_JW_MS_K2WT003_M/html/privacy_policy_pop.html','','scrollbars=yes,width=650,height=920')"><li class="footer_1_c">개인정보처리방침</li></a>
<!--            <li class="footer_1_c">이메일무단수집거부</li>-->
<!--            <li class="footer_1_c">저작권보호방침</li>-->
<!--            <li class="footer_1_c">입찰정보</li>-->
<!--            <li class="footer_1_c">예산공고</li>-->
        </ul>
        <ul class="imgs">
            <li>
                <a href="https://www.facebook.com/yeungjin" target="_blank">
                    <img src="/img/facebook.png">
                </a>
            </li>
            <li>
                <a href="https://instagram.com/with_yju" target="_blank">
                    <img src="/img/instargram.png">
                </a>
            </li>
            <li>
                <a href="http://with_yjc.blog.me/" target="_blank">
                    <img src="/img/blog.png">
                </a>
            </li>
            <li>
                <a href="http://cafe.naver.com/ystory4u" target="_blank">
                    <img src="/img/naver_cafe.png">
                </a>
            </li>
        </ul>
        </div>
        <div class="footer_bottom">
        <ul class="footer_2">
            <li class="footer_2_c">대표전화 053-940-5114</li>
            <li class="footer_2_c">41527 대구광역시 북구 복현로 35 (복현2동 218) 영진전문대학교</li>
        </ul>
        <ul class="footer_3">
            <li class="footer_3_c">
                COPYRIGHT© YEUNGJIN UNIVERSITY. All RIGHTS RESERVED.
            </li>
        </ul>
        </div>
    </div>
</footer>
</html>