<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>공지사항</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" href="/src/main/resources/static/css/center_guide.css" th:href="@{/css/center_guide.css}"/>
    <link rel="stylesheet" href="/src/main/resources/static/css/frame.css" th:href="@{/css/frame.css}">
    <link rel="stylesheet" href="/css/notice_board.css" />

    <!-- 채용공고 등록 게시판 CSS 디자인 -->
    <link rel="stylesheet" href="/src/main/resources/static/css/notice_board.css" th:href="@{/css/notice_board.css}">
    <!-- 수정 삭제 동작을 하기 위한 jQuery -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <!-- 업로드 스크립트 -->
    <script src="/js/uploadScript.js"></script>
    <script src="/js/notice_board_modify.js"></script>


</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <!--네비 div-->
        <div th:replace="layout/layout :: nav"/>

    </header>

    <!-- Main -->
    <div id="mainWrap">
        <section id="main">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="sidebar">
                            <div class="menu2">
                                <div id="bar">
                                    <h2>센터정보</h2>
                                    <ul id="menu_bar">
                                        <li id="menu_con1"><h4>공지사항</h4>
                                            <ul id="sb_detail">
                                                <li><a href="#" th:href="@{/center-information/center_introduction}">센터소개</a></li>
                                                <li><a href="#" th:href="@{/center-information/main_business}">주요업무내용</a></li>
                                                <li><a href="#" th:href="@{/center-information/notice_board}">공지사항</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div> <!-- bar -->
                            </div> <!-- menu -->
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="col-9 col-12-medium imp-medium">

                        <div id="board_title">
                            <h1>[[${dto.type}]]</h1>
                            <h3>
                                <span id="num">글번호_[[${dto.num}]]</span>
                                <span style="float:right">작성자 : 관리자</span>
                            </h3>
                            <h3>
                                <span style="font-size:16px">[[${dto.title}]]</span>
                                <span style="float:right">작성일 : [[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</span>
                            </h3>
                        </div>

                        <div class="content">
                            <textarea name="content" th:value="${dto.content}" style="margin-top:35px;" readonly ></textarea>
                        </div>

<!--                        <div class="form-group">-->
<!--                            <label >작성자 : 관리자[[${dto.b}]]</label>-->
<!--                            <input type="hidden" class="form-control" name="b" th:value="${dto.b}" readonly>-->
<!--                        </div>-->

                        <!-- 날짜 -->
                        <!-- <div class="form-group">
                            <label >RegDate</label>
                            <input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                        </div>
                        <div class="form-group">
                            <label >ModDate</label>
                            <input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
                        </div> -->
                        <div class="submit_btn">
                            <h3 th:text="${dto.file_name}" style="display:inline-block; margin-right:5px;"></h3>
                            <a id="download" href="" th:download="${dto.file_name}">
                                <button type="button" class="d_cont">Download</button>
                            </a>
                            <div class="right" style="float: right">
                            <a th:href="@{/center-information/notice_board_modify(num = ${dto.num}, page=${requestDTO.page})}" sec:authorize="hasRole('ADMIN')">
                                <button type="button" class="btn btn-primary search_cont">수정</button>
                            </a>

                            <a th:href="@{/center-information/notice_board(page=${requestDTO.page})}">
                                <button type="button" class="btn btn-info search_cont">뒤로</button>
                            </a>
                            </div>
                        </div>

                    </div>
                    <!-- End Content -->

                </div>
            </div>
        </section>

        <!--footer -->
        <footer th:replace="layout/layout :: footer"/>
    </div>
</div>
</div>
</section>

</div>

<!-- Scripts -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script th:inline="javascript">
$('textarea[name=content]').val([[${dto.content}]]);
</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<!-- <script src="assets/js/main.js"></script> -->
</body>
</html>
