<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공지사항</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/src/main/resources/static/css/center_guide.css" th:href="@{/css/center_guide.css}"/>
    <link rel="stylesheet" href="/src/main/resources/static/css/frame.css" th:href="@{/css/frame.css}">
    <link rel="stylesheet" href="/css/notice_board.css" />
    <link rel="stylesheet" href="/css/pagenation.css" />


    <!--  검색 이벤트 처리를 위한 jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <!--네비 div-->
        <div th:replace="layout/layout :: nav"/>
    </header>

    <!-- Main -->
    <div id="mainWrap">
        <section id="main">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="sidebar">
                            <div class="menu2">
                                <div id="bar">
                                    <h2>센터정보</h2>
                                    <ul id="menu_bar">
                                        <li id="menu_con1"><h4>공지사항</h4>
                                            <ul id="sb_detail">
                                                <li><a href="#" th:href="@{/center-information/center_introduction}">센터소개</a></li>
                                                <li><a href="#" th:href="@{/center-information/main_business}">주요업무내용</a></li>
                                                <li><a href="#" th:href="@{/center-information/notice_board}">공지사항</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div> <!-- bar -->
                            </div> <!-- menu -->
                        </div>
                    </div>

                    <!-- Content -->
                     <div class="col-9 col-12-medium imp-medium">

                        <!-- Board table -->
                            <div id="board_title">
                                <h1>공지사항</h1>
                            </div>
                            <!--   <div>게시글 수: <span th:text="${#lists.size(boards)}"></span></div>-->

                            <!-- 게시판 테이블 -->
                         <div class="table">
                             <div class="t_head t_line">
                                 <span class="number"><h4>번호</h4></span>
                                 <span class="title"><h4>제목</h4></span>
                                 <span class="writer"><h4>작성자</h4></span>
                                 <span class="date"><h4>작성일</h4></span>
                             </div>
                             <div class="t_body t_line" th:each="dto : ${result.dtoList}">
                                 <a th:href="@{/center-information/notice_board_read(num = ${dto.num}, page= ${result.page})}">
                                 <span class="number"><h4>[[${dto.num}]]</h4></span>
                                 <span class="title"><h4>[[${dto.title}]]</h4></span>
                                 <span class="writer"><h4>관리자[[${dto.b}]]</h4></span>
                                 <span class="date"><h4>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</h4></span>
                                 </a>
                             </div>
                         </div>

                         <div id="board_footer">

                             <!-- 검색 조건 -->
                             <form action="/center-information/notice_board" method="get" id="searchForm">
<!--                                <input type="hidden" name="page" value = "1">-->
                                 <select name="type" id="type_s" class="search_cont">
                                     <option value="t" th:selected="${pageRequestDTO.type =='t'}" >제목</option>
                                     <option value="c" th:selected="${pageRequestDTO.type =='c'}"  >내용</option>
                                     <option value="tc"  th:selected="${pageRequestDTO.type =='tc'}" >제목 + 내용</option>
                                 </select>
                                     <input class="form-control search_cont" name="keyword" th:value="${pageRequestDTO.keyword}">
                                     <button class="btn-search search_cont" type="button">검색</button>
<!--                                     <button class="btn-clear" type="button">초기화</button>-->
                             </form>
                         </div>
                             <!-- 목록 데이터 페이지 처리 -->
                             <ul class="pagination  h-100 justify-content-center align-items-center" id="pagination">
                                 <li class="page-ltem " th:if="${result.prev}">
                                     <a class="page-link" th:href="@{/center-information/notice_board(page= ${result.start -1})}" tabindex="-1">이전</a>
                                 </li>

                                 <li th:class=" 'page-ltem ' + ${result.page == page?'active':''} " th:each= "page: ${result.pageList}">
                                     <a class="page-link" th:href="@{/center-information/notice_board(page= ${page})}">
                                         [[${page}]]
                                     </a>
                                 </li>

                                 <li class="page-ltem" th:if="${result.next}">
                                     <a class="page-link" th:href="@{/center-information/notice_board(page= ${result.end + 1})}">다음</a>
                                 </li>
                             </ul>

                             <!-- 목록 데이터 페이지 처리 끝-->
                             <!-- End Board table -->
<!--                             <div class="write-btn-div">-->
<!--                                 <button type="button" class="search_cont"-->
<!--                                         onclick="location.href='/center-information/notice_board_register'">-->
<!--                                     글쓰기-->
<!--                                 </button>-->
<!--                             </div>-->

                         <!-- end 검색 조건 -->

                    </div>
                    <!-- End Content -->


                </div>
            </div>
        </section>


        <!--footer -->
        <footer th:replace="layout/layout :: footer"/>
    </div>
</div>
</div>
</section>

</div>

<!-- Scripts -->

<!-- 검색 이벤트 처리 -->
<script th:inline="javascript">

    var msg = [[${msg}]];

    console.log(msg);

    if(msg){
        $(".modal").modal();
    }
    var searchForm = $("#searchForm");

    $('.btn-search').click(function(e){

        searchForm.submit();

    });

    $('.btn-clear').click(function(e){

        searchForm.empty().submit();

    });


</script>

<script src="/js/jquery-3.5.1.min.js"></script>

<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script> -->
<!-- <script src="assets/js/main.js"></script> -->
</body>
</html>