<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:script="http://www.w3.org/1999/xhtml">
<head>
    <title>공지사항 등록</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" href="/src/main/resources/static/css/center_guide.css" th:href="@{/css/center_guide.css}"/>
    <link rel="stylesheet" href="/src/main/resources/static/css/frame.css" th:href="@{/css/frame.css}">
    <link rel="stylesheet" href="/css/notice_board.css" />

    <!-- 수정 삭제 동작을 하기 위한 jQuery -->
    <script src="/js/jquery-3.5.1.min.js"></script>

    <!-- 채용공고 등록 게시판 CSS 디자인 -->
    <link rel="stylesheet" href="/src/main/resources/static/css/notice_board.css" th:href="@{/css/notice_board.css}">

    <!-- 업로드 스크립트 -->
    <script src="/js/uploadScript.js"></script>

</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <!--네비 div-->
        <div th:replace="layout/layout :: nav"/>

    </header>

    <!-- Main -->
        <section id="main">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="sidebar">
                            <div class="menu2">
                                <div id="bar">
                                    <h2>센터정보</h2>
                                    <ul id="menu_bar">
                                        <li id="menu_con1"><h4>공지사항</h4>
                                            <ul id="sb_detail">
                                                <li><a href="#" th:href="@{/center-information/center_introduction}">센터소개</a></li>
                                                <li><a href="#" th:href="@{/center-information/main_business}">주요업무내용</a></li>
                                                <li><a href="#" th:href="@{/center-information/notice_board}">공지사항</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div> <!-- bar -->
                            </div> <!-- menu -->
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="col-9 col-12-medium imp-medium">
                        <div id="board_title" style="border-bottom: initial; height:initial;">
                            <h1>공지사항 등록</h1>
<!--                            <h3>학생들과 소통하는 공간입니다</h3>-->
                        </div>
                        <form th:action="@{/center-information/notice_board_register}" th:method="post">

                            <div class="register">
                                <label>분류</label>
                                <select class="register_input" name="type" style="padding:0px 10px; line-height:15px;   width:200px;">
                                    <option style="height:35px">공지사항</option>
                                    <option style="height:35px">백호마일리지</option>
                                </select>
                            </div>

                            <div class="register">
                                <label>제목</label>
                                <input type="text" class="register_input" name="title" placeholder="제목을 입력하세요">
                            </div>

                            <div class="register">
                                <label>내용</label>
                                <textarea class="register_input" name="content" placeholder="내용을 입력하세요"></textarea>
                            </div>



                            <div class="form-group fileForm" style="display:flex">
                                <input type="text" class="d_cont" name="board_file">
                                <input type="text" class="fileNameInput d_cont" name="file_name" value="파일명">

                                <!-- 확인 후 지울 것
                                -------------------------------------
                                  원본 파일명을 담는 input text 태그
                                -------------------------------------
                                  파일업로드를 하여 업로드 함수 동작 시 value 값(파일명)이 업로드한 파일명(예:filename.jpg)으로 변경됨
                                  함수 코드는 uploadScript.js 파일을 참고
                                  코드 작성이 완료되면 최종적으로 태그 속성에 hidden을 추가할 것 -->
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input files" id="fileInput" multiple>

                                    <label class="custom-file-label" data-browse="Browse" style="display:none;"></label>
                                </div>
                            </div>

                            <div class="submit_btn">
                                <button type="submit" class="search_cont">등록</button>
                            </div>

                        </form>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
        </section>


        <!--footer -->
</div>
</div>
</section>
<footer th:replace="layout/layout :: footer"/>


<!-- Scripts -->
<script src="/js/jquery-3.5.1.min.js"></script>

<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script> -->
<!-- <script src="assets/js/main.js"></script> -->
</body>
</html>
