<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공지사항</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <link rel="stylesheet" href="/src/main/resources/static/css/center_guide.css" th:href="@{/css/center_guide.css}"/>
    <link rel="stylesheet" href="/src/main/resources/static/css/frame.css" th:href="@{/css/frame.css}">
    <link rel="stylesheet" href="/src/main/resources/static/css/nav.css" th:href="@{/css/nav.css}">

</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <navbar>
            <div class="nav">
                <ul class="dep1">
                    <li class="logo">
                        <a href="/" th:href="@{/#}">영진전문대학교</a>
                    </li>
                    <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                        <a href="#">진로설계</a>
                        <ul class="dep2" onmouseover="nav_on()" >
                            <li><a href="/career-planning/simli_test">진로심리검사</a></li>
                            <li><a href="#">직업정보</a></li>
                        </ul>
                    </li>
                    <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                        <a href="#">직무역량강화</a>
                        <ul class="dep2" onmouseover="nav_on()" >
                            <li><a href="#">지원프로그램</a></li>
                            <li><a href="#">자격증/수료증 관리</a></li>
                            <li><a href="#">백호마일리지</a></li>
                        </ul>
                    </li>
                    <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                        <a href="#">구직역량강화</a>
                        <ul class="dep2" onmouseover="nav_on()" >
                            <li><a href="#">이력서/자소서 tip!</a></li>
                            <li><a href="#">이력서/자소서 등록</a></li>
                            <li><a href="#">온라인 멘토링</a></li>
                            <li><a href="#">모의면접</a></li>
                        </ul>
                    </li>
                    <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                        <a href="#">구직서비스</a>
                        <ul class="dep2" onmouseover="nav_on()" >
                            <li><a href="#">채용정보</a></li>
                            <li><a href="#">채용등록</a></li>
                            <li><a href="#">입사지원관리</a></li>
                        </ul>
                    </li>
                    <li class="menu" onmouseover="nav_on()" onmouseout="nav_off()">
                        <a href="#">상담관리</a>
                        <ul class="dep2" onmouseover="nav_on()">
                            <li><a href="#">허허</a></li>
                        </ul>
                    </li>
                    <li class="login">
                        <a href="#">로그인</a>
                    </li>
                    <li class="join">
                        <a href="#">회원가입</a>
                    </li>
                </ul>
            </div>
            <div class="nav2"><!--nav2 클래스는 dep2의 배경색만을 위한 클래스-->
            </div>
        </navbar>
    </header>

    <!-- Main -->
    <div id="mainWrap">
        <section id="main">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="sidebar">
                            <div class="menu2">
                                <div id="bar">
                                    <h2>센터안내</h2>
                                    <ul id="menu_bar">
                                        <li id="menu_con1"><h4>센터정보</h4>
                                            <ul id="sb_detail">
                                                <li><a href="#" th:href="@{/center-information/center_introduction}">센터소개</a></li>
                                                <li><a href="#" th:href="@{/center-information/main_business}">주요업무내용</a></li>
                                                <li><a href="#" th:href="@{/center-information/notice_board}">공지사항</a></li>
                                            </ul>
                                        </li>
                                        <!-- <li id="menu_con2"><h4>직업 정보</h4>
                                            <ul id="sb_detail">
                                                <li><a href="#">직업 정보 조회</a></li>
                                                <li><a href="#">직업 사전</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu_con3"><h4>상담 정보</h4>
                                            <ul id="sb_detail">
                                                <li><a href="#">상담 신청</a></li>
                                                <li><a href="#">상담 내역</a></li>
                                            </ul>
                                        </li> -->
                                    </ul>
                                </div> <!-- bar -->
                            </div> <!-- menu -->
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="col-9 col-12-medium imp-medium">
                        <div class="content">

                            <!-- Board table -->
                            <div class="container">
                                <h2>공지사항</h2>
                                <div>게시글 수: <span></span></div>
    <!--                                <div class="form-group mx-sm-3 mb-2">-->
    <!--                                    <label for="searchText" class="sr-only">search</label>-->
    <!--                                    <input type="text" class="form-control" id="searchText" name="searchText"-->
    <!--                                           th:value="${param.searchText}" placeholder="검색 ">-->
    <!--                                    <button type="submit" class="btn btn-outline-success">검색</button>-->
    <!--                                </div>-->
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                <th>글 번호</th>
                                                <th>제목</th>
                                                <th>작성자</th>
                                                <th>작성일</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="board : ${boards}">
                                                <td th="${board.id}">1</td>
                                                <td th="${board.title}">공지사항 제목</td>
                                                <td th="${board.b}">John Doe</td>
                                                <td>2021-00-00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                <!-- 등록 버튼 -->
                                <div>
                                    <a th:href="@{/center-information/notice_board_form}">글쓰기</a>
                                </div>

                              </div>
                            </div>
                        </div>


<!--                            <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/board/list}">-->
<!--                                <div>게시글 수 : <span th:text="${boards.totalElements}"></span></div>-->
<!--                                <div class="form-group mx-sm-3 mb-2">-->
<!--                                    <label for="searchText" class="sr-only">search</label>-->
<!--                                    <input type="text" class="form-control" id="searchText" name="searchText"-->
<!--                                           th:value="${param.searchText}" placeholder="검색 ">-->
<!--                                    <button type="submit" class="btn btn-outline-success">검색</button>-->
<!--                                </div>-->
<!--                            </form>-->

<!--                            <table class="table table-dark table-striped">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    <th scope="col">번호</th>-->
<!--                                    <th scope="col">제목</th>-->
<!--                                    <th scope="col">작성자</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->

<!--                         &lt;!&ndash;th:each(for루프)를 사용하여 게시판 데이터를 가져온다. &ndash;&gt;-->
<!--                        <tr th:each="board : ${boards}" style="text-align: left;">  -->
<!--                            <td th:text="${board.id}">NUMBER</td>-->
<!--                            <td><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">TITLE</a></td>-->
<!--                            <td th:text="${board.user.username}"></td>-->
<!--                        </tr>-->

                </div>
            </div>
        </section>


        <div class="footer">
            <ul class="footer_1">
                <li class="footer_1_c">개인정보처리방침</li>
                <li class="footer_1_c">이메일무단수집거부</li>
                <li class="footer_1_c">저작권보호방침</li>
                <li class="footer_1_c">입찰정보</li>
                <li class="footer_1_c">예산공고</li>
            </ul>
            <ul class="footer_2">
                <li class="footer_2_c">전화번호 : 053-819-1000</li>
                <li class="footer_2_c">전화번호 : 053-770-2233</li>
                <li class="footer_2_c">전화번호 : 053-819-1114</li>
            </ul>
            <ul class="footer_3">
                <li class="footer_3_c">
                    COPYRIGHT (C) DAEGU YEUNGJIN UNIVERSITY.ALL RIGHTS RESERVED.
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</section>




</div>

<!-- Scripts -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/footer.js"></script>
<script src="/js/nav.js"></script>

<!-- <script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script> -->
<!-- <script src="assets/js/main.js"></script> -->
</body>
</html>
