<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원정보 조회페이지</title>
</head>
<body>
<div class="modify-wrap">

  <form th:if="${etp}">
    <div>
      아이디 :
      <input type="text" id="user_id" th:value="${etp.getUser_id()}" readonly>
    </div>

    <div>
      이메일 :
      <input type="text" id="user_email" th:value="${etp.getUser_email()}">
    </div>

    <div>
      담당자 이름 :
      <input type="text" id="user_name" th:value="${etp.getUser_name()}">
    </div>

    <div>기업 정보</div>

    <div> 사업자등록번호 :
      <input type="text" id="etp_num" th:value="${etp.getEtp_num()}" readonly>
    </div>

    <div> 기업명 :
      <input type="text" id="etp_name" th:value="${etp.getEtp_name()}">
    </div>

    <div> 우편번호 :
      <input type="text" id="user_postcode" th:value="${etp.getUser_postcode()}">
    </div>

    <div> 주소 :
      <input type="text" id="user_addr" th:value="${etp.getUser_addr()}">
    </div>

    <div> 상세주소 :
      <input type="text" id="user_addr_details" th:value="${etp.getUser_addr_details()}">
    </div>

    <div> 대표자 이름 :
      <input type="text" id="etp_ceo_name" th:value="${etp.getEtp_ceo_name()}">
    </div>

    <div> 기업 전화번호 :
      <input type="text" id="user_ph" th:value="${etp.getUser_ph()}">
    </div>

    <div> 기업 직원 수 :
      <input type="text" id="etp_member" th:value="${etp.getEtp_member()}">
    </div>

    <div> 홈페이지 주소 :
      <input type="text" id="etp_home" th:value="${etp.getEtp_home()}">
    </div>

    <div> 업종 :
      <input type="text" id="etp_sector" th:value="${etp.getEtp_sector()}" readonly>
    </div>

    <div> 주요 사업 내용 :
      <input type="text" id="etp_contents" th:value="${etp.getEtp_contents()}">
    </div>

    <div> 팩스 번호 :
      <input type="text" id="etp_fx" th:value="${etp.getEtp_fx()}">
    </div>

    <div> 기업 설립년도 :
      <input type="text" id="etp_year" th:value="${etp.getEtp_year()}" readonly>
    </div>

    <input type="submit" value="수정" id="modifyMember">

  </form>

  <a th:href="@{/mypage/member/modifyPw(user_id=${etp.getUser_id()})}">
    비밀번호 변경하기
  </a>

  <br>
  <a th:href="@{/mypage/member/delete(user_id=${etp.getUser_id()})}">삭제</a>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/js/modify_enterprise.js"></script>

</body>
</html>