<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/sign-up.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
    <script src="/js/postcodify.js"></script>
  </head>
  <body>
    <form action="/signUp/enterprise" id="signUp" name="signUp" method="POST">
      <h1>회원 가입</h1>

      <fieldset>
        <label for="user_id">아이디:</label>
        <input type="text" id="user_id" name="user_id" required />

        <label for="password">비밀번호</label>
        <input type="password" id="user_pw" name="user_pw" required />

        <label for="name">담당자 이름:</label>
        <input type="text" id="user_name" name="user_name" required />

        <label for="mail">담당자 이메일</label>
        <input type="email" id="user_email" name="user_email" required />

        <label for="user_ph">담당자 휴대폰 번호</label>
        <input type="tel" id="user_ph" name="user_ph" required />

        <fieldset class="12">
          <legend><span class="number">2</span>상세 정보</legend>
          <label for="enterprise">기업 명:</label>
          <input type="text" id="etp_name" name="etp_name" />

          <label for="corp_num">사업자등록번호</label>
          <input type="number" id="etp_num" name="etp_num" />

          <label for="corp_rep">대표자 이름:</label>
          <input type="text" id="etp_ceo_name" name="etp_ceo_name" />

          <label for="etp_ph">기업 전화번호</label>
          <input type="tel" id="etp_ph" name="etp_ph" />

          <label for="corp_px">팩스 번호</label>
          <input type="tel" id="etp_px" name="etp_px" />

          <label for="corp_home">홈페이지 url</label>
          <input type="url" id="etp_home" name="etp_home" />

          <label for="corp_contents">주요사업내용</label>
          <textarea id="etp_contents" name="etp_contents"></textarea>

          <!-- 검색 기능-->
          <label for="addr">주소찾기</label>
          <div id="postcodify"></div>

          <input
            type="text"
            name="etp_post"
            id="postcode"
            value=""
            placeholder="우편번호"
            readonly
          /><br />
          <input
            type="text"
            name="etp_addr"
            id="etp_addr"
            value=""
            placeholder="주소"
            readonly
          /><br />
          <input
            type="text"
            name="etp_detail_addr"
            id="details"
            value=""
            placeholder="상세주소"
          /><br />
          <input
            type="text"
            name="extra_info"
            id="extra_info"
            value=""
            placeholder="세부주소"
            readonly
          /><br />
        </fieldset>
        <input
          type="text"
          name="role"
          id="role"
          class="role"
          value="ENTERPRISE"
          readonly
        />

        <label for="">설립년도</label>
        <input class type="date" id="etp_year" name="etp_year" />

        <label for="">직원수</label>
        <input type="number" id="etp_member" name="etp_member" />

        <label for="">업종</label>
        <input type="text" id="etp_Sectorr" name="etp_Sector" />
      </fieldset>

      <button id="submit" type="submit">가입하기</button>
    </form>
    <script src="/js/enterprise_sign-up.js"></script>
  </body>
</html>
