<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="../../static/css/normalize.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../../static/css/sign-up.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
    <script src="../../static/js/postcodify.js"></script>
  </head>
  <body>
    <form action="../../templates/main/index.html" method="post">
      <h1>회원 가입</h1>

      <fieldset class="12">
        <legend><span class="number">1</span>기본 정보</legend>
        <label for="name">이름:</label>
        <input type="text" id="name" name="user_name" />

        <label for="mail">이메일</label>
        <input type="email" id="mail" name="user_email" />

        <label for="password">비밀번호</label>
        <input type="password" id="password" name="user_password" />

        <label for="phoneNo">휴대폰 번호</label>
        <input type="tel" id="phoneNo" name="user_phoneNo" />
      </fieldset>
      <fieldset class="12">
        <legend><span class="number">2</span>상세 정보</legend>
        <label for="enterprise">회사명:</label>
        <input type="text" id="enterprise" name="user_enterprise" />

        <label for="corp_num">사업자등록번호</label>
        <input type="number" id="corp_num" name="user_corp_num" />

        <label for="corp_rep">이름:</label>
        <input type="text" id="corp_rep" name="user_corp_rep" />

        <label for="corp_fx">팩스 번호</label>
        <input type="tel" id="corp_fx" name="corp_fx" />

        <label for="corp_home">홈페이지 url</label>
        <input type="url" id="corp_home" name="corp_home" />

        <label for="corp_contents">주요사업내용</label>
        <textarea id="corp_contents" name="corp_contents"></textarea>

        <label for="">설립년도</label>
        <input class type="date" id="corp_year" name="corp_year" />

        <label for="">직원수</label>
        <input type="number" id="corp_member" name="corp_member" />

        <label for="">업종</label>
        <input type="text" id="corp_Sector" name="corp_Sector" />

        <!-- 검색 기능-->
        <label for="corp_detail_addr">주소찾기</label>
        <div id="postcodify"></div>

        <input
          type="text"
          name="postcode"
          id="postcode"
          value=""
          placeholder="우편번호"
          readonly
        /><br />
        <input
          type="text"
          name="address"
          id="address"
          value=""
          placeholder="주소"
          readonly
        /><br />
        <input
          type="text"
          name="details"
          id="details"
          value=""
          placeholder="상세주소"
        /><br />
        <input
          type="text"
          name="extra_info"
          id="extra_info"
          value=""
          placeholder="세부주소"
          readonly
        /><br />
      </fieldset>

      <button id="submit" type="submit">가입하기</button>
    </form>
  </body>
</html>
