<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>school-member_category</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/school-user_category.css" />
    </script>
  </head>
  <body>
    <div id="school-member_category">
      <h3>당신은 어떤회원 입니까?</h3>
      <form name="form1" method="post">
<<<<<<<<< Temporary merge branch 1
       <a href="/student_sign-up">
=========
       <a href="student_sign-up.html">
>>>>>>>>> Temporary merge branch 2
        <div class="radio">
          
          <label for="student"
            >학생
            <p>
              영진전문대학교에서 재학 및 휴학 중인 학생
            </p></label
          >
        </div>
      </a>
      <a href="professor_sign-up.html">
        <div class="radio">
          <label for="professor"
            >지도교수
            <p>
              영진전문대학교에서 재직중인 교수
            </p>
          </label>
        </div>
      </a>
      <a href="counselor_sign-up.html">  
        <div class="radio">
          <label for="counselor"
            >상담사
            <p>
              영진전문대학교 소속 상담사
            </p>
          </label>
        </div>
      </a>
      <a href="mentor_sign-up.html">
        <div class="radio">
          
          <label for="mentor"
            >멘토
            <p>
              온라인멘토링 활동을 위한 멘토
            </p></label
          >
          </a>


    </div>
  </body>
</html>
