<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="../../static/css/normalize.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="../../static/css/sign-up.css" />
  </head>
  <body>
    <form action="../../templates/main/index.html" method="post">
      <h1>회원 가입</h1>

      <fieldset>
        <legend><span class="number">1</span>기본 정보</legend>
        <label for="name">이름:</label>
        <input type="text" id="name" name="user_name" />

        <label for="mail">이메일</label>
        <input type="email" id="mail" name="user_email" />

        <label for="password">비밀번호</label>
        <input type="password" id="password" name="user_password" />

        <label for="phoneNo">휴대폰 번호</label>
        <input type="tel" id="phoneNo" name="phoneNo" />
      </fieldset>

      <fieldset>
        <legend><span class="number">2</span>상세 정보</legend>
        
      </fieldset>
      <fieldset>
        <label for="department">계열/학과 선택</label>
        <select id="department" name="department">
          <option value="">-- 계열/학과 --</option>
          <option value="A">컴퓨터정보계열</option>
          <option value="B">컴퓨터응용기계계열</option>
          <option value="C">ICT반도체전자계열</option>
          <option value="D">신재생에너지전기계열</option>
          <option value="E">건축인테리어디자인계열</option>
          <option value="F">부사관계열</option>
          <option value="G">콘텐츠디자인과</option>
          <option value="H">드론항공전자과</option>
          <option value="I">경영회계서비스계열</option>
          <option value="J">호텔항공관광계열</option>
          <option value="K">사회복지과</option>
          <option value="L">유아교육과</option>
          <option value="M">보건의료행정과</option>
          <option value="N">간호학과</option>
          <option value="O">스마트금형과</option>
          <option value="P">스마트기계과</option>
        </select>
        <label for="grade">학년 선택</label>
        <select id="grade" name="grade">
          <option value="">-- 학년 --</option>
          <option class="A"value="Afirst">1</option>
          <option class="A" value="Asecond">2</option>
          <option class="A" value="Athird">3</option>
          <option class="B"value="Bfirst">1</option>
          <option class="B" value="Bsecond">2</option>
          <option class="C"value="Cfirst">1</option>
          <option class="C" value="Csecond">2</option>
          <option class="D"value="Dfirst">1</option>
          <option class="D" value="Dsecond">2</option>
          <option class="E"value="Efirst">1</option>
          <option class="E" value="Esecond">2</option>
          <option class="F"value="Ffirst">1</option>
          <option class="F" value="Fsecond">2</option>
          <option class="G"value="Gfirst">1</option>
          <option class="G" value="Gsecond">2</option>
          <option class="H"value="Hfirst">1</option>
          <option class="H" value="Hsecond">2</option>
          <option class="I"value="Ifirst">1</option>
          <option class="I" value="Isecond">2</option>
          <option class="J"value="Jfirst">1</option>
          <option class="J" value="Jsecond">2</option>
          <option class="K"value="Kfirst">1</option>
          <option class="K" value="Ksecond">2</option>
          <option class="M"value="Mfirst">1</option>
          <option class="M" value="Msecond">2</option>
          <option class="L" value="Lfirst">1</option>
          <option class="L" value="Lsecond">2</option>
          <option class="L" value="Lthird">3</option>
          <option class="N"value="Nfirst">1</option>
          <option class="N" value="Nsecond">2</option>
          <option class="N" value="Nthird">3</option>
          <option class="N" value="Nfourth">4</option>
          <option class="O"value="Ofirst">1</option>
          <option class="O"value="Osecond">2</option>
          <option class="P"value="Pfirst">1</option>   
        </select>
        <label for="class">반 선택</label>
        <select id="class" name="class">
          <option value="">-- 반 --</option>
          <option value="A1 B1 C1 E1 I1 J1 K12 L123 N123 F1 H1 M1" class="Afirst Bfirst Cfirst Efirst Ifrist Jfirst Kfirst Ksecond Lfirst Lsecond Lthird Nfirst Nsecond Nthird Ffirst Hfirst Mfirst">A</option>
          <option value="A1 B1 C1 E1 I1 J1 K12 L123 N123 F1 H1" class="Afirst Bfirst Cfirst Efirst Ifrist Jfirst Kfirst Ksecond Lfirst Lsecond Lthird Nfirst Nsecond Nthird Ffirst Hfirst">B</option>
          <option value="A1 B1 C1 E1 I1 J1 K12 N123 F1" class="Afirst Bfirst Cfirst Efirst Ifrist Jfirst Kfirst Ksecond Nfirst Nsecond Nthird Ffirst">C</option>
          <option value="A1 B1 C1 E1 I1 J1 K12 F1" class="Afirst Bfirst Cfirst Efirst Ifrist Jfirst Kfirst Ksecond Ffirst">D</option>
          <option value="A1 B1 C1 E1 I1 K12 F1" class="Afirst Bfirst Cfirst Efirst Ifrist Kfirst Ksecond Ffirst">E</option>
          <option value="B1 C1 E1 K12" class="Bfirst Cfirst Efirst Kfirst Ksecond">F</option>
          <option value="B1 C1 E1 K12" class="Bfirst Cfirst Efirst Kfirst Ksecond">G</option>
          <option value="B1 C1 I12" class="Bfirst Cfirst Ifrist Isecond">L</option>
          <option value="B1" class="Bfirst">M</option>
          <option value="B1" class="Bfirst">Q</option>
          <option value="B1" class="Bfirst">R</option>
          <option value="B1" class="Bfirst">T</option>
          <option value="A1" class="Afirst">J1</option>
          <option value="A1" class="Afirst">J2</option>
          <option value="A1" class="Afirst">외국인유학생</option>
          <option value="A23" class="Asecond Athird">CI-D</option>
          <option value="A23" class="Asecond Athird">CI-E</option>
          <option value="A23" class="Asecond Athird">CP-A</option>
          <option value="A23" class="Asecond Athird">CP-B</option>
          <option value="A23" class="Asecond Athird">CP-J</option>
          <option value="A23" class="Asecond Athird">GC-A</option>
          <option value="A23" class="Asecond Athird">GC-C</option>
          <option value="A23" class="Asecond Athird">WD-A</option>
          <option value="A23" class="Asecond Athird">WD-J</option>
          <option value="B12" class="Bfirst Bsecond">구미A</option>
          <option value="B12" class="Bfirst Bsecond">성서A</option>
          <option value="B12" class="Bfirst Bsecond">스마트금형</option>
          <option value="B1" class="Bfirst">스마트기계</option>
          <option value="B12" class="Bfirst Bsecond">중국S</option>
          <option value="B12" class="Bfirst Bsecond">중국S-1</option>
          <option value="B2" class="Bsecond">CAD/CAM</option>
          <option value="B2" class="Bsecond">CADCAM-I</option>
          <option value="B2" class="Bsecond">융합기계설비</option>
          <option value="B2" class="Bsecond">금형/CAM</option>
          <option value="B2" class="Bsecond">기계A</option>
          <option value="B2" class="Bsecond">기계설계A</option>
          <option value="B2" class="Bsecond">석유화학A</option>
          <option value="B2" class="Bsecond">스마트제조설계A</option>
          <option value="B2" class="Bsecond">에너지설비</option>
          <option value="B2" class="Bsecond">유니테크</option>
          <option value="B2" class="Bsecond">일본A</option>
          <option value="B2" class="Bsecond">일본B</option>
          <option value="B2" class="Bsecond">자동화A</option>
          <option value="B2" class="Bsecond">자동화B</option>
          <option value="O1" class="Ofirst">스마트금형A</option>
          <option value="O1" class="Ofirst">스마트금형B</option>
          <option value="P1" class="Pfirst">스마트기계A</option>
          <option value="P1" class="Pfirst">스마트기계B</option>
          <option value="O2" class="Osecond">스마트금형A-1</option>
          <option value="O2" class="Osecond">스마트금형A-2</option>
          <option value="O2" class="Osecond">스마트금형B-1</option>
          <option value="C1" class="Cfirst">E-융합전자</option>
          <option value="C12" class="Cfirst Csecond">E-전자위탁</option>
          <option value="C12" class="Cfirst Csecond">I-일본취업</option>
          <option value="C12" class="Cfirst Csecond">I-입도</option>
          <option value="C1" class="Cfirst">S-중국유학</option>
          <option value="C2" class="Csecond">E-ICT전자A</option>
          <option value="C2" class="Csecond">E-ICT전자B</option>
          <option value="C2" class="Csecond">E-구미위탁</option>
          <option value="C2" class="Csecond">E-전자디플A</option>
          <option value="C2" class="Csecond">E-전자디플B</option>
          <option value="C2" class="Csecond">I-SDI위탁</option>
          <option value="C2" class="Csecond">S-공정</option>
          <option value="C2" class="Csecond">S-하이닉스</option>
          <option value="C2" class="Csecond">I-전자소재A</option>
          <option value="C2" class="Csecond">I전자소재B</option>
          <option value="C2" class="Csecond">S-반도체A</option>
          <option value="C2" class="Csecond">S-반도체B</option>
          <option value="C2" class="Csecond">S-중국유학I</option>
          <option value="C2" class="Csecond">S-중국유학II</option>
          <option value="D1" class="Dfirst">전기A</option>
          <option value="D1" class="Dfirst">전기B</option>
          <option value="D1" class="Dfirst">전기C</option>
          <option value="D1" class="Dfirst">전기D</option>
          <option value="D1" class="Dfirst">전기E</option>
          <option value="D1" class="Dfirst">전기F</option>
          <option value="D2" class="Dsecond">에너지전기</option>
          <option value="D2" class="Dsecond">일본전기</option>
          <option value="D2" class="Dsecond">전기I</option>
          <option value="D2" class="Dsecond">전기설비A</option>
          <option value="D2" class="Dsecond">전기설비B</option>
          <option value="D2" class="Dsecond">전기자동화</option>
          <option value="D2" class="Dsecond">전기철도</option>
          <option value="D2" class="Dsecond">전기화학</option>
          <option value="E12" class="Efirst Esecond">건축K</option>
          <option value="E2" class="Esecond">건축A</option>
          <option value="E2" class="Esecond">건축B</option>
          <option value="E2" class="Esecond">실내A</option>
          <option value="E2" class="Esecond">실내E</option>
          <option value="E2" class="Esecond">실내건축시공관리</option>
          <option value="E2" class="Esecond">전시디자인</option>
          <option value="G1" class="Gfirst">콘텐츠A</option>
          <option value="G1" class="Gfirst">콘텐츠B</option>
          <option value="G1" class="Gfirst">콘텐츠C</option>
          <option value="G1" class="Gfirst">콘텐츠D</option>
          <option value="G2" class="Gsecond">시각</option>
          <option value="G2" class="Gsecond">시각영상</option>
          <option value="G2" class="Gsecond">인터넷광고마케팅</option>
          <option value="G2" class="Gsecond">콘텐츠</option>
          <option value="I1" class="Ifrist">글로벌비즈니스</option>
          <option value="I1" class="Ifrist">마케팅J</option>
          <option value="I1" class="Ifrist">마케팅R</option>
          <option value="I1" class="Ifrist">마케팅T</option>
          <option value="I1" class="Ifrist">중국U</option>
          <option value="I2" class="Isecond">글로벌비즈니스</option>
          <option value="I2" class="Isecond">마케팅A</option>
          <option value="I2" class="Isecond">마케팅B</option>
          <option value="I2" class="Isecond">마케팅C</option>
          <option value="I2" class="Isecond">마케팅J</option>
          <option value="I2" class="Isecond">마케팅M</option>
          <option value="I2" class="Isecond">마케팅R</option>
          <option value="I2" class="Isecond">마케팅T</option>
          <option value="I2" class="Isecond">중국Q</option>
          <option value="I2" class="Isecond">중국U</option>
          <option value="I2" class="Isecond">회계A</option>
          <option value="I2" class="Isecond">회계B</option>
          <option value="I2" class="Isecond">회계C</option>
          <option value="J12" class="Jfirst Jsecond">글로벌관광</option>
          <option value="J12" class="Jfirst Jsecond">한국어관광A</option>
          <option value="J1" class="Jfirst">한국어관광B</option>
          <option value="J12" class="Jsecond">의료관광코디네이터</option>
          <option value="J12" class="Jsecond">일본관광서비스A</option>
          <option value="J12" class="Jsecond">일본관광서비스B</option>
          <option value="J12" class="Jsecond">중국관광서비스</option>
          <option value="J12" class="Jsecond">특급호텔</option>
          <option value="J12" class="Jsecond">항공서비스</option>
          <option value="J12" class="Jsecond">항공에어부산</option>
          <option value="J12" class="Jsecond">호텔외식아웃백</option>
          <option value="J12" class="Jsecond">호텔카지노</option>
          <option value="F1" class="Ffirst">군사B</option>
          <option value="F2" class="Fsecond">국방A</option>
          <option value="F2" class="Fsecond">국방B</option>
          <option value="F2" class="Fsecond">군사A</option>
          <option value="F2" class="Fsecond">의무A</option>
          <option value="F2" class="Fsecond">전투A</option>
          <option value="F2" class="Fsecond">항공A</option>
          <option value="H2" class="Hsecond">드론</option>  
        </select>

        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src='//rawgit.com/tuupola/jquery_chained/master/jquery.chained.min.js'></script>
        <script>
          $("#grade").chained("#department");
          $("#class").chained("#grade");
         
        </script>

        <!-- <label>Interests:</label>
        <input
          type="checkbox"
          id="development"
          value="interest_development"
          name="user_interest"
        /><label class="light" for="development">Development</label><br />
        <input
          type="checkbox"
          id="design"
          value="interest_design"
          name="user_interest"
        /><label class="light" for="design">Design</label><br />
        <input
          type="checkbox"
          id="business"
          value="interest_business"
          name="user_interest"
        /><label class="light" for="business">Business</label> -->
      </fieldset>
      <button type="submit">가입하기</button>
    </form>
  </body>
</html>
