<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" />
  <link rel="stylesheet" href="/css/cvreset.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/cv_register.css" />
  <script src="https://kit.fontawesome.com/3a29a769fa.js" crossorigin="anonymous"></script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/jquery-serialize-object.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js">
  </script>
  <title>이력서</title>
  <style>
    textarea {
      padding: 0px 30px;
      padding-top: 20px;
    }
  </style>
</head>

<body>
  <div>
    <div id="nav">
      <div id="menu">
        <a href="/">
          <p>취업정보센터</p>
        </a>
        <a href="/application/cv/before">
          <p style="float:right; font-size:15px; color:#a4acc7;">이력서 관리</p>
        </a>
      </div>
    </div>
    <div id="content">
      <div id="cv">

        <div id="form">
          <!-- 이력서 양식부분 -->
          <form id="cvForm" method="POST" autocomplete="off">
            <input type="hidden" name="user_id" th:value="${loginUser.getUser_id()}">
            <section class="form" id="PERSONAL_INFORMATION">
              <p class="legend">인적사항</p>
              <div class="info">
                <div class="common_div width-200">
                  <label class="absolute-label" for="">이름 <span>*</span></label>
                  <input class="common_input" name="user_name" id="user_name" th:value="${cv.getUser_name}" required />
                </div>
                <div class="common_div width-200">
                  <label class="absolute-label" for="">한문 이름 </label>
                  <input class="common_input" type="text" name="name_china" id="name_china" autocomplete="off"
                    th:value="${cv.getUser_name}" required />
                </div>
                <div class="common_div width-140">
                  <label class="absolute-label" for="">연령 <span>*</span> </label>
                  <input class="common_input" type="text" name="user_age" id="age" th:value="${cv.getUser_age()} + 세"
                    required />
                </div>
                <div class="common_div width-300">
                  <label class="absolute-label" for="">이메일 <span>*</span></label>
                  <input class="common_input" name="user_email" id="user_email" th:value="${cv.getUser_email()}"
                    required />
                </div>
                <div class="common_div width-200">
                  <label class="absolute-label" for="">생년월일 <span>*</span></label>
                  <input class="common_input date" type="date" name="birth" id="birth" autocomplete="off"
                    th:value="${cv.getBirth()}" required />
                </div>
                <div class="common_div width-200">
                  <label class="absolute-label" for="">전화번호 <span>*</span></label>
                  <input class="common_input" type="text" name="user_hp" th:value="${cv.getUser_hp()}" id="user_hp"
                    required />
                </div>
                <div class="common_div width-450">
                  <label class="absolute-label" for="">주소 <span>*</span></label>
                  <input class="common_input" type="text" name="addr" th:value="${cv.getAddr()}" />
                </div>
                <div class="common_div width-410">
                  <label class="absolute-label" for="">지원경로</label>
                  <input class="common_input" type="text" name="supportPath" id="" autocomplete="off" />
                </div>
              </div>
            </section>



            <section class="form" id="경력사항">
              <p class="legend">경력사항</p>
              <div class="info">
                <div class="common_div width-280" style="padding:0px;">
                  <input class="user_employment" name="user_employment"
                    th:attr="checked=${cv.getCareer() == null ? 'true' : 'false'}" id="id1" type="radio"
                    value="0"><label style="cursor: pointer" class="carrer_label" for="id1">신입</label><br />
                </div>
                <div class="common_div width-280" style="padding:0px;">
                  <input class="user_employment" name="user_employment"
                    th:attr="checked=${cv.getCareer() != null ? 'true' : 'false'}" id="id2" type="radio"
                    value="1"><label style="cursor: pointer" class="carrer_label" for="id2">경력</label><br />
                </div>
                <br />
              </div>
              <div id="carrerField" disabled style="display: none;">
                <div class="item_career" th:each="item, i : ${cv.getCareer()}">
                  <div class="info">
                    <div class="common_div width-350">
                      <label class="absolute-label" for="">회사명 <span>*</span></label>
                      <input class="common_input" name="career[][cr_etp_name]" th:value="${item.getCr_etp_name()}" />
                    </div>

                    <div class="common_div width-200">
                      <label class="absolute-label" for="">입사일자 </label>
                      <input class="common_input" type="date" name="career[][cr_employment]"
                        th:value="${item.getCr_employment()}" />
                    </div>
                    <div class="common_div width-200">
                      <label class="absolute-label" for="">퇴사일자 </label>
                      <input class="common_input" type="date" name="career[][cr_resignation]"
                        th:value="${item.getCr_resignation()}" />
                    </div>
                    <br />
                    <div class="common_div width-200">
                      <label class="absolute-label" for="">직위 </label>
                      <input class="common_input" type="text" name="career[][cr_position]"
                        th:value="${item.getCr_position()}" />
                    </div>
                    <div class="common_div width-300">
                      <label class="absolute-label" for="">퇴사사유 </label>
                      <input class="common_input" type="text" name="career[][reason_resign]"
                        th:value="${item.getReason_resign()}" />
                    </div>
                    <div class="common_div width-200">
                      <label class="absolute-label" for="">연봉 <span>*</span></label>
                      <input class="money_input2" value="" type="number" name="career[][salary]" autocomplete="off"
                        th:value="${item.getSalary()}" />
                      <span style="font-size: 12px">만원</span>
                    </div>
                    <div class="common_div width-full awardContents_div ">
                      <label class="absolute-label">담당업무 </label>
                      <textarea class="cr_task" th:text="${item.getCr_task()}" name="career[][cr_task]" focus="test12()"
                        cols="30" rows="10"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line_carrer"></div>


              <div id="carrerButtonBox" class="buttonBox" style="display:none;">
                <button id="add_carrer" class="btn add-more button-yellow uppercase" type="button">
                  <i class="fas fa-plus-circle"></i>
                  <span style="font-size: 17px">추가</span>
                </button>
                <button id="delete_carrer" type="button" class="btn button-white uppercase">
                  <i class="fas fa-minus-circle"></i>
                  <span style="font-size: 17px">제거</span>
                </button>
              </div>

            </section>


            <div id="schoolFieldset_main" style="display:none;" disabled>
              <section class="form" id="학력사항">
                </legend>
                <p class="legend">학력사항</p>
                <div id="items" class="form-group school-test items" th:each="item : ${cv.getEducation()}">
                  <div class="info">
                    <div class="common_div width-140">
                      <label class="absolute-label" for="">학교구분 <span>*</span></label>
                      <span class="custom-dropdown big">
                        <select id="test01" class="common_select schoolSelected1" name="education[][schoolType]">
                          <option class="gray">[[${item.getSchoolType()}]]</option>

                          <option value="고등학교">고등학교</option>

                          <option value="전문대">대학(2,3년)</option>

                          <option value="대학교">대학교(4년)</option>

                          <option value="대학원">대학원</option>
                        </select>
                      </span>
                    </div>
                    <div class="common_div width-250">
                      <label class="absolute-label" for="">학교이름 <span>*</span> </label>
                      <input class="common_input" name="education[][edc_school]" th:value="${item.getEdc_school()}"
                        type="text" autocomplete="off" />
                    </div>

                    <div class="school_fieldset hignschool_field" disabled>
                      <div class="container1" style="display:none;">
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">졸업년도 <span>*</span> </label>
                          <input class="common_input" name="education[][highschool_edc_date]"
                            th:value="${item.getDateEnd()}" type="text"
                            onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="4" autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">졸업상태 <span>*</span></label>
                          <!-- <input class="common_input" name="edc_graduated" autocomplete="off" /> -->
                          <select id="highSchoolGradu" class="common_select schoolSelected1"
                            name="education[][highschool_edc_graduated]">
                            <option class="gray" value="">졸업상태</option>

                            <option value="졸업">졸업</option>

                            <option value="졸업예정">졸업예정</option>

                            <option value="재학중">재학중</option>
                          </select>
                        </div>

                      </div>
                    </div>


                    <div class="college_field" disabled>
                      <div class="container2" style="display:none;">
                        <div class="common_div width-200">
                          <label class="absolute-label" for="">입학년월 <span>*</span> </label>
                          <input class="date_input" name="education[][college_edc_date_start]"
                            th:value="${item.getDateStart()}" type="month" autocomplete="off" />
                        </div>
                        <div class="common_div width-200">
                          <label class="absolute-label" for="">졸업년월 <span>*</span></label>
                          <input class="common_input" name="education[][college_edc_date_end]"
                            th:value="${item.getDateEnd()}" type="month" autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">졸업상태 <span>*</span></label>
                          <select id="collegeGradu" class="common_select schoolSelected1"
                            name="education[][college_edc_graduated]">
                            <option class="gray" value="">졸업상태</option>

                            <option value="졸업">졸업</option>

                            <option value="졸업예정">졸업예정</option>

                            <option value="재학중">재학중</option>

                            <option value="중퇴">중퇴</option>

                            <option value="수료">수료</option>

                            <option value="휴학">휴학</option>
                          </select>
                        </div>

                      </div>

                      <div class="container2-1" style="display:none;">
                        <div class="common_div width-300" style="width:409px;">
                          <label class="absolute-label" for="">전공 <span>*</span></label>
                          <input class="common_input" th:value="${item.getDept()}" name="education[][college_edc_dept]"
                            autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">학점 <span>*</span></label>
                          <input class="common_input" type="text" th:value="${item.getGpa()}" onKeyup="score()"
                            maxlength="3" name="education[][college_edc_gpa]" autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">총점 <span>*</span></label>
                          <select id="CollegePs" class="common_select schoolSelected1"
                            name="education[][college_edc_ps]">
                            <option class="gray" value="">총점</option>

                            <option value="4.5">4.5</option>

                            <option value="4.3">4.3</option>

                            <option value="4.0">4.0</option>

                            <option value="100">100</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="university_field" disabled>
                      <div class="container3" style="display:none;">
                        <div class="common_div width-200">
                          <label class="absolute-label" for="">입학년월 <span>*</span> </label>
                          <input class="date_input" th:value="${item.getDateStart()}"
                            name="education[][university_edc_date_start]" type="month" autocomplete="off" />
                        </div>
                        <div class="common_div width-200">
                          <label class="absolute-label" for="">졸업년월 <span>*</span></label>
                          <input class="common_input" th:value="${item.getDateEnd()}"
                            name="education[][university_edc_date_end]" type="month" autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">졸업상태 <span>*</span></label>
                          <select id="univerGradu" class="common_select schoolSelected1"
                            name="education[][university_edc_graduated]">
                            <option class="gray" value="">졸업상태</option>

                            <option value="졸업">졸업</option>

                            <option value="졸업예정">졸업예정</option>

                            <option value="재학중">재학중</option>

                            <option value="중퇴">중퇴</option>

                            <option value="수료">수료</option>

                            <option value="휴학">휴학</option>
                          </select>
                        </div>

                      </div>

                      <div class="container3-1" style="display:none;">
                        <div class="common_div width-300" style="width: 409px">
                          <label class="absolute-label" for="">전공 <span>*</span></label>
                          <input class="common_input" th:value="${item.getDept()}"
                            name="education[][university_edc_dept]" autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">학점 <span>*</span></label>
                          <input class="common_input" type="text" onKeyup="score()" maxlength="3"
                            th:value="${item.getGpa()}" name="education[][university_edc_gpa]" autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">총점 <span>*</span></label>
                          <select id="univerPs" class="common_select schoolSelected1"
                            name="education[][university_edc_ps]">
                            <option class="gray" value="">총점</option>

                            <option value="4.5">4.5</option>

                            <option value="4.3">4.3</option>

                            <option value="4.0">4.0</option>

                            <option value="100">100</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="graduate_field" disabled>
                      <div class="container4" style="display:none;">
                        <div class="common_div width-104">
                          <label class="absolute-label" for="">학위 <span>*</span></label>
                          <select class="common_select schoolSelected1" name="education[][graduate-edc_graduated]">
                            <option class="gray" value="">학위</option>

                            <option value="석사">석사</option>

                            <option value="박사">박사</option>

                            <option value="석박사">석박사</option>
                          </select>
                        </div>
                        <div class="common_div width-200">
                          <label class="absolute-label" for="">입학년월 <span>*</span> </label>
                          <input class="common_input" th:value="${item.getDateStart()}"
                            name="education[][graduate_edc_date_start]" type="month" autocomplete="off" />
                        </div>
                        <div class="common_div width-200">
                          <label class="absolute-label" for="">졸업년월 <span>*</span></label>
                          <input class="common_input" th:value="${item.getDateEnd()}"
                            name="education[][graduate_edc_date_end]" type="month" autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">졸업상태 <span>*</span></label>
                          <select id="graduateGradu" class="common_select schoolSelected1"
                            name="education[][graduate_edc_graduated]">
                            <option class="gray" value="">졸업상태</option>

                            <option value="졸업">졸업</option>

                            <option value="졸업예정">졸업예정</option>

                            <option value="재학중">재학중</option>

                            <option value="중퇴">중퇴</option>

                            <option value="수료">수료</option>

                            <option value="휴학">휴학</option>
                          </select>
                        </div>

                      </div>
                      <div class="container4-1" style="display: none">
                        <div class="common_div width-300" style="width: 374px">
                          <label class="absolute-label" for="">전공 <span>*</span></label>
                          <input class="common_input" th:value="${item.getDept()}" name="education[][graduate_edc_dept]"
                            autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">학점 <span>*</span></label>
                          <input class="common_input" th:value="${item.getGpa()}" type="text" onKeyup="score()"
                            maxlength="3" name="education[][graduate_edc_gpa]" autocomplete="off" />
                        </div>
                        <div class="common_div width-140">
                          <label class="absolute-label" for="">총점 <span>*</span></label>
                          <select id="graduPs" class="common_select schoolSelected1"
                            name="education[][graduate_edc_ps]">
                            <option class="gray" value="">총점</option>

                            <option value="4.5">4.5</option>

                            <option value="4.3">4.3</option>

                            <option value="4.0">4.0</option>

                            <option value="100">100</option>
                          </select>
                        </div>

                        <br />
                        <div class="common_div width-full">
                          <label class="absolute-label" for="">논문 url<span>*</span></label>
                          <input type="url" name="education[][graduate_edc_paper]" class="common_input"
                            autocomplete="off" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="line"></div>

                <div class="buttonBox">
                  <button id="add" class="btn add-more button-yellow uppercase" type="button">
                    <i class="fas fa-plus-circle"></i>
                    <span style="font-size: 17px">추가</span>
                  </button>
                  <button type="button" class="delete btn button-white uppercase">
                    <i class="fas fa-minus-circle"></i>
                    <span style="font-size: 17px">제거</span>
                  </button>
                </div>
              </section>
            </div>

            <div id="hobbyFieldset_main" style="display:none;" disabled>
              <section class="form" id="취미/특기">
                <p class="legend">취미•특기</p>
                <div class="info">
                  <div class="common_div width-450">
                    <label class="absolute-label" for="">취미 </label>
                    <input class="common_input" th:value="${cv.getCv_hobby()}" name="cv_hobby" id="cv_hobby" />
                  </div>
                  <div class="common_div width-450">
                    <label class="absolute-label" for="">특기 </label>
                    <input class="common_input" type="text" th:value="${cv.getCv_specialty()}" name="cv_specialty"
                      id="cv_specialty" />
                  </div>
                </div>
              </section>
            </div>


            <div id="awardFieldset_main" style="display:none;" disabled th:if="${cv.getAwards()} != null">
              <section class="form" id="경력사항">
                <p class="legend">수상경력</p>
                <div class="item_award">
                  <div class="info" th:each="item : ${cv.getAwards()}">
                    <div class=" common_div width-350">
                      <label class="absolute-label" for="">수상명 <span>*</span></label>
                      <input class="common_input" th:value="${item.getAwards_des()}" name="awards[][awards_des]" />
                    </div>
                    <div class="common_div width-300">
                      <label class="absolute-label" for="">수여기관 </label>
                      <input class="common_input" th:value="${item.getAwards_agency()}" type="text"
                        name="awards[][awards_agency]" />
                    </div>
                    <div class="common_div width-104">
                      <label class="absolute-label" for="">수상연도 </label>
                      <input class="common_input" th:value="${item.getAwards_date}" type="text" onKeyup="award_year()"
                        maxlength="4" name="awards[][awards_date]" />
                    </div>
                    <div class="common_div width-full awardContents_div ">
                      <label class="absolute-label">수여내용 </label>
                      <textarea class="award_contents" th:text="${item.getAward_contents}"
                        name="awards[][award_contents]" focus="test12()" cols="30" rows="10"></textarea>
                    </div>
                  </div>

                </div>


                <div class="line_award"></div>

                <div class="buttonBox">
                  <button id="add_award" class="btn add-more button-yellow uppercase" type="button">
                    <i class="fas fa-plus-circle"></i>
                    <span style="font-size: 17px">추가</span>
                  </button>
                  <button id="delete_award" type="button" class="btn button-white uppercase">
                    <i class="fas fa-minus-circle"></i>
                    <span style="font-size: 17px">제거</span>
                  </button>
                </div>
              </section>
            </div>


            <div id="miliFieldset_main" style="display:none;" disabled>
              <section class="form" id="우대사항/병역">
                <p class="legend">우대사항•병역</p>
                <div class="info">
                  <div class="common_div width-300" id="verteran_div">

                    <label class="absolute-middleLabel" for="">보훈대상</label>
                    <div class="preferentialTreatment">
                      <input type="checkbox" style="zoom:1.5;" name="cv_verteran" value='1' id="cv_verteran"
                        onClick="checkVerteran()" th:attr="checked=${cv.getCv_verteran() == 1 ? 'true' : 'false'}" />
                      <input type="hidden" name="cv_verteran" value='0' id="cv_verteran_hidden" />
                    </div>

                  </div>
                  <div class="common_div width-300" id="disability_div">
                    <label class="absolute-middleLabel" for="">장애</label>
                    <div class="preferentialTreatment2">
                      <input type="checkbox" style="zoom:1.5;" name="cv_disability" value='1' id="cv_disability"
                        onClick="checkBoth()" th:attr="checked=${cv.getCv_military() == 1 ? 'true' : 'false'}" />
                      <input type="hidden" name="cv_disability" value='0' id="cv_disability_hidden" />
                    </div>
                  </div>
                  <div class="common_div width-300" id="military_div">
                    <label class="absolute-middleLabel" for="">병역</label>
                    <div class="preferentialTreatment2">
                      <input type="checkbox" style="zoom:1.5;" name="cv_military" value='1' id="cv_military"
                        onClick="checkBoth()" th:attr="checked=${cv.getCv_verteran() == 1 ? 'true' : 'false'}" />
                      <input type="hidden" name="cv_military" value='0' id="cv_military_hidden" />
                    </div>
                  </div>
                </div>
                <div id="info-extra" class="info-extra" style="display:none;">
                  <div id="disability-value" style="display:none;">
                    <label class="" for="">장애</label>
                    <div class="common_div width-300" style="border:none; padding:0px; padding-bottom: 19px;">
                      <span class="custom-dropdown big">
                        <select id="disability_degree" style="width:50%; height: 100%; margin-left:10px;" class=""
                          name="cv_disability_degree">
                          <option class="gray" value="">
                            <p>장애등급</p>
                          </option>

                          <option value="1급">1급</option>
                          <option value="2급">2급</option>
                          <option value="3급">3급</option>
                          <option value="4급">4급</option>
                          <option value="5급">5급</option>
                          <option value="6급">6급</option>
                        </select>
                      </span>
                    </div>
                  </div>

                  <br />
                  <div id="military-value" style="display:none;">
                    <label class="" for="">병역</label>
                    <div class="common_div width-300" style="border:none; padding:0px; padding-bottom: 19px;">

                      <span class="custom-dropdown big">
                        <select id="verteran" style="width:50%; height: 100%; margin-left:10px;" class=""
                          name="militaryServiceClassification">
                          <option class="gray" value="">
                            <p>병역</p>
                          </option>

                          <option value="군필">군필</option>
                          <option value="미필">미필</option>
                          <option value="면제">면제</option>
                        </select>
                      </span>
                    </div>
                  </div>

                </div>
              </section>
            </div>


            <div id="famFieldset_main" style="display:none;">
              <section class="form" id="가족사항">
                <p class="legend">가족사항</p>
                <div class="item_family" th:each="item : ${cv.getFamily()}">
                  <div class="info">
                    <div class="common_div ">
                      <label class="absolute-label" for="">가족관계 <span>*</span></label>
                      <select id="famrelation" class="common_select" name="family[][fam_relation]">
                        <option class="gray" >[[${item.getFam_relation()}]]</option>

                        <option value="부부">부부</option>

                        <option value="부">부</option>

                        <option value="모">모</option>

                        <option value="자녀">자녀</option>

                        <option value="형제">형제</option>

                        <option value="자매">자매</option>
                      </select>
                    </div>
                    <div class="common_div width-180">
                      <label class="absolute-label" for="">이름 </label>
                      <input class="common_input" th:value="${item.getFam_name()}" type="text"
                        name="family[][fam_name]" />
                    </div>
                    <div class="common_div width-104">
                      <label class="absolute-label" for="">나이 </label>
                      <input style="padding-left:30px;" th:value="${item.getFam_age()}" class="age_input" type="text"
                        onKeyup="award_year()" maxlength="2" name="family[][fam_age]" />
                      <span style="font-size: 12px">살</span>
                    </div>
                    <div class="common_div width-180">
                      <label class="absolute-label" for="">생년월일 </label>
                      <input class="common_input date" th:value="${item.getFam_birth()}" type="date"
                        name="family[][fam_birth]" />
                    </div>
                    <div class="common_div width-180">
                      <label class="absolute-label" for="">지역 </label>
                      <input class="common_input" type="text" th:value="${item.getFam_living()}"
                        name="family[][fam_living]" />
                    </div>
                  </div>
                </div>


                <div class="line_family"></div>

                <div class="buttonBox">
                  <button id="add_family" class="btn add-more button-yellow uppercase" type="button">
                    <i class="fas fa-plus-circle"></i>
                    <span style="font-size: 17px">추가</span>
                  </button>
                  <button id="delete_family" type="button" class="btn button-white uppercase">
                    <i class="fas fa-minus-circle"></i>
                    <span style="
                    font-size: 17px">제거</span>
                  </button>
                </div>
              </section>
            </div>

            <!-- <fieldset id="" style="display:none;" disabled> -->
            <div id="licFieldset_main" style="display:none;" disabled th:if="${cv.getCertificate()} != null">
              <section class="form" id="자격증">

                <p class="legend">자격증</p>

                <div class="item_lic" th:each="item : ${cv.getCertificate()}">
                  <div class="info">

                    <div class="common_div width-450">
                      <label class="absolute-label" for="">자격증 명 </label>
                      <input class="common_input" type="text" th:value="${item.getLic_name()}"
                        name="certificate[][lic_name]" />
                    </div>
                    <div class="common_div width-180">
                      <label class="absolute-label" for="">취득일 </label>
                      <input class="common_input" type="date" th:value="${item.getLic_date()}"
                        name="certificate[][lic_date]" />
                    </div>
                    <div class="common_div width-180">
                      <label class="absolute-label" for="">만료일 </label>
                      <input class="common_input" type="date" th:value="${item.getLic_due_date()}"
                        name="certificate[][lic_due_date]" />
                    </div>
                  </div>
                </div>
                <div class="line_lic"></div>

                <div class="buttonBox">
                  <button id="add_lic" class="btn add-more button-yellow uppercase" type="button">
                    <i class="fas fa-plus-circle"></i>
                    <span style="font-size: 17px">추가</span>
                  </button>
                  <button id="delete_lic" type="button" class="btn button-white uppercase">
                    <i class="fas fa-minus-circle"></i>
                    <span style="font-size: 17px">제거</span>
                  </button>
                </div>
              </section>
            </div>

            <div id="flFieldset_main" style="display:none;" disabled th:if="${cv.getLanguage()} != null">

              <section class="form" id="어학">

                <p class="legend">어학</p>

                <div class="item_fl" th:each="item : ${cv.getLanguage()}">
                  <div class="info">

                    <div class="common_div width-180">
                      <label class="absolute-label" for="">외국어명 <span>*</span></label>
                      <select id="fl_lang" class="common_select" name="language[][fl_language]">
                        <option >[[${item.getFl_language()}]]</option>
                        <option value="영어">영어</option>
                        <option value="일본어">일본어</option>
                        <option value="중국어">중국어</option>
                        <option value="독일어">독일어</option>
                        <option value="프랑스어">프랑스어</option>
                        <option value="스페인어">스페인어</option>
                        <option value="러시아어">러시아어</option>
                        <option value="이탈리아어">이탈리아어</option>
                        <option value="아랍어">아랍어</option>
                        <option value="태국어">태국어</option>
                        <option value="마인어">마인어</option>
                        <option value="그리스어">그리스어</option>
                        <option value="포르투갈어">포르투갈어</option>
                        <option value="베트남어">베트남어</option>
                        <option value="네달란드어">네달란드어</option>
                        <option value="힌디어">힌디어</option>
                        <option value="노르웨이어">노르웨이어</option>
                        <option value="한국어">한국어</option>
                      </select>
                    </div>

                    <div class="common_div width-104">
                      <label class="absolute-label" for="">회화능력 <span>*</span></label>
                      <select id="fl_conversation" class="common_select" name="language[][fl_conversation]">
                        <option >[[${item.getFl_conversation()}]]</option>
                        <option value="상">상</option>
                        <option value="중">중</option>
                        <option value="하">하</option>
                      </select>
                    </div>

                    <div class="common_div width-104">
                      <label class="absolute-label" for="">독해능력 <span>*</span></label>
                      <select id="fl_reading" class="common_select" name="language[][fl_reading]">
                        <option >[[${item.getFl_reading()}]]</option>
                        <option value="상">상</option>
                        <option value="중">중</option>
                        <option value="하">하</option>
                      </select>
                    </div>

                    <div class="common_div width-104">
                      <label class="absolute-label" for="">작문능력 <span>*</span></label>
                      <select id="fl_writing" class="common_select" name="language[][fl_writing]">
                        <option >[[${item.getFl_writing()}]]</option>
                        <option value="상">상</option>
                        <option value="중">중</option>
                        <option value="하">하</option>
                      </select>
                    </div>
                    <br />

                    <div class="common_div width-408">
                      <label class="absolute-label" for="">시험종류 </label>
                      <input class="common_input" th:value="${item.getFl_name()}" type="text"
                        name="language[][fl_name]" />
                    </div>
                    <div class="common_div width-140">
                      <label class="absolute-label" for="">점수 </label>
                      <input class="common_input" th:value="${item.getFl_score()}" type="text"
                        name="language[][fl_score]" />
                    </div>
                    <div class="common_div width-104">
                      <label class="absolute-label" for="">급수</label>
                      <input class="common_input" th:value="${item.getFl_rank()}" type="text"
                        name="language[][fl_rank]" />
                    </div>
                    <div class="common_div width-180">
                      <label class="absolute-label" for="">취득일 </label>
                      <input class="common_input" th:value="${item.getFl_date()}" type="date"
                        name="language[][fl_date]" />
                    </div>
                  </div>
                </div>
                <div class="line_fl"></div>

                <div class="buttonBox">
                  <button id="add_fl" class="btn add-more button-yellow uppercase" type="button">
                    <i class="fas fa-plus-circle"></i>
                    <span style="font-size: 17px">추가</span>
                  </button>
                  <button id="delete_fl" type="button" class="btn button-white uppercase">
                    <i class="fas fa-minus-circle"></i>
                    <span style="font-size: 17px">제거</span>
                  </button>
                </div>
                <div>
              </section>
            </div>




            <section class="form" id="희망조건">
              <p class="legend">희망조건</p>
              <div class="info">
                <div class="common_div width-410">
                  <label class="absolute-label" for="">응시부문 <span>*</span></label>
                  <input class="common_input" name="sec_of_exam" autocomplete="off" th:value="${cv.getSec_of_exam()}" />
                </div>
                <div id="sallay_div" class="common_div width-200">
                  <label id="desire" class="absolute-label" for="">희망 연봉 <span>*</span></label>
                  <input id="desired_salary" class="money_input" value="" type="number" name="Desired_salary"
                    autocomplete="off" th:value="${cv.getDesired_salary()} == '' ? '회사내규에 따름' : ${cv.getDesired_salary()} " />
                  <span style="font-size: 12px">만원이상</span>
                </div>
                <button type="button" id="decisionInterview">
                  <i id="checkWhite" class="fas fa-check-square checkWhite" style="color:rgb(206, 197, 197)"></i></i>
                  면접 후 결정
                </button>
              </div>
            </section>
          </form>
        </div>



        <!-- form end -->
        <div id="aside">
          <!-- 오른쪽 메뉴부분 -->
          <h2 id="addcv">추가항목</h2>
          <ul id="addlist">
            <li style="padding-top:25px;">
              <i style="font-size: 20px; color:rgb(182, 176, 176);" class="fas fa-graduation-cap"></i>
              <span>학력</span>
              <button type="button" id="btn1">
                <i style="font-size:25px; " id="schoolPlus" class="fas fa-plus-circle"></i>
              </button>

            </li>
            <li>
              <i style="font-size: 20px; color:rgb(182, 176, 176);" class="fab fa-dribbble"></i>
              <span>취미•특기</span>
              <button type="button" id="btn2"><i id="hobbyPlus" style="font-size:25px;"
                  class="fas fa-plus-circle"></i></button>

            </li>
            <li>
              <i style="font-size: 20px; color:rgb(182, 176, 176);" class="fas fa-medal"></i>
              <span>수상경력</span>
              <button type="button" id="btn3"><i id="awardPlus" style="font-size:25px; "
                  class="fas fa-plus-circle"></i></button>
            </li>
            <li>
              <i style="font-size: 20px; color:rgb(182, 176, 176);" class="far fa-handshake"></i>
              <span>우대사항•병역</span>
              <button type="button" id="btn4"><i id="milPlus" style="font-size:25px; "
                  class="fas fa-plus-circle"></i></button>
            </li>
            <li>
              <i style="font-size: 20px; color:rgb(182, 176, 176);" class="fas fa-users"></i>
              <span>가족사항</span>
              <button type="button" id="btn5"><i id="familPlus" style="font-size:25px;"
                  class="fas fa-plus-circle"></i></button>
            </li>
            <li>
              <i style="font-size: 20px; color:rgb(182, 176, 176);" class="fas fa-address-card"></i>
              <span>자격증</span>
              <button type="button" id="btn6"><i id="certificatePlus" style="font-size:25px;"
                  class="fas fa-plus-circle"></i></button>
            </li>
            <li>
              <i style="font-size: 20px; color:rgb(182, 176, 176);" class="fas fa-language"></i>
              <span>어학</span>
              <button type="button" id="btn7"><i id="languagePlus" style="font-size:25px;"
                  class="fas fa-plus-circle"></i></button>
            </li>
          </ul>
          <!-- 진짜 -->
          <button id="submit" class="cvSubmit" type="button" form="cvForm">저장하기</button>
          <!-- 임시용 -->
          <!-- <a href="after.html"><button id="cvSubmit">저장하기</button></a> -->
        </div>


      </div>

    </div>
  </div>
  </div>
  <script src="/js/cv_modify.js">
  </script>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/jquery-serialize-object.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js">
  </script>
  <script src="/js/cv.js"></script>

  <script type="text/javascript" th:inline="javascript">

    
    [# th:if="${cv.getEducation()}"]
    document.querySelector("#btn1").click();
    [/]

    [# th:if="${cv.getCv_hobby()}"]
    document.querySelector("#btn2").click();
    [/]

    // [# th:if="${cv.getCv_specialty()}"]
    // document.querySelector("#btn2").click();
    // [/]

    [# th:if="${cv.getAwards()}"]
    document.querySelector("#btn3").click();
    [/]

    [# th:if="${cv.getCv_verteran()} !='0'"]
    document.querySelector("#btn4").click();
    document.querySelector('#verteran_div').classList.replace('common_div', 'common_div_blue');
    [/]

    [# th:if="${cv.getCv_disability()} !='0'"]
    document.querySelector("#btn4").click();
    document.querySelector('#disability_div').classList.replace('common_div', 'common_div_blue');
    document.querySelector('#info-extra').style = 'display:block';
    document.querySelector('#disability-value').style = 'display:block';
    [/]

    [# th:if="${cv.getCv_military()} !='0'"]
    document.querySelector("#btn4").click();
    document.querySelector('#military_div').classList.replace('common_div', 'common_div_blue');
    document.querySelector('#info-extra').style = 'display:block';
    document.querySelector('#military-value').style = 'display:block';
    [/]

    [# th:if="${cv.getFamily()}"]
    document.querySelector("#btn5").click();
    [/]

    [# th:if="${cv.getCertificate()}"]
    document.querySelector("#btn6").click();
    [/]

    [# th:if="${cv.getLanguage()}"]
    document.querySelector("#btn7").click();
    [/]


    //버튼조작

    //경력사항

    [# th:if="${cv.getCareer()}"]
    $('#carrerField').attr('style', 'display:block;');
    $('#carrerButtonBox').attr('style', 'display:block;');
    [/]



    //우대사항 셀렉트 부분

    /*<![CDATA[*/
     var degree = /*[[ ${cv.getCv_disability_degree()} ]]*/;
    /*]]*/

    $('#disability_degree').val(degree).prop("selected", true);

    /*<![CDATA[*/
     var verteran = /*[[ ${cv.getCv_verteran()} ]]*/;
    /*]]*/

    [# th:if="verteran == 1"]
       $('#verteran').val("미필").prop("selected", true);
    [/]
    [# th:if="verteran == 2"]
       $('#verteran').val("공익").prop("selected", true);
    [/]

   

  </script>

  <script>
  let test13 = document.querySelector('#test01').value;
  let high = document.querySelectorAll('.container1');
  let college = document.querySelectorAll('.container2');
  let college2 = document.querySelectorAll('.container2-1');
  let university = document.querySelectorAll('.container3');
  let university2 = document.querySelectorAll('.container3-1');
  let graduate = document.querySelectorAll('.container4');
  let graduate2 = document.querySelectorAll('.container4-1');

    switch(test13) {
      case '고등학교' :
      high[0].style = 'display:inline-block'
      break;
      case '전문대' :
      college[0].style = 'display:inline-block';
      college2[0].style = 'display:inline-block';
      break;
      case '대학교' :
      university[0].style = 'display:inline-block';
      university2[0].style = 'display:inline-block';
      break;
      case '대학원' :
      graduate[0].style = 'display:inline-block';
      graduate2[0].style = 'display:inline-block';
      break;
    }
    
  </script>




</body>

</html>