<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이력서 수정페이지</title>
    <link rel="stylesheet" href="/css/modify.css">
</head>
<body>
<div id="modify-wrap">
    <div id="modify-main" class="main">
        <h1>마이 이력서</h1>
        <form action="/application/cv/modify" method="post">
            <div class="profile">
                <img src="img/be247503d597fc4b0c5c814ffd68a534.jpg" alt="300x300" style="padding-left: 65px; padding-bottom: 145px;">
            </div>
            <input type="hidden" name="cv_id" id="cv_id" th:value="${cv.getCv_id()}">
            <div class="Mcontent">
                <!--인적사항 시작-->
                <p>성명(한글)</p> <input type="text" name="user_name" id="user_name" th:value="${cv.getUser_name()}" readonly>
                <!--        (한자) : <input type="text" name="name_china" id="name_china"> -->
                <p>생년월일</p><input type="text" name="birth" id="birth" th:value="${cv.getBirth()}" placeholder="예)1998-05-21" readonly>
                <p>나이</p><input type="text" name="user_age" id="user_age" th:value="${age}" readonly>
                <p>휴대폰 번호</p> <input type="text" name="user_hp" id="user_hp" th:value="${cv.getUser_hp()}" readonly>
                <p>이메일</p> <input type="email" name="user_email" id="user_email" th:value="${cv.getUser_email()}" readonly>

                <!--인적사항 끝-->
            </div>
        </form>
        <div class="button">
            <a th:href="@{/application/cv/delete(cv_id = ${cv.getCv_id()})}"><button>삭제</button></a>
            <button>등록</button>
        </div>
    </div>

</div>
</body>
</html>