<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>이력서</title>
  <style>
    h4{
      height:28px;
    }
    .tag{
      font-weight:600;
    }
  </style>
</head>

<body>
  <!-- partial:index.partial.html -->
  <html lang="en">

  <head>
    <title>이력서</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Lato:400,300" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="/css/cvReadRe.css" />
    <!--[if lt IE 9]>
					<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
				<![endif]-->
    <script src="https://kit.fontawesome.com/3a29a769fa.js" crossorigin="anonymous"></script>
  </head>
  <html>

  <body id="top">
    <!--Page 1-->
    <page size="A4">
      <div id="button" class="no-print">
        <button class="h-blue" style="width: 50px;" onclick="history.back()">
          <-
        </button>
        <a href="/">
          <button id="logo" style="background-color: #09529b; padding: 0px !important; width: 180px !important; " type="button">
          <span class="button-txt"><i class="fas fa-book-open"></i> &nbsp;취업정보센터</span>
          </button>
        </a>
        
        <button class="pull-right h-blue" type="button" onclick="myFunction()">
          <span class="button-txt"><i class="fa fa-print" aria-hidden="true"></i> &nbsp;print</span>
        </button>
        <script>
          function myFunction() {
            window.print();
          }
        </script>
      </div>
      <div id="modify" class="no-print">
        <a href="/application/cv/modify">
         <button class="h-blue" type="button">
          <span class="button-txt"> &nbsp;수정하기</span>
         </button>
        </a>
        <a th:href="@{/application/cv/delete(user_id=${loginUser.getUser_id()})}" th:methods="post",>
         <button class="pull-right h-blue" type="button" style="display:none;">
          <span class="button-txt" > &nbsp;삭제하기</span>
         </button>
        </a>
        
      </div>
      <div class="cv" style="">

        <div class="mainDetails" style="padding:50px 8mm 0 8mm">
          <h4 class="tag" style="font-size:18px; margin-bottom:7px;">기본정보</h4>
          <div style="border-bottom: 1.5px solid black; width:100%;">
            <div style="display:flex; border-bottom:1px solid black; width:100%; border-top:1.5px solid black;" >
              <span class="tag" style="border-right:1px solid black; width:15%; text-align: center" ><h4>성명(국문)</h4></span>
              <span style="border-right:1px solid black; width:35%; padding-left:10px;"><h4>[[${cv.getUser_name}]]</h4></span>
              <span class="tag"  style="border-right:1px solid black; width:15%; text-align: center"><h4>성명(영문)</h4></span>
              <span style="width:35%; padding-left:10px;" ><h4>[[${cv.getName_china()}]]</h4></span>
            </div>
            <div style="display:flex; width:100%; border-bottom:1px solid black;" >
              <span class="tag"  style="border-right:1px solid black; width:15%; text-align: center" ><h4>생년월일</h4></span>
              <span style="border-right:1px solid black; width:35%; padding-left:10px;"><h4>[[${cv.getBirth()}]]</h4></span>
              <span class="tag"  style="border-right:1px solid black; width:15%; text-align: center"><h4>연락처</h4></span>
              <span style="width:35%; padding-left:10px;"><h4>[[${cv.getUser_hp()}]]</h4></span>
            </div>
            <div style="display:flex; width:100%; border-bottom:1px solid black;">
              <span class="tag"  style="border-right:1px solid black; width:14.7%; text-align: center" ><h4>이메일</h4></span>
              <span style=" width:85%; padding-left:10px;"><h4>[[${cv.getUser_email()}]]</h4></span>
            </div>
            <div style="display:flex; width:100%; border-bottom:1px solid black;">
              <span class="tag"  style="border-right:1px solid black; width:14.7%; text-align: center" ><h4>주소</h4></span>
              <span style=" width:85%; padding-left:10px;"><h4>[[${cv.getAddr()}]]</h4></span>
            </div>
            <div style="display:flex; width:100%"  th:if="${cv.getCv_verteran()} != null">
              <span class="tag"  style="border-right:1px solid black; width:14.8%; text-align: center" ><h4>보훈대상</h4></span>
              <span style=" width:17.5%; border-right:1px solid black; padding-left:10px;"><h4><span th:if="${cv.getCv_verteran()} == 0 ">비대상</span><span th:if="${cv.getCv_verteran()} == 1 ">대상</span></h4></span>
              <span class="tag"  style="border-right:1px solid black; width:14.7%; text-align: center" ><h4>장애</h4></span>
              <span style=" width:17.5%; border-right:1px solid black; padding-left:10px;"><h4><span th:if="${cv.getCv_disability()} == 0 ">비대상</span><span th:if="${cv.getCv_disability()} == 1 ">대상</span>&nbsp;&nbsp;<span th:text="${cv.getCv_disability_degree()}"></h4></span>
              <span class="tag"  style="border-right:1px solid black; width:14.7%; text-align: center" ><h4>병역</h4></span>
              <span style=" width:17.5%; padding-left:10px;"><h4><span th:if="${cv.getCv_military() == 0}">해당사항 없음</span><span th:if="${cv.getCv_military() == 1}" th:text="${cv.getMilitaryServiceClassification()}"></span></h4></span>
            </div>
          </div>


        </div>
        <div id="mainArea">

          <section th:if="${cv.getEducation()} != null" style="margin-bottom: 10px;">

            <h4 class="tag" style="font-size:18px; margin-bottom:7px;">학력사항</h4>

            <div style=" border-top:1.5px solid black; width:100%;">
              <div style="display:flex; width:100%; border-bottom:1px solid black;" >
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center;" ><h4>재학기간</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:30%; text-align: center; " ><h4>학교명</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center; " ><h4>전공 및 수료과목</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:15%; text-align: center; " ><h4>상태</h4></span>
                <span class="tag"  style="width:15%; text-align: center; " ><h4>학점</h4></span>
              </div>

              <div style="display:flex; width:100%; border-bottom:1px solid black;" th:each="item : ${cv.getEducation()}" >
                <span style=" width:20.00%;  border-right:1px solid black;"><h4 style="text-align: center; width:100%;">[[${item.getDateStart()}]] - [[${item.getDateEnd()}]]</h4></span>
                <span style=" width:30%;  border-right:1px solid black;"><h4 style="padding-left:10px; width:100%;">[[${item.getEdc_school()}]]</h4></span>
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="padding-left:10px; width:100%;">[[${item.getDept()}]]</h4></span>
                <span style=" width:15%;  border-right:1px solid black;"><h4 style="text-align: center; width:100%;">[[${item.getGraduated()}]]</h4></span>
                <span style=" width:15%; "><h4 style="text-align: center; width:100%;">[[${item.getPs()}]]</h4></span>
              </div>
            </div>
          </section>


          <section th:if="${cv.getAwards()} != null" style="margin-bottom: 10px; border-top:0px solid black;">

            <h4 class="tag" style="font-size:18px; margin-bottom:7px;">수상경력</h4>

            <div style=" border-top:1.5px solid black; width:100%;">
              <div style="display:flex; width:100%; border-bottom:1px solid black;" >
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center;" ><h4>수상일자</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center; " ><h4>수상명</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:40%; text-align: center; " ><h4>내용</h4></span>
                <span class="tag"  style="width:20%; text-align: center;" ><h4>기관</h4></span>
              </div>

              <div style="display:flex; width:100%; border-bottom:1px solid black;" th:each="item : ${cv.getAwards()}" >
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="text-align: center; width:100%;">[[${item.getAwards_date}]]</h4></span>
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="padding-left:10px; width:100%;">[[${item.getAwards_des()}]]</h4></span>
                <span style=" width:40%;  border-right:1px solid black;"><h4 style="padding-left:10px; width:100%;">[[${item.getAward_contents}]]</h4></span>
                <span style=" width:20%; "><h4 style="padding-left:10px; width:100%;">[[${item.getAwards_agency()}]]</h4></span>
              </div>
            </div>
          </section>


          <section th:if="${cv.getCertificate()} != null" style="margin-bottom: 10px; border-top:0px solid black;">

            <h4 class="tag" style="font-size:18px; margin-bottom:7px;">자격증</h4>

            <div style=" border-top:1.5px solid black; width:100%;">
              <div style="display:flex; width:100%; border-bottom:1px solid black;" >
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center; " ><h4>취득일자</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:40%; text-align: center; " ><h4>자격증명</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center; " ><h4>자격번호</h4></span>
                <span class="tag"  style="width:20%; text-align: center;" ><h4>기관</h4></span>
              </div>

              <div style="display:flex; width:100%; border-bottom:1px solid black;" th:each="item : ${cv.getCertificate()}">
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="text-align: center; width:100%;">[[${item.getLic_date()}]]</h4></span>
                <span style=" width:40%;  border-right:1px solid black;"><h4 style="padding-left:10px; width:100%;">[[${item.getLic_name()}]]</h4></span>
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="text-align: center; width:100%;">[[${item.getLic_num()}]]</h4></span>
                <span style=" width:20%; "><h4 style="padding-left:10px; width:100%;">[[${item.getLic_agency()}]]</h4></span>
              </div>
            </div>
          </section>

          <section th:if="${cv.getLanguage()} != null" style="margin-bottom: 10px; border-top:0px solid black;">

            <h4 class="tag" style="font-size:18px; margin-bottom:7px;">어학능력</h4>

            <div style=" border-top:1.5px solid black; width:100%;">
              <div style="display:flex; width:100%; border-bottom:1px solid black; " >
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center; " ><h4>취득일자</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center; " ><h4>시험종류</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center; " ><h4>점수</h4></span>
                <span class="tag"  style="border-right:1px solid black; width:20%; text-align: center; " ><h4>급수</h4></span>
                <span class="tag"  style="width:20%; text-align: center;" ><h4>외국어명</h4></span>
              </div>

              <div style="display:flex; width:100%; border-bottom:1px solid black;" th:each="item : ${cv.getLanguage()}">
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="text-align: center; width:100%;">[[${item.getFl_date()}]]</h4></span>
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="padding-left:10px; width:100%;">[[${item.getFl_name()}]]</h4></span>
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="text-align: center; width:100%;">[[${item.getFl_score()}]]</h4></span>
                <span style=" width:20%;  border-right:1px solid black;"><h4 style="text-align: center; width:100%;">[[${item.getFl_rank()}]]</h4></span>
                <span style=" width:20%; "><h4 style="text-align: center; width:100%;">[[${item.getFl_language()}]]</h4></span>
              </div>
            </div>
          </section>

        </div>
      </div>
    </page>
  </body>


  </html>

  </html>
</body>

</html>