<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>CV Printable A4</title>
</head>

<body>
  <!-- partial:index.partial.html -->
  <html lang="en">

  <head>
    <title>이력서</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Lato:400,300" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="/css/cvReadRe.css" />
    <!--[if lt IE 9]>
					<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
				<![endif]-->
    <script src="https://kit.fontawesome.com/3a29a769fa.js" crossorigin="anonymous"></script>
  </head>
  <html>

  <body id="top">
    <!--Page 1-->
    <page size="A4">
      <div id="button" class="no-print">
        <a href="/">
          <button id="logo" style="background-color: #09529b;" type="button">
          <span class="button-txt"><i class="fas fa-book-open"></i> &nbsp;취업정보센터</span>
          </button>
        </a>
        
        <button class="pull-right h-blue" type="button" onclick="myFunction()">
          <span class="button-txt"><i class="fa fa-print" aria-hidden="true"></i> &nbsp;print</span>
        </button>
        <script>
          function myFunction() {
            window.print();
          }
        </script>
      </div>
      <div id="modify" class="no-print">
        <a href="/application/cv/modify">
         <button class="h-blue" type="button">
          <span class="button-txt"> &nbsp;수정하기</span>
         </button>
        </a>
        <a th:href="@{/application/cv/delete(user_id=${loginUser.getUser_id()})}" th:methods="post",>
         <button class="pull-right h-blue" type="button">
          <span class="button-txt"> &nbsp;삭제하기</span>
         </button>
        </a>
        
      </div>
      <div class="cv">
        <div id="header">
          <div class="contactDetails">
            <ul>
              <li class="icon" title="Kirjuta mulle!">
                <a th:href="${cv.getUser_email()}"><i
                    class="fa fa-envelope">&nbsp;&nbsp;</i>[[${cv.getUser_email()}]]</a>
              </li>
              <li class="icon" title="Helista mulle!">
                <a th:href="${cv.getUser_hp()}"><i class="fa fa-phone"
                    aria-hidden="true"></i>&nbsp;&nbsp;[[${cv.getUser_hp()}]]</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="mainDetails">
          <!-- 	<div id="headshot">
								<img id="avatar" src="https://visualangle.ee/delivery/temp_image/icon.png" alt="Margus Lillemagi" title="See olen mina" />
							</div> -->
          <div id="name">
            <h1>[[${cv.getUser_name}]]<h2>&nbsp[[${cv.getName_china()}]]</h2>
              </h2><br /><span class="nameDetails">&nbsp;&nbsp;[[${cv.getUser_age()}]]세.
                [[${cv.getBirth()}]]<br>&nbsp;&nbsp;[[${cv.getAddr()}]]</span></h1>
          </div>
          <div class="clear"></div>
        </div>
        <div id="mainArea">
          <section th:if="${cv.getCareer()} != null">
            <article>
              <div class="sectionTitle">
                <h1 style="font-weight: 600; margin-top:5%;">경력사항</h1>
              </div>
              <div class="sectionContent">
                <div style="display: inline-flex;" th:each="item, i : ${cv.getCareer()}">
                  <div style="text-align: center; min-width: 120px;">
                    <span class="bold" th:text="${item.getCr_etp_name()}">삼성전자</span><br>
                    <span class="subDetails">[[${item.getCr_employment()}]]</span><span>-</span><span class="subDetails">[[${item.getCr_resignation()}]]</span>
                  </div>
                  <div style="width: 100%; padding-left: 100px;">
                    <div>
                      <ul class="list">
                        <li th:text="${item.getCr_position()}">대리</li>
                        <li th:text="${item.getSalary()} + '만원'">연봉</li>
                        <li th:text="${item.getCr_task()}">Lorem ipsum dolor sit amet </li>
                        <li th:text="${item.getCr_task2()}">Lorem ipsum dolor sit ame.</li>
                        <li th:text="${item.getReason_resign()}">Lorem ipsum dolor sit amet </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </article>
            <div class="clear"></div>
          </section>
          <section th:if="${cv.getEducation()} != null">
            <div class="sectionTitle">
                <h1 style="font-weight: 600; margin-top: 2%;">학력사항</h1>
              </div>
              <div class="sectionContent">
                <div style="display: inline-flex;" th:each="item : ${cv.getEducation()}">
                  <div style="text-align: center; min-width: 120px;">
                    <span class="bold" th:text="${item.getSchoolType()}">학교구분</span><br>
                    <span class="bold" th:text="${item.getEdc_school()}">영진전문대학교</span><br>
                    <span class="subDetails">[[${item.getDateStart()}]]</span><span>-</span><span class="subDetails">[[${item.getDateEnd()}]]</span><br>
                  </div>
                  <div style="width: 100%; padding-left: 100px;">
                    <div>
                      <ul class="list">
                        <li th:text="${item.getDept()}">전공</li>
                        <li th:text="${item.getGpa()}">학위</li>
                        <li th:text="${item.getGraduated()}">졸업상태</li>
                        <li th:text="${item.getPs()}">학점 </li>
                    
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <div class="clear"></div>
          </section>
          <section th:if="${cv.getCv_hobby()} != null">
            <div class="sectionTitle">
              <h1 style="font-weight: 600; margin-top: 2%;">취미•특기</h1>
            </div>
            <div class="sectionContent">
              <ul class="list">
                <li style="margin-bottom:10px;"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;[[${cv.getCv_hobby()}]]</li>
                <li style="margin-bottom:10px;"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;[[${cv.getCv_specialty()}]]</li>
              </ul>
            </div>
            <div class="clear"></div>
          </section>
          <section th:if="${cv.getAwards()} != null">
            <div class="sectionTitle">
              <h1 style="font-weight: 600; margin-top: 2%;">수상경력</h1>
            </div>
            <div class="sectionContent">
              <ul class="list">
                <li style="margin-bottom:10px;" th:each="item : ${cv.getAwards()}">
                  <span class="subDetails">[[${item.getAwards_date}]]</span><span class="subDetails">-</span><span class="subDetails">[[${item.getAwards_des()}]].&nbsp;&nbsp;</span><span class="bold" th:text="${item.getAwards_agency()}">수여기관</span> - [[${item.getAward_contents}]]
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </section>
          <section th:if="${cv.getCv_verteran()} != null">
            <div class="sectionTitle">
              <h1 style="font-weight: 600; margin-top: 2%;">우대사항•병역</h1>
            </div>
            <div class="sectionContent">
              <ul class="list">
                <li style="margin-bottom:10px;"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;보훈대상&nbsp;&nbsp;<i style="color:#d5d8e4;" class="fas fa-grip-lines-vertical"></i>&nbsp;&nbsp;<span th:if="${cv.getCv_verteran()} == 0 ">비대상</span><span th:if="${cv.getCv_verteran()} == 1 ">대상</span></li>
                <li style="margin-bottom:10px;"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;장애&nbsp;&nbsp;<i  style="color:#d5d8e4;" class="fas fa-grip-lines-vertical">&nbsp;&nbsp;</i><span th:if="${cv.getCv_disability()} == 0 ">비대상</span><span th:if="${cv.getCv_disability()} == 1 ">대상</span>&nbsp;&nbsp;<span th:text="${cv.getCv_disability_degree()}"></span></li>
                <li style="margin-bottom:10px;"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;병역&nbsp;&nbsp;<i  style="color:#d5d8e4;" class="fas fa-grip-lines-vertical">&nbsp;&nbsp;</i><span th:if="${cv.getCv_military() == 0}">해당사항 없음</span><span th:if="${cv.getCv_military() == 1}" th:text="${cv.getMilitaryServiceClassification()}"></span></li>
              </ul>
            </div>
            <div class="clear"></div>
          </section>
          <section  th:if="${cv.getFamily()} != null">
            <div class="sectionTitle">
              <h1 style="font-weight: 600; margin-top: 2%;">가족사항</h1>
            </div>
            <div class="sectionContent">
              <ul class="list">
                <li style="margin-bottom:10px;"th:each="item : ${cv.getFamily()}">
                  <span class="subDetails">[[${item.getFam_relation()}]] - [[${item.getFam_name()}]].&nbsp;&nbsp;</span><span class="bold">[[${item.getFam_age()}]]</span>.&nbsp;&nbsp;</span><span class="bold">[[${item.getFam_birth()}]]</span>.&nbsp;&nbsp;</span><span class="bold">[[${item.getFam_living()}]]</span>
                </li>    
              </ul>
            </div>
            <div class="clear"></div>
          </section>
          <section th:if="${cv.getCertificate()} != null">
            <div class="sectionTitle">
              <h1 style="font-weight: 600; margin-top: 2%;">자격증</h1>
            </div>
            <div class="sectionContent">
              <ul class="list">
                <li style="margin-bottom:10px;" th:each="item : ${cv.getCertificate()}">
                  <span class="subDetails" th:text="${item.getLic_date()}"></span><span>-</span><span class="subDetails" th:text="${item.getLic_due_date()}"></span><span>-</span><span class="subDetails" th:text="${item.getLic_type()}"></span><span class="subDetails" th:text="${item.getLic_name()}"></span>.&nbsp;&nbsp;<span class="bold">[[${item.getLic_agency()}]].&nbsp;&nbsp;</span><span>[[${item.getLic_num()}]]</span>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </section>
          <section th:if="${cv.getLanguage()} != null">
            <div class="sectionTitle">
              <h1 style="font-weight: 600; margin-top: 2%;">어학능력</h1>
            </div>
            <div class="sectionContent">
              <ul class="list">
                <li style="margin-bottom:10px;" th:each="item : ${cv.getLanguage()}">
                  <span class="subDetails">[[${item.getFl_date()}]]</span><span>-</span><span class="subDetails" th:text="'('+${item.getFl_language()}+')'"></span><span>[[${item.getFl_name()}]].&nbsp;&nbsp;</span><span class="bold" th:text="'회화('+${item.getFl_conversation()}+')'"></span>.&nbsp;&nbsp;</span><span class="bold" th:text="'독해('+${item.getFl_reading()}+')'"></span>.&nbsp;&nbsp;</span><span class="bold" th:text="'작문('+${item.getFl_writing()}+')'"></span>.&nbsp;&nbsp;</span><span class="bold">[[${item.getFl_score()}]]</span>.&nbsp;&nbsp;</span><span class="bold">[[${item.getFl_rank()}]]</span>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </section>
          <section>
            <div class="sectionTitle">
              <h1 style="font-weight: 600; margin-top: 2%;">희망조건</h1>
            </div>
            <div class="sectionContent">
              <ul class="list">
                <li style="margin-bottom:10px;"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;[[${cv.getSec_of_exam()}]]</li>
                <li style="margin-bottom:10px;"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;<span th:if="${cv.getDesired_salary() != null}">[[${cv.getDesired_salary()]]</span><span th:if="${cv.getDesired_salary() == null}">회사내규에 따름</span></li>
              </ul>
            </div>
            <div class="clear"></div>
          </section>

        </div>
      </div>
    </page>
  </body>


  </html>

  </html>
</body>

</html>