<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script th:async src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- jquery에서 제공하는 최신 버전의 jQuery url-->
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <!-- select 태그 부트스트랩 -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/Employ.js"></script> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <link rel="stylesheet" href="/css/certificate.css" />
    <link rel="stylesheet" href="/css/menu-common2.css" />
    <link rel="stylesheet" href="/css/frame.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/licenseList.css" />

    <script src="/js/jquery-3.6.0.min.js"></script>
    <script defer src="/js/nav.js"></script>
    <script src="/js/license.js"></script>


</head>

<body>

    <!--nav 상담-->
    <div th:replace="layout/layout :: nav" />


    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="sidebar">
                        <div class="menu2">
                            <div id="bar">
                                <h2>자격증 관리</h2>
                                <ul id="menu_bar">
                                    <li id="menu_con1">
                                        <h4>자격증</h4>
                                        <ul id="sb_detail">
                                            <li><a href="/license/list">자격증 목록</a></li>
                                            <li><a href="/license/register">자격증 등록</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> <!-- bar -->
                        </div> <!-- menu -->
                    </div>
                </div>
                <div class="employList">
                    <div class="employListPost">
                        <!-- <li th:each="dto: ${result.getDtoList()}">
                            <div class="ui_flex">
                                <ul class="post_corp_name_wrap">
                                    <i class="far fa-id-card" style="display: inline;"></i>
                                    <li class="post_corp_name" th:text="${dto.getLic_name()}" style="display: inline;">
                                        자격증 명</li>
                                </ul>
                                <ul class="test">
                                    <li class="post_end_date" style="padding-right: 20px; font-size: 15px; "
                                        th:text="'작성일'+' '+ ${dto.getRegDate()}">작성일
                                    </li>
                                    //삭제버튼
                                    <a th:href="@{/license/delete(num=${dto.getLic_num()})}">
                                        <button id="licenseRemove" class="post_end_date mazer licenseRemove">
                                            <i class="fas fa-times" style="font-size: 22px;"></i>
                                        </button>
                                    </a>
                                    <input type="hidden" class="lic_num" th:value="${dto.getLic_num()}">
                                </ul>
                            </div>


                            <ul>
                                <li class="cerDate" th:text="'취득일'+'  '+ ${dto.getLic_date()}"
                                    style="margin-top: 10px;">취득일</li>

                                <li class="cerDate" th:text="'만료일'+'  '+ ${dto.getLic_due_date()}">만료일</li>
                            </ul>
                            <ul class="post_corp_name_wrap" style="margin-top: 10px;">
                                <a class="license_modify"
                                    th:href="@{/license/modify(num = ${dto.getLic_num()}, page = ${result.getPage()})}">수정하기</a>
                            </ul>

                           
                        </li> -->
                        <div class="wrapper">

                            <div class="able">

                                <div class="ae header blue">
                                    <div class="cell" >
                                        자격증 명
                                    </div>
                                    <div class="cell">
                                        자격번호
                                    </div>
                                    <div class="cell">
                                        발급기관
                                    </div>
                                    <div class="cell" th:text="${dto.getLic_date()}">
                                        취득일
                                    </div>
                                    <div class="cell" th:text="${dto.getLic_due_date()}">
                                        만료일
                                    </div>
                                </div>

                                <div class="ae" th:each="dto: ${result.getDtoList()}">
                                    <div class="cell" data-title="Name" style="max-width: 250px;" th:text="'(국가)'+${dto.getLic_name()}">
                                        (국가)정보처리산업기사사사사사사
                                    </div>
                                    <div class="cell" data-title="NUM" style="max-width: 140px;">
                                        adwjs-123512123
                                    </div>
                                    <div class="cell" data-title="Occupation" style="max-width: 200px;">
                                        한국어딘가어딘가딘가딘가
                                    </div>
                                    <div class="cell" data-title="Sdate"  style="max-width: 98px;" th:text="${dto.getLic_date()}">
                                        2016-04-25
                                    </div>
                                    <div class="cell" data-title="ndate"  style="max-width: 98px;" th:text="${dto.getLic_due_date()}">
                                        2016-04-25
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <ul class="pagination  h-100 justify-content-center align-items-center" id="pagination">
                        <li class="page-item" th:if="${result.prev}">
                            <a class="page-link" th:href="@{/license/list(page=${result.start -1 },
                             type=${pageReuqestDTO?.type},
                             keyword = ${pageRequestDTO.keyword} )}" tabindex="-1">Previous</a>
                        </li>
                        <li th:class="'page-item ' + ${result.page == page?'active':''}"
                            th:each="page:${result.pageList}">
                            <a class="page-link" th:href="@{/license/list(page=${page},
                            type=${pageReuqestDTO?.type},
                            keyword = ${pageRequestDTO.keyword}
                             )}" th:text="${page}"></a>
                        </li>
                        <li class="page-item" th:if="${result.next}">
                            <a class="page-link" th:href="@{/license/list(page=${result.end +1 },
                            type=${pageReuqestDTO?.type},
                            keyword = ${pageRequestDTO.keyword}
                            )}">Next</a>
                        </li>
                    </ul>

                    <img th:if="${#lists.size(result.getDtoList())} == 0" style="width:650px; margin-left: 70px;" src="/video/blankL.gif" alt="">
                </div>
            </div>
        </div>


    </section>
    </div>


    <!-- footer -->
    <footer th:replace="layout/layout :: footer" />


</body>

</html>