<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
    <script src="https://kit.fontawesome.com/3a29a769fa.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/user_info.css">

</head>

<body>
<!-- partial:index.partial.html -->

<section class="vbox">

    <!-- 상단 네비게이션 자리  -->
    <header class="bg-dark dk header navbar navbar-fixed-top-xs">
        <!--취업정보센터 링크 -->
        <div class="navbar-header aside-md">
            <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open"
               data-target="#nav,html"><i class="fa fa-bars"></i></a>


            <a href="/" class="navbar-brand" data-toggle="fullscreen"><i class="fas fa-book-open"></i>
                취업정보센터</a>

            <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user"><i
                    class="fa fa-cog"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
            <!-- 알림표시 -->
            <!-- open으로 작동 -->
            <!-- <li class="hidden-xs">
                <a href="#" class="dropdown-toggle dk" data-toggle="dropdown">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-sm up bg-danger m-l-n-sm count">2</span>
                </a>
                <section class="dropdown-menu aside-xl">
                    <section class="panel bg-white">
                        <header class="panel-heading b-light bg-light">
                            <strong>확인하지 않은 <span class="count">2</span>개 알림</strong>
                        </header>
                        <div class="list-group list-group-alt animated fadeInRight">
                            <a href="#" class="media list-group-item">
                                <span class="pull-left thumb-sm"><img src="images/avatar.jpg" alt="John said" class="img-circle"></span>
                                <span class="media-body block m-b-none"> 알림보여주는 자리<br>
											<small class="text-muted">10분</small>
											<small class="text-muted">전</small>
										</span>
                            </a>
                            <a href="#" class="media list-group-item">
										<span class="media-body block m-b-none">알림보여주는 자리<br><small
                                                class="text-muted">1일</small>
											<small class="text-muted">전</small></span>
                            </a>
                        </div>

                        <footer class="panel-footer text-sm">
                            <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                            <a href="#notes" data-toggle="class:show animated fadeInRight">모든알림 보러가기</a>
                        </footer>
                    </section>
                </section>
            </li> -->
            <!-- 로그아웃 드롭다운 메뉴 -->
            <!-- open -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span> &nbsp; &nbsp;</span> [[${memberDTO.getUser_name}]] 님 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInRight"> <span class="arrow top"></span>

                    <li> <a href="/mypage/member/modify">회원 정보수정</a> </li>
                    <!-- <li> <a href=""> <span class="badge bg-danger pull-right">3</span> 알림 </a> </li>  -->
                    <li class="divider"></li>
                    <li> <a href="">Logout</a> </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- 상단 네비게이션 end -->

    <section>
        <section class="hbox stretch">
            <!-- .aside -->
            <!-- 왼쪽메뉴 -->
            <!-- nav-xs로 줄임 -->
            <aside class="bg-dark lter aside-md hidden-print " id="nav">
                <section class="vbox">
                    <!--MY HOME-->
                    <header class="header bg-primary lter text-center clearfix">
                        <button type="button" class="btn btn-sm btn-dark btn-icon" title="New project">
                            <i class="fas fa-home"></i>
                        </button>
                        <div class="btn-group hidden-nav-xs">
                            <a href="">
                                <button type="button" class="btn btn-sm btn-primary"
                                        style="font-size: 20px; margin-bottom: 10px;"></i> MY
                                    HOME

                                </button>
                            </a>

                        </div>
                    </header>
                    <!-- MY HOME END -->
                    <section class="w-f scrollable">
                        <div class="slim-scroll" data-height="auto" data-disable-fade-out="true"
                             data-distance="0" data-size="5px" data-color="#333333">
                            <!-- aside nav 따로 파일 나눠놨어요 -->
                            <nav class="nav-primary hidden-xs">
                                    <ul class="nav active">
                                        <!-- 사이드메뉴 첫번째 -->
                                        <li>
                                            <a href="/mypage/consult/read" th:if="${memberDTO}">
                                                <i class="fa fa-dashboard icon"> <b class="bg-danger"></b> </i>
                                                <span>회원 정보</span>
                                            </a>
                                        </li>
                                        <!-- 두번째 -->
                                        <li>
                                            <a>
                                                <i class="fa fa-columns icon"><b class="bg-warning"></b> </i>
                                                <span class="pull-right">
                                                    <i class="fa fa-angle-down text"></i>
                                                    <i class="fa fa-angle-up text-active"></i>
                                                </span>
                                                <span>상담관리</span>
                                            </a>
                                            <ul  class="nav lt" >
                                                <li>
                                                    <a th:href="@{/mypage/consult/counselling_request}">
                                                        <i class="fa fa-angle-right"></i>
                                                        <span>대기목록</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a th:href="@{/mypage/consult/counselling_reject}">
                                                        <i class="fa fa-angle-right"></i>
                                                        <span>거절목록</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            <!-- nav end -->
                        </div>
                    </section>

                    <footer class="footer lt hidden-xs b-t b-dark">
                        <!-- 메뉴숨길때 btn-icon active -->
                        <a href="#nav" data-toggle="class:nav-xs"
                           class="pull-right btn btn-sm btn-dark btn-icon ">
                            <i class="fa fa-angle-left text"></i>
                            <i class="fa fa-angle-right text-active"></i>
                        </a>
                        <div class="btn-group hidden-nav-xs">
                        </div>
                    </footer>
                </section>
            </aside>

            <!-- /.aside -->
            <!-- 콘텐츠 자리 -->
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder">
                        <!-- 요기안에 컨텐츠 넣으면 되용 -->
                        <div id="content-frame">
                            <!-- 메뉴제목자리 -->
                            <div id="title">
                                <h1>회원 정보</h1>
                            </div>
                            <!-- 주요컨텐츠 -->
                            <div id="main-content">
                                <table id="user_info">
                                    <tr class="border-top">
                                        <th class="gray bottom-line right-line th-center">아이디가 뭘까요</th>
                                        <td class="bottom-line td_padding-left">[[${memberDTO.getUser_id()}]]</td>
                                    </tr>
                                    <tr>
                                        <th class="gray bottom-line right-line th-center">이름</th>
                                        <td class="bottom-line td_padding-left">[[${memberDTO.getUser_name()}]]</td>
                                    </tr>
                                    <tr>
                                        <th class="gray bottom-line right-line th-center">이메일</th>
                                        <td class="bottom-line td_padding-left">[[${memberDTO.getUser_email()}]]@[[${memberDTO.getUser_emailDomain()}]]</td>
                                    </tr>
                                    <tr>
                                        <th class="gray bottom-line right-line th-center">연락처</th>
                                        <td class="bottom-line td_padding-left">[[${memberDTO.getUser_ph()}]]-[[${memberDTO.getUser_ph2()}]]-[[${memberDTO.getUser_ph3()}]]</td>
                                    </tr>
                                    <tr>
                                        <th class="gray bottom-line right-line th-center">주소</th>
                                        <th class="bottom-line">
                                            <table>
                                                <tr>
                                                    <th class="th2-center">우편번호</th>
                                                    <td class="test">[[${memberDTO.getUser_postcode()}]]</td>
                                                </tr>
                                                <tr>
                                                    <th class="delete gary th2-center" >주소</th>
                                                    <td class="test">[[${memberDTO.getUser_addr()}]]</td>
                                                </tr>
                                                <tr>
                                                    <th class="th2-center">상세주소</th>
                                                    <td class="test">[[${memberDTO.getUser_addr_details()}]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen"
                   data-target="#nav"></a>
            </section>
            <!-- 콘텐츠 END -->

            <aside class="bg-light lter b-l aside-md hide" id="notes">
                <div class="wrapper">Notification</div>
            </aside>
        </section>
    </section>
</section> <!-- Bootstrap -->
<!-- App -->

</body>
<!-- partial -->
<script src="/js/mypage.js"></script>
</body>

</html>