@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:300;
}
h1{
    font-weight:700;
    margin:0px;
}
h2{
    font-weight:500;
    margin:0px;
}
h3{
    font-weight:400;
    margin:0px;
}
h4{
    font-weight:100;
    margin:0px;
}


*{
    box-sizing : border-box;
}
html{
    width:100%;
    height:100%;
    height:auto;
    background-color: #5978b9;
}
body{
    display:inline-block;
    width:100%;
    height:100%;
    margin:0px;
}
li{
    list-style-type:none;
}
input{
    padding-left:15px;
}
input:focus{
    outline:1px solid #5978b9;
}
select{
    appearance: none;
    background:url("/img/down-arrow.png") no-repeat 94% 50%/13px auto;
    padding-left:15px;
}
select:focus{
    outline:1px solid #5978b9;
}
button{
    cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    display: block;
    position:relative;
    background:url("/img/calendar.png") no-repeat 100% 50%/13px auto;
    right:15px;
    zoom:1.15;
}


input[type="checkbox"] {
    display:inline-block;
    height: 18px;
    width: 20px;
    line-height:22px;
    margin:0px !important;

    background: -webkit-linear-gradient(#ffffff, #ffffff);
    font-size:15px;
    -webkit-appearance:none;
    border:1px solid #c2c9db;
}
input[type="checkbox"]:checked:before {
    position:relative;
    left:-13px;
    top:-4px;
    font-weight: 900;
    color: red;
    content: '\2713';
    /*-webkit-margin-start: -12px;       start==left, end==right, before==top, after==bottom*/
    /*-webkit-margin-before:-50px;        top이 안되어서 그냥 relative*/
}








#admin_header{
    display:flex;
    align-items: center;
    width:100%;
    height:75px;
    background-color: #ffffff;
}
#admin_header h5{
    display:inline-block;
    margin-left:40px;
    color:#5978b9;
    font-size:23px;
}



#wrap{
    display:flex;
    width:100%;
    height:100%;
    background-color: #5978b9;
}



#menubox{
    width:250px;
    height:100%;
    background-color:#5978b9;
    color:#ffffff;
}
.menubox_li{
    position:relative;
    width:250px;
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;

    border-bottom:2px outset #ffffff3b;
    cursor: pointer;
}
.menubox_li h5{
    width:80px;
    margin-left:20px;
    font-size:15px;
}
/*메뉴 아이콘들*/
.menubox_li i{
    position:absolute;
    left:35px;
    width:50px;
    font-size:30px;
}
.menubox_li img{
    position:absolute;
    left:35px;
    width:40px;
}
.menubox_li:hover{
    background-color:rgb(144, 224, 239);
    transition:0.5s;
}








.main{
    visibility: hidden;
}

@media screen and (max-height:937px){
    .main{
        /*visibility: visible;*/
    }
    
}
#main_wrap{
    width:100%;
    height:100%;
    padding:50px;
    background-color: #f0f3fa;
}
#menu_guide{
    width:1200px;
    height:40px;
    font-size:18px;
}
#menu_guide ul{
    display:none;
    margin:0px;
    padding:0px;
}
.guide_select{
    padding-right:30px !important;
}
#menu_guide select{
    display:inline-block;
    margin:0px;
    padding:0px;
    font-size: 18px;
    border:none;
    background:url("/img/guide_button.svg") no-repeat 94% 100%/24px auto;
}
#menu_guide select:focus{
    outline:none;
}
#menu_guide img{
    width:15px;
}
#menu_title{
    width:500px;
    height:60px;
    font-size:27px;
}




/*상세메뉴들의 제목*/
.sub_menu_title{
    height:65px;
    margin-top:50px;
    font-size:19px;
}

/*모달창을위한 더미 div*/
#shadow_box{
    background-color: black;
    z-index:1;
    /*z-index:4; !*상위요소로 하위요소를 덮고싶다면 하위요소에 z_index를 음수,상위요소에 auto로 설정*!*/
}


/*main2_검색*/
.user_search {
    width:1550px;
}
.user_search ul{
    width:1550px;
    margin:0px;
    padding:0px;
    font-size:0px;
}
.user_search li{
    display:inline-block;
    line-height:75px;
    font-size:17px;
}
.user_search li:nth-child(1) {
    width:200px;
    text-align: center;
    background-color: #dbe1ef;
    border-bottom:1.5px solid #c2c9db;
}
.user_search li:nth-child(2) {
    width:1350px;
    padding-left:15px;
    background-color: #ffffff;
    border-bottom:1.5px solid #e6e7ee;
}
.user_search ul:last-of-type li{
    border:none;
}


.user_search select{
    position:relative;
    width:300px;
    height:42px;
    border:1px solid #c2c9db;
    background-color: #c2c9db;/*값이 들어가면 색이 #ffffff로 바뀜*/
    font-size:15px;
}
.user_search input{
    width:300px;
    height:42px;
    border:1px solid #c2c9db;
    background-color: #c2c9db;/*값이 들어가면 색이 #ffffff로 바뀜*/
    font-size:15px;
}
/*date 버튼*/
.user_search button{
    width:70px;
    height:42px;
    margin-left:5px;
    background-color: #ffffff;
    border:1px solid #c2c9db;
    font-size:15px;
}
.user_search button:hover{
    border:2px solid #5978b9;
}
.user_search ul button:hover{
    background-color:#5977b918;
}


/*검색버튼*/
.user_search_button{
    width:1550px;
    margin-top:30px;
    text-align: center;
}
.user_search_button button{
    width:100px;
    height:60px;
    background-color: #5978b9;
    color:#ffffff;
    font-size:14px;
    border:none;
}



/*main2_회원리스트+회원가입승인*/
.user_list{
    width:1550px;
    font-size:16px;
}
.user_list_head{
    height:40px;
    background-color: #b9c0d3;
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
    font-size:0px; /*span간 간격을 없애기 위함*/
}
.user_list_body{
    height:40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
    font-size:0px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.user_list_body:hover{
    background-color: #5977b918;
}

/* list의 각 항목들 */
span{
    display:inline-block;
    height:38px;
    line-height:35px;
    text-align: center;
    padding: 0px 10px;
    border-right:1px solid #e2e2e2;
    font-size:16px;
    overflow: hidden;
}
span:nth-of-type(1){
    border-left:1px solid #e2e2e2;
}

.user_list input{
    margin-top:10px !important;
}
.user_list input:focus{
    outline:none;
}
.check{
    width:40px;
    z-index:1;
}
.number{
    width:90px;
}
.name{
    width:350px;
}
.username{
    width:300px;
}
.phone{
    width:160px;
}
.email{
    width:340px;
}
.joindate{
    width:140px;
}
.role{
    width:130px;
}
.shape{
    width:130px;
    z-index:1;
    padding:0px;
}
.shape select{
    text-align-last: center;
    width:120px;
    height:40px;
    line-height:35px;

    padding:0px 10px;
    border:0px;
    outline: none;
    font-size:16px;

    background:url("/img/down-arrow.png") no-repeat 87% 50%/11px auto;

}
.user_list_button button{
    width:90px;
    height:40px;
    margin:20px 0px 10px 0px;
    background-color:#5978b9;
    color:#ffffff;
    font-size:14px;
    border:none;
}




/*main2_회원 상세정보*/
.detailBox{
    display:block;
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    top:7%;
    width:620px;
    height:800px;
    padding:35px;
    margin:auto;
    background-color: #ffffff;
    color:#545c64;

    border-radius: 5px;
    font-weight: 700;
    font-size:14px;

       opacity:0; /*css효과를주기위해*/
    visibility:hidden;
    overflow-y: scroll;
    transition-property:opacity;
    transition-duration: 0.45s;
    z-index:3;
}
.detailBox::-webkit-scrollbar {
    width: 5px;
}
.detailBox::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}
.detailBox::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;

}
.detailBox i{
    font-size:23px;
    line-height: 35px;
}
.detailBox input{
    width:550px;
}
.d_role{
    width:110px;
    height:32px;
    padding:0 12px;

    background-color: #5978b9;
    color:#ffffff;
    border-radius: 7px 3px 3px 7px;
    /* box-shadow: 0px 0px 1px 1px #9cc9f8; 없앨지 말지 고민 */
}
.d_tagN{
    display:flex;
    height:30px;
    margin-top:5px;
    line-height: 30px;
    font-weight:400;
    font-size:13px;
}
.d_cont{
    height:30px;
    font-weight:400;
    font-size:13px;
    padding:0 11px;
    margin-bottom:4px;
}
.d_cont:focus{
    outline:none;
}
.d_cont[readonly]{
    background-color:#dbe1ef;
    border:1px solid rgb(118, 118, 118);
}
.d_button{
    display:inline-block;
    width:90px;
    height:30px;
    margin:20px 10px 0px 0px;
    background-color: #5978b9;
    color:#ffffff;
    border:none;

    font-weight: 500;
    font-size:12px;
}



/*chart*/
#container{
    width:1550px;
    height:550px;
}
.highcharts-figure, .highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin:0px;
}
.highcharts-series-0:hover{

}
.highcharts-series-label{
    display:none;
}
