@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body{
    display:flex;
    width:1920px;
    height:935px;
}
select{
    height:25px;
    margin: auto 0;
    margin-right:10px;
    color:#6d6d6d;
    border-radius:4px 4px 4px 4px;
    border:1px solid#a8a8a8;
}
button{
    border-radius:4px 4px 4px 4px;
    border:1px solid#a8a8a8;
    color:#6d6d6d;
}
input{
    border-radius:4px 4px 4px 4px;
    border:1px solid#a8a8a8;
}

.bodyLap{
    display:flex;
    width:1920px;
    height:935px;

    transition-property: opacity;
    transition-duration: 0.7s;
}

.menubox{
    width:235px;
    height:100%;
    background-color: #353535;
    box-shadow: 1px 0px 3px #6d6d6d inset;
}

.menubox-header{
    height:62px;
    padding:14px;
    padding-left:15%;
    border-bottom:solid 1px #5a5a5a;
}
.menubox-header{
    color:white;
    font-size:21px;
    font-family: "Noto Sans Korean", "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", "Noto Sans", sans-serif;
    font-weight:400
}

.menubox-body{
    margin-top:10px;
    padding-left:3px; 
}

.menubox-body-menu{
    display:block;
    height:60px;
    padding-top:20px;
    padding-left:10%;
    color:#eeeeee;

    font-family: "Noto Sans Korean", "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", "Noto Sans", sans-serif;
    font-size:14px;
    font-weight:500;
    margin:0px;

}

.menubox-body-sub{
    display:block;
    height:0px;
    padding-left:30%;

    overflow: hidden; 
    transition-property: height;
    transition-duration: 0.8s;
}
.menubox-body-sub > p{
    height:35px;

    font-family: "Noto Sans Korean", "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", "Noto Sans", sans-serif;
    font-size:14px;
    font-weight:500;
    color:#eeeeee;

    line-height: 50px;

}


#main1_2{
    display:none;
}
#main1_3{
    display:none;
}
#main1_4{
    display:none;
}


/* 따로 경로를 지정해주지 않은것은 main1_1(회원리스트)+a의 css */
.main{
    display:inline-block;
    width:1685px;
    height:935px;
    padding:0px;
    background-color: #eeeeee;
}
.main-head{
    width:1685px;
    height:60px;
    margin:0px;
    padding-left:3%;
    background-color: #ffffff;
    box-shadow: 0px 0.5px 0px 0px rgb(192, 192, 192);
}
.main-head > h4{
    margin:0px;
    line-height: 300%;
    font-size:18px;
    font-family: "Noto Sans Korean", "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", "Noto Sans", sans-serif;
    font-weight:600;
    color:#585858;
}


/* main박스의 검색구역 */
.main-search{
    width:1600px;
    height:150px;
    margin: 50px auto 90px auto;
    padding-left:60px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
    display:flex;
}
.main-search-c{
    width:1600px;
    margin:auto 0px;

}
.main-search-line{
    margin-bottom: 5px;
    display:flex;
}
.main-search-line > h2{
    font-size:15px;
    width:150px;
    color:#585858;
    font-family: 'Nanum Gothic', sans-serif;
}

.circle{
    display:inline-block;
    margin: auto 0;
    margin-right:10px;
    width:4px;
    height:4px;
    border-radius:50%;
    background-color:#6d6d6d;
}
.main-search-choose{
    height:100px;
    margin: auto;
    margin-right:30px;
}
.main-search-choose button{
    margin:auto 3px; 
    width:100px; 
    height:100px; 
    background-color:#07bad4;
    color:white; 
    font-size:16px; 
    font-weight:bolder;
}






.main-content{
    width:1600px;
    height:480px;
    margin: 15px auto;
    padding: 30px 50px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
    color:#585858;
}
.main-content-listhead{
    width:1500px;
    height:25px;
    margin:0px auto;
}
.main-content-listhead span{
    font-weight: 600;
    font-size: 15px;
}
.main-content-list{
    font-size:15px;
    width:1500px;
    margin:0px auto;
}

/* list의 각 항목들 */
.check{
    display:inline-block;
    margin: 0 5px 0 35px;

}
.number{
    display:inline-block;
    width:90px;
    text-align:center;
}
.name{
    display:inline-block;
    width:130px;
}
.username{
    display:inline-block;
    width:230px;
}
.phone{
    display:inline-block;
    width:170px;
}
.email{
    display:inline-block;
    width:330px;
}
.joindate{
    display:inline-block;
    width:170px;
}
.grade{
    display:inline-block;
    width:150px;
}

.detail{
    display:inline-block;
    text-align:center;
    width:70px;
    margin:0px;
}



.btnBottom{
    display: flex;
    width:1685px;
    justify-content: center;
    font-size:25px;
}
.btnpage{
    display: inline-block;
    width:20px;
    height:20px;
    border:1px solid black;
    font-size:15px;
    font-weight:300;
    text-align: center;
    margin:2px 5px;   
}



/* 상세보기 */
.detailEnter{
    display:block;
    visibility:hidden;
    position:fixed;
    width:1920px;
    height:935px;
    z-index:1;
}
.detailBox{
    display:block;
    visibility:hidden;
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    top:15%;
    width:40%;
    height:70%;   
    
    opacity:0;
    transition-property:opacity;
    transition-duration: 0.5s;
    z-index:2;
    background-color: #eeeeee;
    /* box-shadow: 0px 0px 1px 1px rgb(192, 192, 192); */
}


/*main1_2 회원가입승인의 일괄 승인/삭제버튼 */
/*main1_3 회원등급수정의 일괄 승인/삭제버튼 */
.btnAllow{
    display:inline-block;
    position:absolute;
    width:300px;
    left:400px;
    font-size:20px;
    font-weight:300;
    color:#585858;
    font-family: 'Nanum Gothic', sans-serif;
}
.btnAllow button{
    width:110px;
    font-weight:bolder;
}
.btnAllow button:hover{
    background-color:#07bad4;
    color:white; 
}



/*main1_3 회원등급수정의 리스트 크기 조절,요청등급 추가*/
#main1_3 .joindate{
    width:150px;
}
#main1_3 .grade{
    width:60px;
}
#main1_3 .req-grade{
    display:inline-block;
    width:80px;
    text-align:center;
}
#main1_3 .detail{
    width:120px;
}



/* main1_4 회원통계의 통계구역들 */
.main-join-stat{
    display:block;
    width:1600px;
    height:340px;
    margin: 50px auto 50px auto;
    background-color: #ffffff;
    font-size:0px; /*graph와 level div의 여백공간 없애기*/
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
}
.main-join-head{
    width:1600px;
    height:60px;
    margin:0px;
    padding-left:30px;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0.5px 1.5px 0px rgb(192, 192, 192);
}
.main-join-head > h5{
    margin:0px;
    line-height: 400%;
    font-size:15px; 
    /* font-family: 'Nanum Gothic', sans-serif; */
    /* font-weight: 700;  */
    /* color:#585858; */
    color:#363b3e;
}
.main-join-monthChart{
    display:inline-block;
    width:1200px;
    height:280px;
}
#joinChartdiv {
    width: 1200px;
    height: 280px;
    font-size:13px;
  }


  
.main-join-yearChart{
    display:inline-block;
    float:right;
    width:390px;
    height:280px;
    margin:0px;
    background-color:#363b3e;
    color:rgb(192, 192, 192);
    box-shadow: -1px -0.5px 0px 0.5px rgb(192, 192, 192);
}
.main-join-yearChart-year::-webkit-scrollbar {
    width: 0px;
    background-color: #363b3e; 
}
.main-join-yearChart-year{
    display:block;
    height:65px;
    margin:0px;
    text-align: center;
    overflow-y:scroll;
}
.main-join-yearChart-year > h1{
    margin:0px;
    height:65px;
    color:#ffffff;
}





.main-stat-lap{
    display:block;
    width:1600px;
    height:390px;
    margin:0 auto;
    padding:0px;
    background-color: #eeeeee;
}
.main-views-stat{
    display:inline-block;
    float:left;
    width:1150px;
    height:390px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
}
.main-views-head {
    height:30px;
    margin-top:15px;
    padding-left:30px;
    color:#363b3e;
    font-size:14px;
    font-weight:700;
}
.main-views-select{
    float : right;
}
#viewsChartDiv {
    width: 100%;
    height: 276px;
    font-size:10px;
}
/* .main-major-stat{
    display:inline-block;
    float:left;
    width:520px;
    height:330px;
    margin-left:20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);  
}
.main-major-head{
    height:30px;
    margin-top:15px;
    padding-left:30px;
    color:#363b3e;
    font-size:14px;
    font-weight:700;
} */


.main-grade-stat{
    display:inline-block;
    float:right;
    width:410px;
    height:200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
}
.main-grade-head{
    height:30px;
    margin-top:15px;
    padding-left:30px;
    color:#363b3e;
    font-size:14px;
    font-weight:700;
}
.main-grade-list-head{
    color:#a8a8a8;
    font-size:15px;
    font-weight:600;
    padding-left:30px;
}
.main-grade-list{
    padding-left:30px;
    font-size:14px;
    font-weight:600;
    color:#363b3e;
}
.grade-year{
    display:inline-block;
    width:70px;
}
.grade-student{
    display:inline-block;
    width:70px;
}
.grade-enter{
    display:inline-block;
    width:50px;
}
.grade-professor{
    display:inline-block;
    width:50px;
}
.grade-counselor{
    display:inline-block;
    width:60px;
}
.grade-mentor{
    display:inline-block;
    width:50px;
}

