/* @font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */

/* @media screen and (min-height:600px) {
    #menubox{
        height:100%;
    }
  } */
body{
    display:flex;
    width:100%;
    height:100%;
}
select{
    padding-left:5px;
    margin: auto 0;
    color:#6d6d6d;
    border-radius:4px 4px 4px 4px;
    border:1px solid#a8a8a8;
}
button{
    border-radius:4px 4px 4px 4px;
    border:1px solid#a8a8a8;
    color:#6d6d6d;
}
input{
    padding-left:5px;
    border-radius:4px 4px 4px 4px;
    border:1px solid#a8a8a8;
    color:#6d6d6d;
}

#bodyWrap{
    display:flex;
    width:1920px;
    /* height:935px; */

    transition-property: opacity;
    transition-duration: 0.7s;
}

#menubox{
    width:235px;
    height:104%;
    background-color: #353535;
    box-shadow: 1px 0px 3px #6d6d6d inset;
}

#menubox_header{
    height:62px;
    padding:14px;
    padding-left:15%;
    border-bottom:solid 1px #5a5a5a;
}
#menubox_header{
    color:white;
    font-size:21px;
    font-family: "Noto Sans Korean", "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", "Noto Sans", sans-serif;
    font-weight:400
}

#menubox_body{
    margin-top:10px;
    padding-left:3px; 
}

.menubox_body_menu{
    display:block;
    height:60px;
    padding-top:20px;
    padding-left:10%;
    color:#eeeeee;

    font-family: "Noto Sans Korean", "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", "Noto Sans", sans-serif;
    font-size:14px;
    font-weight:500;
    margin:0px;
}

.menubox_body_menu i:nth-child(1){ /*메뉴 아이콘*/
    margin-right:20px; font-size:16px; color:rgb(153, 151, 151);
}
.menubox_body_menu i:nth-child(2){ /*아래방향화살표*/
    font-size:12px; float:right; margin-right:10%; margin-top:3%; color:rgb(153, 151, 151);
}
.menubox_body_menu i:nth-child(3){ /*위방향화살표*/
    display:none; font-size:12px; float:right; margin-right:10%; margin-top:3%; color:rgb(153, 151, 151);
}


.menubox_body_sub{
    display:block;
    height:0px;
    padding-left:30%;

    overflow: hidden; 
    transition-property: height;
    transition-duration: 0.8s;
}
.menubox_body_sub > p{
    height:35px;
    font-family: "Noto Sans Korean", "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", "Noto Sans", sans-serif;
    font-size:14px;
    font-weight:500;
    color:#eeeeee;
    line-height: 50px;
}






/* 따로 경로를 지정해주지 않은것은 main1_1(회원리스트)+a의 css */
.main{
    display:none;
    width:100%;
    height:104%;
    padding:0px;
    background-color: #eeeeee;
}
/* .main:nth-child(1 of .main){
사파리에서만 지원
}  */
.main:nth-child(2){   /*child(1)로 하니 <div id="menubox">가 첫번째 자식요소라 적용안됨*/
    display:inline-block;
}
.main_head{
    width:100%;
    height:60px;
    margin:0px;
    padding-left:3%;
    background-color: #ffffff;
    box-shadow: 0px 0.5px 0px 0px rgb(192, 192, 192);
}
.main_head > h4{
    margin:0px;
    line-height: 300%;
    font-size:18px;
    font-family: "Noto Sans Korean", "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", "Noto Sans", sans-serif;
    font-weight:600;
    color:#585858;
}


/* main박스의 검색구역 */
.main_search{
    width:1600px;
    height:150px;
    margin: 50px auto 90px auto;
    padding-left:60px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
    display:flex;
}
.main_search_c{
    width:1600px;
    margin:auto 0px;
}
.main_search_line{
    margin-bottom: 5px;
    display:flex;
}
.main_search_line button{
    margin:auto 3px;
}
.main_search_line > h2{
    font-size:15px;
    width:150px;
    color:#585858;
    font-family: 'Nanum Gothic', sans-serif;
}

.circle{
    display:inline-block;
    margin: auto 0;
    margin-right:10px;
    width:4px;
    height:4px;
    border-radius:50%;
    background-color:#6d6d6d;
}

.main_search_line select{
    width:90px;
    height:25px;
    margin-right:10px;
    padding-left:5px;
}
.main_search_line input{
    width:140px; 
    height:25px; 
    margin:auto 0; 
    margin-right:5px;
    font-weight:500;
}
.main_search_choose{
    height:100px;
    margin: auto;
    margin-right:30px;
}
.main_search_choose button{
    width:100px; 
    height:100px; 
    margin:auto 3px;  
    background-color:#07bad4;
    color:white; 
    font-size:16px; 
    font-weight:bolder;
}






.main_content{
    width:1600px;
    height:480px;
    margin: 15px auto;
    padding: 30px 50px;
    font-size:15px;
    background-color: #ffffff;
    color:#585858;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
    
}
.main_content_listhead{
    width:1500px;
    height:25px;
    margin:0px auto;
    font-weight: 600;
}

.main_content_list{
    width:1500px;
    margin:0px auto;
}

/* list의 각 항목들 */
.check{
    display:inline-block;
    width:50px;
}
.number{
    display:inline-block;
    width:90px;
    text-align:center;
}
.name{
    display:inline-block;
    width:130px;
}
.username{
    display:inline-block;
    width:230px;
}
.phone{
    display:inline-block;
    width:170px;
}
.email{
    display:inline-block;
    width:330px;
}
.joindate{
    display:inline-block;
    width:170px;
}
.grade{
    display:inline-block;
    width:150px;
}

.detail{
    display:inline-block;
    text-align:center;
    width:70px;
    margin:0px;
}



.btnBottom{
    display: flex;
    width:1685px;
    justify-content: center;
    font-size:25px;
}
.btnpage{
    display: inline-block;
    width:20px;
    height:20px;
    border:1px solid black;
    font-size:15px;
    font-weight:300;
    text-align: center;
    margin:2px 5px;   
}



/* 상세보기 */
#detailEnter{
    display:block;
    position:fixed;
    width:1920px;
    height:935px;

    visibility:hidden;
    z-index:1;
}
.detailBox{
    display:block;
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    top:3%;
    width:33%;
    height:95%;
    padding:40px;
    margin:auto;
    padding:40px;
    background-color: #ffffff;
    color:#545c64;

    border-radius: 5px;
    font-weight: 700;
    font-size:14px;
    
    visibility:hidden;
    opacity:0;
    overflow-y: scroll;
    transition-property:opacity;
    transition-duration: 0.5s;
    z-index:2;
}
.detailBox::-webkit-scrollbar {
    width: 5px;
}
.detailBox::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}
.detailBox::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    
}
.detailBox i{
    font-size:25px; 
    line-height: 35px;
}
.detailBox input{
    width:550px;
}
.d_role{
    width:115px;
    height:35px;
    padding:0 12px;

    background-color: #3f6ad8;
    color:#ffffff;
    border-radius: 7px 3px 3px 7px;
    /* box-shadow: 0px 0px 1px 1px #9cc9f8; 없앨지 말지 고민 */
}
.d_tagN{
    display:flex;
    height:35px;
    margin-top:5px;
    line-height: 35px;
    font-weight:400;
    font-size:14px;
}
.d_cont{
    height:35px;
    font-weight:400;
    font-size:16px;
    padding:0 12px;
    margin-bottom:5px;
}
.d_cont:focus{
    box-shadow: 0px 0px 3px 2px #9cc9f8;
    outline: none;
}
.d_button{
    display:inline-block;
    width:90px;
    height:30px;
    margin:20px 10px 0px 0px;
    background-color: #3f6ad8;
    color:#ffffff;

    font-weight: 500;
    font-size:13px;
}
/* .d_button:nth-of-type(-n+2){
    display:none;
} */



/*main1_2 회원가입승인의 일괄 승인/삭제버튼 */
.btnAllow{
    display:inline-block;
    position:absolute;
    width:300px;
    left:400px;
    font-size:20px;
    font-weight:300;
    color:#585858;
    font-family: 'Nanum Gothic', sans-serif;
}
.btnAllow button{
    width:110px;
    background-color: #ffffff;
    font-weight:bolder;
}
.btnAllow button:hover{
    background-color:#07bad4;
    color:white; 
}



/* main1_3 회원통계의 통계구역들 */
#main_join_stat{
    display:block;
    width:1600px;
    height:340px;
    margin: 50px auto 50px auto;
    background-color: #ffffff;
    font-size:0px; /*graph와 level div의 여백공간 없애기*/
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
}
#main_join_head{
    width:1600px;
    height:60px;
    margin:0px;
    padding-left:30px;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 0.5px 1.5px 0px rgb(192, 192, 192);
}
#main_join_head > h5{
    margin:0px;
    line-height: 400%;
    font-size:15px; 
    /* font-family: 'Nanum Gothic', sans-serif; */
    /* font-weight: 700;  */
    /* color:#585858; */
    color:#363b3e;
}
#main_join_monthChart{
    display:inline-block;
    width:1200px;
    height:280px;
}
#joinChartdiv {
    width: 1200px;
    height: 280px;
    font-size:13px;
}


  
#main_join_yearChart{
    display:inline-block;
    float:right;
    width:390px;
    height:280px;
    margin:0px;
    background-color:#363b3e;
    color:rgb(192, 192, 192);
    box-shadow: -1px -0.5px 0px 0.5px rgb(192, 192, 192);
}
#main_join_yearChart_year::-webkit-scrollbar {
    width: 0px;
    background-color: #363b3e; 
}
#main_join_yearChart_year{
    display:block;
    height:65px;
    margin:0px;
    text-align: center;
    overflow-y:scroll;
}
#main_join_yearChart_year > h1{
    margin:0px;
    height:65px;
    color:#ffffff;
}





#main_stat_lap{
    display:block;
    width:1600px;
    height:390px;
    margin:0 auto;
    padding:0px;
    background-color: #eeeeee;
}
#main_views_stat{
    display:inline-block;
    float:left;
    width:1150px;
    height:390px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
}
#main_views_head {
    height:30px;
    margin-top:15px;
    padding-left:30px;
    color:#363b3e;
    font-size:14px;
    font-weight:700;
}
#main_views_select{
    float : right;
    margin-right:15px;
}
#viewsChartDiv {
    width: 100%;
    height: 276px;
    font-size:10px;
}

#main_role_stat{
    display:inline-block;
    float:right;
    width:410px;
    height:200px;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0.5px rgb(192, 192, 192);
}
#main_role_head{
    height:30px;
    margin-top:15px;
    padding-left:30px;
    color:#363b3e;
    font-size:14px;
    font-weight:700;
}
#main_role_list_head{
    color:#757575;
    font-size:15px;
    font-weight:600;
    padding-left:30px;
}
#main_role_list{
    font-size:14px;
    font-weight:600;
    color:#363b3e;
}
#main_role_list .role-year{
    margin-left:30px;
}
.role-year{
    display:inline-block;
    width:70px;
}
.role-student{
    display:inline-block;
    width:70px;
}
.role-enter{
    display:inline-block;
    width:50px;
}
.role-professor{
    display:inline-block;
    width:50px;
}
.role-counselor{
    display:inline-block;
    width:60px;
}
.role-mentor{
    display:inline-block;
    width:50px;
}

