html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

#main {
    margin-top: 20px;
    background: #fff;
    border-bottom: solid 5px #1f3786d5;
    border-top: solid 5px #f2f5f3;
    border-bottom-width: 35px;
    border-top-width: 35px;
    z-index: -2;
}
.menu2 {
    width: 210px;
    margin-right: 50px;
}
#program-main-wrap {
    padding: 50px 0 50px;
}
.program-L {
    margin: auto;
    width: 70%;
}
table.type07 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    margin: 30px 10px;
    width: 1200px;
}
table.type07 thead {
    background: #f9f7f7;
    border-top: 2px solid #000;
}
table.type07 thead th {
    padding: 16px;
    font-weight: 900;
    vertical-align: top;
    font-size: 16px;
    color: #000;
    width: 300px;
}
table.type07 tbody th {
    font-weight: bold;
    vertical-align: top;
    background: #fff;
    height: 48px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
table.type07 > tbody > tr > th,
table.type07 > tbody > tr > td {
    padding: 5px 5px;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 16px;
}
.a-1 {
    text-align: center !important;
}
table.type07 td {
    font-size: 16px;
    vertical-align: top;
    font-weight: 500;
    border-right: 1px solid #ccc;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #ccc;
}
#coun-list p {
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.on {
    width: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    position: relative;
    color: #ccc;
}
.on-a {
    width: 20px;
    padding: 8px;
    border: 1px solid #4aa96c;
    background-color: #4aa96c;
    color: #fff;
    font-size: 16px;
    position: relative;
}
.on-a:hover {
    border: 1px solid #ccc;
    color: #4aa96c;
    background-color: #9fe6a0;
}
.on-b {
    width: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 13px;
    position: relative;
    color: #f55c47;
    margin-right: 10px;
}
td p {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    margin-left: 5px;
}
#coun-list  {
    font-size: 16px;
    color: #ccc;
    margin-left: 12px;
    float: left;
}
#countrol {
    font-size: 16px;
    color: #1e3c72;
    border: 1px solid #f0f0f0;
    border-radius: 1px;
    float: right;
    padding: 8px;

}
