html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* sidemenu */
/*#main {*/
/*    !*margin-top: 20px;*!*/
/*    background: #eee;*/
/*    border-bottom: solid 5px #1f3786d5;*/
/*    !*border-top: solid 5px #f2f5f3;*!*/
/*    border-bottom-width: 35px;*/
/*    border-top-width: 35px;*/
/*    padding: 0px;*/
/*    z-index: -2;*/
/*}*/
/*.menu2 {*/
/*    width: 210px;*/
/*}*/
body {
    background: #fff;
    margin: 0 auto;
}
input, button, select {
    border: none;
    color: #333;
    margin: 0;
    line-height: inherit;
    font-size: 16px;
    border-radius: 5px;
    padding: 8px;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}
#coun-content {
    float: left;
    width: 1020px;
    margin: 0 30px;
    background: #fff;
    border-radius: 8px;
}

#coun-wrap {
    position: relative;
    padding: 30px;
    height: 100px;
    margin: 0;
    border-bottom: 1px solid #eee;
}
.coun-con {
    margin: 60px 50px 0 50px;
    width: 89%;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.coun-box-body {
    padding: 50px;
    margin: 0;
    width: 100%;
    min-height: 300px;
}
h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}
.coun-box {
    float: left;
    background: #f6f6f6;
    border-radius: 3px;
    padding: 30px;
    width: 100%;
}
.clear-coun{
    display:block;
}
.coun-box .label {
    color: #000;
    margin:0px;
    margin-right: 20px;
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;

}
.coun-box .label1 {
    color: #000;
    padding-left: .6em;
    font-size: 75%;
    font-weight: 700;
    width: 75px;
    position: relative;
    margin:0px;
    margin-top: -13px;
    display: inline-block;
}

.coun-box>div>div {
    float: left;
    vertical-align: middle;
}
.coun-inline {
    display: inline-block;
    flex-flow: row wrap;
    align-items: center;
}
.inline{
   display:inline-block;
    width:800px;
    margin:20px 0;
}
input[type=text] {
    min-height: 30px;
    border: 1px solid #ddd;
    text-indent: 10px;
    transition: all 0.5s;
    vertical-align: middle;
}
.coun-control {
    display: inline-block;
    font-size: 0.875rem;
    width: 250px;
    height: 35px;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
    margin-right: 7px;
}
.btn-d {
    display: inline;
    white-space: nowrap;
    text-align: center;
    width: 210px;
    height: 40px;
    margin-top: 30px;
    margin-left: 328px;
    vertical-align: middle;
    border: 1px solid #2b2e4a;
    background-color: #2b2e4a;
    font-size: 0.875rem;
    color: #fff;
    padding: 0 15px;
    line-height: 32px;
}
.d_width {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    transition: all 0.5s;
}
#job-main-wrap {
    padding: 80px 0 80px;
}

