@import "reset.css";
@import "common.css";

body {
  position: relative;
  z-index: -99;
}

/* navbar */

ul,
li {
  list-style: none;
}
a {
  text-decoration: dotted;
  color: black;
}

/*depth들을 감싸고있는 박스*/

@media screen and (max-width: 1370px) {
  .nav {
    width: 1370px;
  }
}
.nav {
  position: relative;
  text-align: center;
  height: 100px;
  transition-property: all;
  transition-duration: 0.8s;
  z-index: 99;
}

.nav2 {
  position: relative;
  display: block;
  height: 0px;
  background-color: rgb(252, 250, 250);
  transition-property: all;
  transition-duration: 1.2s;
  z-index: 4;

  box-shadow: 0px 3px 3px 0px rgba(128, 128, 128, 0.466);
}

/*depth1*/
.nav .dep1 {
  position: relative;
  z-index: 4;
  font-size: 0px;
  padding-top: 20px;
  height: 100px;
}

.nav .dep1 > li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 20px;
  font-family: "Noto Sans KR", Arial, Tahoma, sans-serif;
  font-weight: 600;
}
.nav .dep1 > li.logo {
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  /*li.menu를 한꺼번에 묶어서 하지않은 이유는 a태그때문에 li.menu가 갇혀있기때문*/
}
.nav .dep1 > li.menu {
  width: 150px;
}
.nav .dep1 > li.login {
  margin-left: 50px;
}

.nav .dep1 > li.login,
.nav .dep1 > li.join {
  color: #666666;
  font-size: 12px;
  font-weight: 500;
  width: 100px;
}
/*depth2*/
.nav .dep2 {
  position: absolute;
  display: block;
  width: 150px;
  height: 0px;

  overflow: hidden;
  padding-top: 10px;

  transition-property: height;
  transition-duration: 1.2s;
  z-index: 4;
}
.nav .dep2 a {
  display: block;
  padding: 10px 0;
  color: #555555;
  font-family: "Noto Sans KR", Arial, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.nav .dep1 > li > a {
  display: block;
  padding: 30px 0;
}

.nav .dep1 > li:hover > a {
  color: green;
}
.nav .dep2 > li:hover > a {
  color: green;
}

/* main */
.mainWrap {
  position: relative;
  height: 600px;
  z-index: -9999;
}
main {
  display: flex;
  position: absolute;
  top: 117px;

  width: 100%;
  height: 500px;

  margin: 0 auto;
  padding-bottom: 50px;
  flex-direction: column;
  z-index: -100;
}

.background {
  z-index: -99;
  background-image: url("/img/mainback2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -4;
}

/* intro */

.intro {
  margin: auto;
  padding-top: 30px;
  width: 446px;
  height: 360px;
  z-index: -4;
  position: relative;
  opacity: 0.8;
}

.intro > h2,
h1,
h4 {
  text-align: center;
  color: black;
}
.intro > h2 {
  font-weight: var(--weight-bold);
  font-size: 24px;
}
.intro > h1 {
  font-size: 64px;
  margin: 10px;
}
.quick-menu > h4 {
  font-size: var(--font-micro);
  font-size: 14px;
}

/* quick-menu */

.quick-menu h5 {
  font-size: 16px;
  padding-bottom: 20px;
}

.quick-menu {
  position: relative;
  display: flex;
  margin: 0 110px;
  justify-content: center;
  text-align: center;
}
.up,
.down {
  display: flex;
  z-index: 100;
}

.up > div {
  margin: 0px;
  width: 190px;
  height: 170px;

  position: relative;
  padding-top: 30px;
  text-align: center;
}

.down > div {
  margin: 0px;
  width: 190px;
  height: 170px;

  position: relative;
  padding-top: 30px;
  text-align: center;
}

.quick-menu p,
h2,
h5 {
  padding-top: 10px;
  line-height: 25px;
  color: #fff;
}

.hide a {
  width: 60%;
  color: #fff;
  padding: 7px;
  border-radius: 20px;
  margin: 10px;
}

.quick-menu a:hover {
  color: #000;
}

.hide {
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 238, 0, 0.815);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
  flex-direction: column;
  align-items: center;
}
.quick-menu__carrerTest,
.quick-menu__carrerTest a {
  background-color: rgba(68, 65, 65, 0.781);
}

.quick-menu__mentoring,
.quick-menu__mentoring a {
  background-color: rgba(68, 65, 65, 0.781);
}

.quick-menu__counseling,
.quick-menu__counseling a {
  background-color: #545e60e8;
}

.quick-menu__counseling__content {
  padding-top: 60px;
}

.quick-menu__mentoring:hover .quick-menu__mentoring__content {
  opacity: 1;
}
.quick-menu__carrerTest:hover .quick-menu__carrerTest__content {
  opacity: 1;
}

.quick-menu__counseling:hover .quick-menu__counseling__content {
  opacity: 1;
}

.quick-menu__program,
.quick-menu__program a {
  background-color: rgba(68, 65, 65, 0.781);
}
.quick-menu__program__content {
  padding-top: 60px;
}

.quick-menu__program:hover .quick-menu__program__content {
  opacity: 1;
}

.quick-menu__application,
.quick-menu__application a {
  background-color: #545e60e8;
}

.quick-menu__application__content {
  padding-top: 90px;
}

.quick-menu__application:hover .quick-menu__application__content {
  opacity: 1;
}

.quick-menu__job-opening,
.quick-menu__job-opening a {
  background-color: rgba(68, 65, 65, 0.781);
}

.quick-menu__job-opening__content {
  padding-top: 90px;
}

.quick-menu__job-opening:hover .quick-menu__job-opening__content {
  opacity: 1;
}

/* .job-opening {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
} */

/* 227 */
@media screen and (max-width: 1142px) {
  .up > div {
    width: 190px;
  }
}

@media screen and (max-width: 1142px) {
  .down > div {
    width: 190px;
  }
}

@media screen and (max-width: 887px) {
  .up,
  .down {
    display: block;
  }

  .intro img {
    display: none;
  }

  .up > div {
    margin: 0px;
    width: 190px;
    height: 150px;
    padding-top: 15px;
  }

  .down > div {
    margin: 0px;
    width: 190px;
    height: 150px;
    padding-top: 15px;
  }
  .quick-menu__mentoring,
  .quick-menu__mentoring a {
    background-color: #545e60e8;
  }

  .quick-menu__program,
  .quick-menu__program a {
    background-color: rgba(68, 65, 65, 0.781);
  }
  .quick-menu__counseling__content,
  .quick-menu__program__content {
    padding-top: 10px;
  }

  .quick-menu__application__content {
    padding-top: 35px;
  }
}

@media screen and (max-width: 575px) {
  .quick-menu {
  }
}
.up > div {
  width: 190px;
}

.down > div {
  width: 190px;
}

/* notice */

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1720px) {
  .notice {
    width: 650px;
  }
  .notice .btn {
    display: none;
  }
}
.notice {
  width: 1200px;
  height: 60px;
  position: relative;
  overflow: hidden; /*이 부분만 풀면 내용 숨겨져요*/
  margin: 120px auto;
}
h3 {
  width: 250px;
  color: #2a2a72;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
  z-index: 1;
}
.notice h3:before {
  content: "\f0f3";
  font-family: FontAwesome;
  font-weight: 900;
  margin: 0px 10px 0;
  font-size: 30px;
  vertical-align: middle;
  display: inline-block;
}
.notice ul {
  position: relative;
}
.notice ul li {
  padding-left: 20px;
  position: relative;
  padding: 0 20%;
  height: 60px;
  font-size: 40px;
  font-weight: 700;
}
.notice .btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.notice .btn span:nth-child(1) {
  margin-right: 15%;
}

.listbox {
  width: 1200px;
  height: 570px;
  margin: 120px auto;
  display: flex;
  justify-content: space-around;
}
.list {
  text-align: center;
  width: 500px;
  height: 550px;
  background: #fff;
  border-top: 5px solid #2a2a72;
  border-bottom: 5px solid #2a2a72;
  box-shadow: -1px 1px 10px rgba(114, 114, 114, 0.441);
  float: left;
}

.list2 {
  text-align: center;
  width: 500px;
  height: 550px;
  background: #fff;
  border-top: 5px solid #2a2a72;
  border-bottom: 5px solid #2a2a72;
  box-shadow: -1px 1px 10px rgba(114, 114, 114, 0.441);
  float: left;
}
/* 메뉴 */
.thumnail {
  padding-bottom: 40px;
  padding-top: 20px;
  font-size: 20px;
}
.thumnail > .thum-1 {
  margin-top: 10px;
  line-height: 2;
  padding: 5px;
}
.thumnail > span {
  float: right;
  margin-top: 2px;
  text-align: center;
  font-size: 12px;
}
.inside_tit {
  padding: 20px;
  background-color: #2a2a72;
  color: white;
  line-height: 22px;
  text-align: center;
}
.outside_tit {
  padding: 20px;
  background-color: #2a2a72;
  color: white;
  line-height: 22px;
  text-align: center;
}

.list > .thumnail > .thum-1 > span {
  font-size: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #ccc;
}
.list2 > .thumnail > .thum-1 > span {
  font-size: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #ccc;
}

/* 아이콘 */
.service_wrap {
  margin: 0 auto;
  width: 1200px;
  height: 500px;
  padding: 50px;
}
#service {
  width: 100%;
  text-align: center;
  margin-bottom: 20%;
  margin: 0 auto;
  background-color: #2a2a72;
}
#service ul {
  margin: 0 auto;
}
#service ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 0 7%;
}
#service ul li .c_wrap {
  justify-content: space-around;
  background: #fff;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  color: #2a2a72;
  text-align: center;
  font-size: 60px;
  padding: 25px;
  padding-top: 35px;
}
#service .sv_tit {
  font-size: 40px;
  color: #fff;
  padding: 50px;
  padding-bottom: 60px;
}
#service ul li span {
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  display: inline-block;
  padding-top: 20%;
}

/* aside */

aside {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  right: 20px;
  bottom: 20px;
  background-color: #2b2e4a;
}
aside:hover {
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.74);
}

aside > span > i {
  font-size: 1.3em;
  padding: 18px 0 0 18px;
  color: #fff;
}

/* footer */
.bottom_menu {
  margin-top: 180px; /*임시*/
  text-align: center;
  font-size: 0px;
  width: 100%;
  height: 70px;
  background-color: rgb(35, 49, 71);
  color: white;
  border-top: 1px solid rgb(128, 129, 219);
}
.bottom_menu .bottom_1 {
  position: relative;
  font-size: 17px;
  color: white;
  width: 25%;
  line-height: 420%;
  display: inline-block;

  transition-property: background-color, top;
  transition-duration: 1.2s;
}
.bottom_menu .bottom_2 {
  position: relative;
  font-size: 17px;
  color: white;
  width: 25%;
  line-height: 420%;
  display: inline-block;

  transition-property: background-color, top;
  transition-duration: 1.2s;
}

@media screen and (max-width: 1250px) {
  .bottom_menu {
    width: 1250px;
  }
}

@media screen and (max-width: 1250px) {
  .bottom_c_1 {
    width: 1250px;
  }
}
@media screen and (max-width: 1400px) {
  .bottom_c_2 {
    width: 1400px;
  }
}

.bottom_c_1 {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  height: 0px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}

.bottom_c_1 > .mov {
  display: block;
  margin: auto 0px;
}

.bottom_c_1 > .major_div_1 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 80%;
  left: 0%;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}
.bottom_c_1 > .major_div_2 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 0%;
  left: 150%;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}
.bottom_c_1 > .major_div_3 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 0%;
  left: 300%;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}
.major_ul {
  width: 17%;
}
.major_ul > li {
  margin-top: 15px;
}
.major_ul > li.major_title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bottom_c_2 {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  height: 0px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}

.bottom_c_2 > ul {
  /*group2,3을 포함한 전체*/
  display: inline;
  width: 250px;
  text-align: left;
}
.bottom_c_2 > ul.group1 {
  /*gorup1만 크기크게*/
  width: 500px;
}

.group1 > li {
  display: inline-block;
  -ms-background-position-x: left;
  width: 150px;
  text-align: left;
  margin-top: 20px;
}
.group2 > li,
.group3 > li {
  display: inline-block;
  -ms-background-position-x: left;
  width: 150px;
  text-align: left;
  margin-top: 20px;
}

li.group_title {
  width: 500px;
  margin-top: 40px;
  margin-bottom: 25px;
}

@media screen and (max-width: 1250px) {
  .footer {
    width: 1250px;
  }
}
.footer {
  padding: 20px 20px 20px 300px;
  font-size: 13px;
  text-align: left;
  background-color: rgb(79, 101, 145);
  color: WHITE;
}
.footer_1,
.footer_2,
.footer_3 {
  margin-bottom: 10px;
}
.footer_1 {
  display: flex;
}
.footer_1_c {
  margin-right: 20px;
}
