@import "reset.css";
@import "common.css"; 

body {
  position: relative;
  z-index: -99;
}

/* navbar */

ul,
li {
  list-style: none;
}
a {
  text-decoration: dotted;
  color: black;
}

/* main */
main {
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;

  margin: 0 auto;
  padding-bottom: 50px;
  flex-direction: column;
  z-index: -100;
}

@media screen and (max-width: 1370px) {
  main {
    width: 1370px;
  }
}
.background {
  background-image: url("/img/back.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*object-fit: cover;*/
  z-index: -4;
}

/* intro */

.intro {
  margin: auto;
  padding-top: 30px;
  width: 446px;
  height: 300px;
  z-index: -1;
  position: relative;
  opacity: 0.8;
}

.intro > h2,
h1,
h4 {
  text-align: center;
  color: black;
}
.intro > h2 {
  font-weight: var(--weight-bold);
  font-size: 24px;
}
.intro > h1 {
  font-size: 64px;
  margin: 10px;
}
.quick-menu > h4 {
  font-size: var(--font-micro);
  font-size: 14px;
}

/* quick-menu */

.quick-menu h5 {
  font-size: 16px;
  padding-bottom: 20px;
}

.quick-menu {
  display: flex;
  margin: 0 110px;
  justify-content: center;
  text-align: center;
}
.up,
.down {
  display: flex;
}

.up > div {
  margin: 0px;
  width: 190px;
  height: 170px;

  position: relative;
  padding-top: 30px;
  text-align: center;
}

.down > div {
  margin: 0px;
  width: 190px;
  height: 170px;

  position: relative;
  padding-top: 30px;
  text-align: center;
}

.quick-menu p,
h2,
h5 {
  padding-top: 10px;
  line-height: 25px;
  color: #fff;
}

.hide a {
  width: 60%;
  color: #fff;
  padding: 7px;
  border-radius: 20px;
  margin: 10px;
}

.quick-menu a:hover {
  background-color: #fff;
  color: #000;
}

.hide {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 238, 0, 0.815);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
  flex-direction: column;
  align-items: center;
}
.quick-menu__carrerTest,
.quick-menu__carrerTest a {
  background-color: rgba(68, 65, 65, 0.781);
}

.quick-menu__mentoring,
.quick-menu__mentoring a {
  background-color: rgba(68, 65, 65, 0.781);
}

.quick-menu__counseling,
.quick-menu__counseling a {
  background-color: #545e60e8;
}

.quick-menu__counseling__content {
  padding-top: 60px;
}

.quick-menu__mentoring:hover .quick-menu__mentoring__content {
  opacity: 1;
}
.quick-menu__carrerTest:hover .quick-menu__carrerTest__content {
  opacity: 1;
}

.quick-menu__counseling:hover .quick-menu__counseling__content {
  opacity: 1;
}

.quick-menu__program,
.quick-menu__program a {
  background-color: #545e60e8
}
.quick-menu__program__content {
  padding-top: 60px;
}

.quick-menu__program:hover .quick-menu__program__content {
  opacity: 1;
}

.quick-menu__application,
.quick-menu__application a {
  background-color: rgba(68, 65, 65, 0.781);;
}

.quick-menu__application__content {
  padding-top: 90px;
}

.quick-menu__application:hover .quick-menu__application__content {
  opacity: 1;
}

.quick-menu__job-opening,
.quick-menu__job-opening a {
  background-color: #545e60e8;
}

.quick-menu__job-opening__content {
  padding-top: 90px;
}

.quick-menu__job-opening:hover .quick-menu__job-opening__content {
  opacity: 1;
}

/* .job-opening {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
} */

/* 227 */
@media screen and (max-width: 1142px) {
  .up > div {
    width: 190px;
  }
}

@media screen and (max-width: 1142px) {
  .down > div {
    width: 190px;
  }
}

@media screen and (max-width: 887px) {
  .up,
  .down {
    display: block;
  }

  .intro img {
    display: none;
  }

  .up > div {
    margin: 0px;
    width: 190px;
    height: 150px;
    padding-top:15px;
  }

  .down > div {
    margin: 0px;
    width: 190px;
    height: 150px;
    padding-top:15px;
  }
  .quick-menu__mentoring,
  .quick-menu__mentoring a {
    background-color: #545e60e8;
  }

  .quick-menu__program,
  .quick-menu__program a {
    background-color: rgba(68, 65, 65, 0.781);
  }
  .quick-menu__counseling__content,
  .quick-menu__program__content {
    padding-top: 10px;
  }

  .quick-menu__application__content {
    padding-top: 35px;
  }
}

@media screen and (max-width: 575px) {

  .quick-menu {

  }
}
.up > div {
  width: 190px;
}

.down > div {
  width: 190px;
}

/* aside */
aside {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  right: 20px;
  bottom: 20px;
  background-color: #2b2e4a;
  z-index: 9999;
}
aside:hover {
  box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.74);
}

aside > span > i {
  font-size: 1.3em;
  padding: 18px 0 0 18px;
  color: #fff;
}


/* footer */
.bottom_menu {
  margin-top: 180px; /*임시*/
  text-align: center;
  font-size: 0px;
  width: 100%;
  height: 70px;
  background-color: rgb(35, 49, 71);
  color: white;
  border-top: 1px solid rgb(128, 129, 219);
}
.bottom_menu .bottom_1 {
  position: relative;
  font-size: 17px;
  color: white;
  width: 25%;
  line-height: 420%;
  display: inline-block;

  transition-property: background-color, top;
  transition-duration: 1.2s;
}
.bottom_menu .bottom_2 {
  position: relative;
  font-size: 17px;
  color: white;
  width: 25%;
  line-height: 420%;
  display: inline-block;

  transition-property: background-color, top;
  transition-duration: 1.2s;
}

@media screen and (max-width: 1250px) {
  .bottom_menu {
    width: 1250px;
  }
}

@media screen and (max-width: 1250px) {
  .bottom_c_1 {
    width: 1250px;
  }
}
@media screen and (max-width: 1400px) {
  .bottom_c_2 {
    width: 1400px;
  }
}

.bottom_c_1 {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  height: 0px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}

.bottom_c_1 > .mov {
  display: block;
  margin: auto 0px;
}

.bottom_c_1 > .major_div_1 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 80%;
  left: 0%;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}
.bottom_c_1 > .major_div_2 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 0%;
  left: 150%;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}
.bottom_c_1 > .major_div_3 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 0%;
  left: 300%;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}
.major_ul {
  width: 17%;
}
.major_ul > li {
  margin-top: 15px;
}
.major_ul > li.major_title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bottom_c_2 {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  height: 0px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 2s;
}

.bottom_c_2 > ul {
  /*group2,3을 포함한 전체*/
  display: inline;
  width: 250px;
  text-align: left;
}
.bottom_c_2 > ul.group1 {
  /*gorup1만 크기크게*/
  width: 500px;
}

.group1 > li {
  display: inline-block;
  -ms-background-position-x: left;
  width: 150px;
  text-align: left;
  margin-top: 20px;
}
.group2 > li,
.group3 > li {
  display: inline-block;
  -ms-background-position-x: left;
  width: 150px;
  text-align: left;
  margin-top: 20px;
}

li.group_title {
  width: 500px;
  margin-top: 40px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1370px) {
  .nav {
    width: 1370px !important;
  }
}
@media screen and (max-width:1920px) and (min-width:1370px){
  .nav {
    width: 100% !important;
  }
}