body {
    font-family: 'Nanum Gothic', sans-serif;
}
.main-wrap {
    margin-top: 3.7%;
    width: 100%;
    height: 1700px;
    background: #fdfaf6;
}
.all-wrap {
    width: 1000px;
    /* left: 30%; */
    position: absolute;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
    top: 28%;
}
.onload {
    float: left;
    width: 380px;
    border-left: 1px solid #d0d1d1;
    box-sizing: border-box;
    padding: 0 25px;
}
.tent {
    font-size: 15px;
    font-weight: 600;
    text-overflow: ellipsis;
}
.onload img {
    object-fit: fill;
    width: 20px;
    height: 20px;
    position: relative;
    left: 2px;
}
.slide-wrap {
    position: absolute;
    top: 45%;
}
.slide-wrap img {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.y-tit {
    color: #fff;
    font-size: 7rem;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 2%;
}
/* 슬라이드 */
.swiper-container{
    width: 100%; height: 87%; padding: 80px; left: 3%;
}
.swiper-container .swiper-wrapper .swiper-slide{
    width: 100%; text-align: center; font-size: 25px; overflow: hidden;
}
.swiper-container .swiper-wrapper .swiper-slide .slide-top{
    position: relative; width: 400px; height: 400px;
}
.swiper-container .swiper-wrapper .swiper-slide .slide-top img{
    width: 400px; height: 400px;
}
.swiper-container .swiper-wrapper .swiper-slide .slide-bottom{
    position: absolute; width: 365px; height: 90px; line-height: 100%;
    background-color: rgba(92, 92, 92, 0.5); transition: 1s; overflow: hidden;
    bottom: -100px;
}
.swiper-container .swiper-wrapper .swiper-slide:hover .slide-bottom{
    bottom: 0; cursor: pointer;
}
.slide-bottom p {
    color: #fff;
}
.swiper-button-next {
    color: #fff;
    background-color: rgba(49, 49, 49, 0.24);
    padding: 25px;
}
.swiper-button-prev {
    color: #fff;
    background-color: rgba(49, 49, 49, 0.24);
    padding: 25px;
}