/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed,*/
/*figure, figcaption, footer, header, hgroup,*/
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font-size: 100%;*/
/*    font: inherit;*/
/*    vertical-align: baseline;*/
/*}*/
/*!* HTML5 display-role reset for older browsers *!*/
/*article, aside, details, figcaption, figure,*/
/*footer, header, hgroup, menu, nav, section {*/
/*    display: block;*/
/*}*/
/*body {*/
/*    line-height: 1;*/
/*}*/
/*ol, ul {*/
/*    list-style: none;*/
/*}*/
/*blockquote, q {*/
/*    quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*    content: '';*/
/*    content: none;*/
/*}*/
/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*}*/



/*#sang-main-wrap {*/
/*    padding: 80px 0 80px;*/
/*}*/
/*.menu2 {*/
/*    float: left;*/
/*    width: 230px;*/
/*}*/
/*!* sidemenu *!*/
/*#main {*/
/*    !*margin-top:40px;*!*/
/*    background: #eee;*/
/*    border-top: solid 5px #1f3786d5;*/
/*    border-top-width: 35px;*/
/*    border-bottom-width: 10px;*/
/*    padding: 0px;*/
/*    z-index: 999;*/
/*}*/
/*body {*/
/*    background: #fff;*/
/*    margin: 0 auto;*/
/*}*/
.d_width {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    transition: all 0.5s;
}
#sang-con {
    width: 1260px;
    padding:30px;
    /* margin: 0 30px; */
    background: #fff;
    /*border-radius: 8px;*/
    /* margin-left: 300px; */
}
.select-field, .sang-name {
    width: 20%;
    padding: 15px;
    font-size: 15px;
    /* background-clip: padding-box; */
    /* box-shadow: none; */
    border: 1px solid #ccc;
    padding-right: 5px;
    margin-left: 10px;
    margin-top: 0.7%;
    justify-content: center;
}
#month {
    width: 20%;
    padding: 9px;
    border: 1px solid #ccc;
    margin-left: 2.7%;
}
.sang-name {
    border: 1px solid #ccc;
}
#btn-s {
    width: 9%;
    height: 75%;
    background: #fff;
    padding: 15px;
    font-size: 13px;
    font-weight: 800;
    border: 1px solid #ccc;
    /* border-radius: 15px; */
    margin-left: 15px;
}
#selectAll-wrap {
    width: 600px;
    margin-top: 50px;
}
.btn-q {
    width: 17%;
    height:45px;
    background: #fff;
    padding: 15px;
    font-size: 13px;
    font-weight: 800;
    border: 1px solid #ccc;
    /* border-radius: 15px; */
    color: rgb(114, 114, 114);
}
.btn-q:hover {
    box-shadow: 2px 2px 5px #ccc;
}
table.type07 {
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    border: 1px solid #ccc;
    /*margin: 30px 10px;*/
    width: 1200px;
    /*height: 700px;*/
}
table.type07 thead {
    background: #f9f7f7;
    border-top: 2px solid #000;
}
table.type07 thead th {
    padding: 16px;
    font-weight: 900;
    vertical-align: top;
    font-size: 16px;
    color: #000;
    /*width: 180px;*/
    text-align: center;
}
table.type07 tbody th {
    font-weight: bold;
    vertical-align: top;
    background: #fff;
    height: 48px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
table.type07 > tbody > tr > th,
table.type07 > tbody > tr > td {
    padding: 5px 5px;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 13px;
    text-align: center;
}
.a-1 {
    text-align: center !important;
}
table.type07 td {
    font-size: 15px;
    vertical-align: top;
    font-weight: 500;
    border-right: 1px solid #ccc;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #ccc;
}
/* list-area */
#list-area {
    width: 900px;
    margin: 0 auto;
    display: flex;
}
.coun-list {
    width: 450px;
    height: 60px;
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
    padding: 17px;
    margin-bottom: 20px;
    color: #fff;
    box-shadow: 2px 2px 5px #ccc;
}
.coun-list:hover {
    box-shadow: 5px 5px 6px #ccc;
}
#list-area #coun-success {
    margin-right: 10px;
}
.coun-list .sty {
    color: #fff;
}
.me-ok, .ok {
    /*color: #ccc;*/
}
#refuse-on {
    display: flex;
}
/* modal */
.btn-r {
    width: 150px;
    margin: 80px auto;
    text-align: center;
}
.window{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    display: none;
    z-index: 1; background-color: rgba(167, 167, 167, 0.397);
}
.window-content{
    width: 35%;
    height: 55%;
    position: fixed;
    background-color: #f9f7f7;
    z-index: 1;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(44, 44, 44, 0.459);

}
.window-content .modal .coun-refuse {
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #1e3c72;
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
    background: linear-gradient(to right, #2a5298, #1e3c72);
}
.window-content .modal .coun-refuse h3 {
    color: #fff;
    font-size: 22px;
    padding: 17px;
    margin: 0;
    font-weight: 800;
}
.window-content .modal .coun-text {
    background-color: #f9f7f7;
}
.window-content .modal .coun-tit {
    background-color: #dbe2ef;
    color: #fff;
}
.window-content .modal .coun-tit p {
    width: 24%;
    text-align: center;
    display: inline-block;
    margin: 12px 5px 8px 42px;
    padding: 8px;
    line-height: 30px;
    font-weight: 800;
}
.window-content .modal .coun-text p {
    width: 24%;
    text-align: center;
    display: inline-block;
    margin: 8px 5px 8px 42px;
    padding: 10px;
    line-height: 30px;
}
.window-content .modal .coun-refuse h3 .down::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    position: fixed;
    text-align: center;
    padding: 2px;
}
.window-content .modal .detail-text {
    padding: 30px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 95%;
    margin: 0 auto;
    font-weight: 500;
    height: 170px;
}
.window-content span{
    text-align: center; line-height: 30px;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2a5298;
    color: #fff;
    font-size: 17px;
}
.window-content .coun-delete {
    padding: 8px;
}
.window-content .coun-close {
    padding: 8px;
}
#radio{
    float:right;
    margin-bottom:10px;
}







.checkbox[type=checkbox], .checkbox[type=radio] {display:none;}
label.input-label {
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
}
label.input-label::before {
    display: inline-block;
    margin:0 20px;
    font-family: FontAwesome;
    font-size: 20px;
    color: rgba(4, 120, 193,0.2);
    -webkit-transition: transform 0.2s ease-out, color 0.2s ease;
    -moz-transition: transform 0.2s ease-out, color 0.2s ease;
    -ms-transition: transform 0.2s ease-out, color 0.2s ease;
    -o-transition: transform 0.2s ease-out, color 0.2s ease;
    transition: transform 0.2s ease-out, color 0.2s ease;
    -webkit-transform: scale3d(0.8,0.8,1);
    -moz-transform: scale3d(0.8,0.8,1);
    -ms-transform: scale3d(0.8,0.8,1);
    -o-transform: scale3d(0.8,0.8,1);
    transform: scale3d(0.8,0.8,1);
}
label.input-label.checkbox::before {
    content: "\f0c8";
    margin-right:5px;
}
label.input-label.radio::before {
    content: "\f111";
    margin-right:5px;
}
input.checkbox + label.input-label:hover::before {
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
input.checkbox + label.input-label:active::before {
    -webkit-transform: scale3d(1.5,1.5,1);
    -moz-transform: scale3d(1.5,1.5,1);
    -ms-transform: scale3d(1.5,1.5,1);
    -o-transform: scale3d(1.5,1.5,1);
    transform: scale3d(1.5,1.5,1);
}
input.checkbox:checked + label.input-label::before {
    display: inline-block;
    font-family: FontAwesome;
    color:#0478c1;
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
input.checkbox:checked + label.input-label.checkbox::before {
    content:"\f14a";
    margin-right:5px;
}
input.checkbox:checked + label.input-label.radio::before {
    content:"\f058";
    margin-right: 5px;
}
.ok{display:none;}
.no{display:none;}