<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>CV Printable A4</title>
	</head>

	<body>
		<!-- partial:index.partial.html -->
		<html lang="en">
			<head>
				<title>이력서</title>
				<meta name="viewport" content="width=device-width" />
				<meta name="description" />
				<meta charset="UTF-8" />
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
				<link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Lato:400,300" rel="stylesheet" type="text/css" />

				<link rel="stylesheet" href="/css/introRead.css" />
				<!--[if lt IE 9]>
					<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
				<![endif]-->
				<script src="https://kit.fontawesome.com/3a29a769fa.js" crossorigin="anonymous"></script>
			</head>
			<html>
				<body id="top">
					<!--Page 1-->
					<page size="A4">
						<div id="button" class="no-print">
							<input id="Intro_num" name="Intro_num" th:value="${dto.num}" style="display: none" />
							<button class="h-blue" style="width: 50px"><-</button>
							<a href="/">
								<button id="logo" style="background-color: #09529b; padding: 0px !important; width: 180px !important" type="button">
									<span class="button-txt"><i class="fas fa-book-open"></i> &nbsp;취업정보센터</span>
								</button>
							</a>

							<button class="pull-right h-blue" type="button" onclick="myFunction()">
								<span class="button-txt"><i class="fa fa-print" aria-hidden="true"></i> &nbsp;print</span>
							</button>
							<script>
								function myFunction() {
									window.print();
								}
							</script>
						</div>
						<div id="modify" class="no-print">
							<a th:href="@{/application/introduce/modify(num = ${dto.num})}">
								<button class="h-blue" type="button">
									<span class="button-txt"> &nbsp;수정하기</span>
								</button>
							</a>
							<button id="IntroRemove" name="IntroRemove" class="pull-right h-blue" type="submit">
								<span class="button-txt"> &nbsp;삭제하기</span>
							</button>
						</div>
						<div class="cv">
							<div id="header"></div>
							<div class="mainDetails">
								<!-- 	<div id="headshot">
								<img id="avatar" src="https://visualangle.ee/delivery/temp_image/icon.png" alt="Margus Lillemagi" title="See olen mina" />
							</div> -->
								<div id="name">
									<h1 style="font-size: 30px; font-weight: 900" th:text="${dto.title}">자소서 제목</h1>
								</div>
								<div class="clear"></div>
							</div>
							<div id="mainArea">
								<section th:if="${dto.content1} != null" style="margin-bottom: 10px">
									<article>
										<div class="sectionTitle">
											<h1 style="font-weight: 600; margin-top: 2%">성장과정</h1>
										</div>
										<div class="sectionContent">
											<ul class="list">
												<li style="font-size: 16px; margin-bottom: 10px; word-break: break-all" th:text="${dto.content1}">
													111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
												</li>
											</ul>
										</div>
									</article>
									<div class="clear"></div>
								</section>
								<section th:if="${dto.content2} != null">
									<div class="sectionTitle">
										<h1 style="font-weight: 600; margin-top: 2%">성격의 장단점</h1>
									</div>
									<div class="sectionContent">
										<ul class="list">
											<li style="font-size: 16px; margin-bottom: 10px; max-width: 733px" th:text="${dto.content2}"></li>
										</ul>
									</div>
									<div class="clear"></div>
								</section>
								<section th:if="${dto.content3} != null">
									<div class="sectionTitle">
										<h1 style="font-weight: 600; margin-top: 2%">전공 및 경력사항</h1>
									</div>
									<div class="sectionContent">
										<ul class="list">
											<li style="font-size: 16px; margin-bottom: 10px; max-width: 733px" th:text="${dto.content3}"></li>
										</ul>
									</div>
									<div class="clear"></div>
								</section>
								<section th:if="${dto.content4} != null">
									<div class="sectionTitle">
										<h1 style="font-weight: 600; margin-top: 2%">지원 동기 및 입사 후 포부</h1>
									</div>
									<div class="sectionContent">
										<ul class="list">
											<li style="font-size: 16px; margin-bottom: 10px; max-width: 733px" th:text="${dto.content4}"></li>
										</ul>
									</div>
									<div class="clear"></div>
								</section>
							</div>
						</div>
					</page>
				</body>
			</html>
		</html>
	</body>
</html>
