<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <link rel="stylesheet" href="/css/introduce_register.css" />
    <link rel="stylesheet" href="/css/menu-common2.css" />
    <link rel="stylesheet" href="/css/frame.css" />


    <!--jquery에서 제공하는 최신 버전의 jQuery url-->
    <script th:async src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:async src="/js/Introduce.js"></script>




    <title>Title</title>
</head>

<body>

    <div style="display: none">id : [[${memberDTO.getUser_id()}]]</div>
    <!--네비 div-->
    <div th:replace="layout/layout :: nav" />
    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="sidebar">
                        <div class="menu2">
                            <div id="bar">
                                <h2>취업지원</h2>
                                <ul id="menu_bar">
                                    <li id="menu_con1">
                                        <h4>지원서관리</h4>
                                        <ul id="sb_detail">
                                            <li><a href="/license/list">자격증 목록</a></li>
                                            <li><a href="/license/register">자격증 등록</a></li>
                                            <li><a href="/application/introduce/list">자소서 목록</a></li>
                                            <li><a href="/application/introduce/register">자소서 등록</a></li>
                                            <li><a href="/application/cv/before">이력서 관리</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div> <!-- bar -->
                        </div> <!-- menu -->
                    </div>
                </div>

                <div class="col-9 col-12-medium imp-medium">
                    <div id="intro">
                        <h2>자소서 등록</h2>
                    </div>
                    <div class="content">

                        <input name="em_id" id="member_id" title="em_id" th:value="${{memberDTO.getUser_id()}}"
                            style="display: none;" />

                        <div class="register_title_wrap">
                            <!--  <div class="register_title">
                            제목
                        </div> -->
                            <input type="text" name="em_title" id="Intro_title" class="register_title_input"
                                placeholder="자기소개서 제목을 입력해주세요 (최대 20자)" maxlength="20" />
                        </div>
                        <div class="introduceContWrap">
                            <div class="register_cont_wrap">
                                <div class="register_cont">
                                    성장과정
                                </div>
                                <textarea id="first_cont" class="register_cont_input"
                                     maxlength="499"></textarea>
                            </div>
                            <div class="register_cont_wrap">
                                <div class="register_cont">
                                    성격의 장단점
                                </div>
                                <textarea id="second_cont" class="register_cont_input"
                                    maxlength="499"></textarea>
                            </div>
                            <div class="register_cont_wrap">
                                <div class="register_cont">
                                    전공 및 경력사항
                                </div>
                                <textarea id="third_cont"class="register_cont_input"
                                    maxlength="499"></textarea>
                            </div>
                            <div class="register_cont_wrap">
                                <div class="register_cont">
                                    지원 동기 및 입사 후 포부
                                </div>
                                <textarea id="forth_cont" class="register_cont_input"
                                    maxlength="499"></textarea>
                            </div>
                            <div class="base_button_wrap">
                                <button id="IntroReg" class="base_button">작성완료</button>
                            </div>
                        </div>


                    </div>
                </div>



            </div>
        </div>
        </div>
        </div>

    </section>

    <!--footer -->
    <footer th:replace="layout/layout :: footer" />


</body>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function (e) {
                $('#em_img').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#em_file").change(function () {
        readURL(this);
    });
</script>

</html>