<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>school-member_category</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../static/css/school-user_category.css" />
  </head>
  <body>
    <div id="school-member_category">
      <h3>당신은 어떤회원 입니까?</h3>
      <div class="radio">
        <input
          type="radio"
          id="student"
          name="school-member"
          value="student"
          style="width: 18px; height: 18px; border: 5px"
          checked
        />
        <label for="student"
          >학생
          <p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 영진전문대학교에서 재학 및 휴학
            중인 경우
          </p></label
        >
      </div>

      <div class="radio">
        <input
          type="radio"
          id="professor"
          name="school-member"
          value="professor"
          style="width: 18px; height: 18px; border: 5px"
        />
        <label for="professor"
          >지도교수
          <p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 영진전문대학교에서 재직중인 지도교수
          </p>
        </label>
      </div>

      <div class="radio">
        <input
          type="radio"
          id="personnel"
          name="school-member"
          value="personnel"
          style="width: 18px; height: 18px; border: 5px"
        />
        <label for="personnel"
          >교직원
          <p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 영진전문대학교 소속 임직원
          </p></label
        >
      </div>
      <div class="radio">
        <input
          type="radio"
          id="counselor"
          name="school-member"
          value="counselor"
          style="width: 18px; height: 18px; border: 5px"
          checked
        />
        <label for="counselor"
          >상담사
          <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 영진전문대학교 소속 상담사</p>
        </label>
      </div>

      <div class="radio">
        <input
          type="radio"
          id="mentor"
          name="school-member"
          value="mentor"
          style="width: 18px; height: 18px; border: 5px"
        />
        <label for="mentor"
          >멘토
          <p>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 온라인멘토링 활동을 위한 멘토
          </p></label
        >
      </div>
      <a href="#">
        <div class="next">
          <p>다음</p>
        </div>
      </a>
    </div>
  </body>
</html>
