<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sang.css">
    <title>Document</title>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/selectAll1.js"></script>
</head>
<body>
<div id="sang-main-wrap">
    <div id="sang-wrap">
        <div id="sang-con">
            <div id="consss">
                <from id="sang-k" name="sang-k" method="post">
                    <input type="date" id="month" class="month">
                    <select name="select-field" class="select-field">
                        <option value disabled>상담 분야</option>
                        <option value="1">진로 상담</option>
                        <option value="2">취업 상담</option>
                        <option value="3">창업 상담</option>
                    </select>
                    <select name="employ-field" class="select-field">
                        <option value disabled>취업 세부 분야</option>
                        <option value>취업 세부 분야 내용 1</option>
                        <option value>취업 세부 분야 내용 2</option>
                        <option value>취업 세부 분야 내용 3</option>
                        <option value disabled>창업 세부 분야</option>
                        <option value>창업 세부 분야 내용 1</option>
                        <option value>창업 세부 분야 내용 2</option>
                        <option value>창업 세부 분야 내용 3</option>
                        <option value disabled>진로 세부 분야</option>
                        <option value>진로 세부 분야 내용 1</option>
                        <option value>진로 세부 분야 내용 2</option>
                        <option value>진로 세부 분야 내용 3</option>
                    </select>
                    <input type="text" class="sang-name" placeholder="이름을 입력해 주세요.">
                    <button id="btn-s">검색</button>
                </from>
            </div>
            <table class="type07">
                <thead>
                <tr>
                    <th scope="cols">순번</th>
                    <th scope="cols">학생명</th>
                    <th scope="cols">상담 분야</th>
                    <th scope="cols">세부 분류</th>
                    <th scope="cols">신청 일시</th>
                    <th scope="cols">상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td id="name">정혜리</td>
                    <td id="field">진로 상담</td>
                    <td id="sec-field"><a href="#">진로 계획 세우기</a></td>
                    <td id="date">21.04.16 18:00</td>
                    <td id="state"><input type="checkbox" id="check"></td>
                </tr>
                </tbody>
            </table>
            <div id="selectAll-wrap">
                <input type="checkbox" name="animal" value="selectall" onclick='selectAll(this)'/>
                <b>모두 체크</b>
                <button class="btn-q" id="okay">승인</button>
                <button class="btn-q" id="nope">거절</button>
            </div>


        </div>
    </div>
</div>
</body>
</html>