<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/jobimform.css" />
    <link rel="stylesheet" href="css/sidemenu.css" />
    <script src="https://kit.fontawesome.com/4f031e5608.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

<div id="job-main-wrap" class="d_width">
    <!-- side -->
    <div class="menu">
        <div id="bar">
            <h2>진로설계</h2>
            <ul id="menu_bar">
                <li id="menu_con1"><h4>진로 심리 검사</h4>
                    <ul id="sb_detail">
                        <li><a href="#">진로 심리 검사 (워크넷)</a></li>
                        <li><a href="#">검사 결과 조회</a></li>
                    </ul>
                </li>
                <li id="menu_con2"><h4>직업 정보</h4>
                    <ul id="sb_detail">
                        <li><a href="#">직업 정보 조회</a></li>
                        <li><a href="#">직업 사전</a></li>
                    </ul>
                </li>
                <li id="menu_con3"><h4>상담 정보</h4>
                    <ul id="sb_detail">
                        <li><a href="#">상담 신청</a></li>
                        <li><a href="#">상담 내역</a></li>
                    </ul>
                </li>
            </ul>
        </div> <!-- bar -->
    </div> <!-- menu -->

    <div id="content">

        <div id="job-wrap">

            <h1>직업 정보 조회</h1>

            <div class="search-con">
                <p>우리나라의 대표적인 830여개의 직업에 대한 정보를 소개합니다.
                    한국고용정보원 미래직업연구팀이 매년 실시하는 재직자 조사 결과를 바탕으로,
                    각 직업이 어떤 일을 하는지, 그 일을 하기 위해서는 어떤 교육․훈련이나
                    자격이 필요한지, 각 직업은 어떤 특성을 지니는지 소개합니다.</p>
            </div>

            <div class="search-box-body">

                <div class="search-box">
                    <div class="clear-search">
                        <div class="label">키워드 검색</div>

                        <div class="label-con form-inline">
                            <form id="jobsearch_k" name="jobsearch_k" method="post" action="#">
                                <input type="hidden" name="type" value="k">
                                <input tupe="text" id="searchCode" name="searchCode" value="키워드 입력"
                                       maxlength="100" class="form-control" placeholder="직종명을 입력하세요.">
                                <button type="submit" class="btn-d" onclick="job_search(); return false;">검색</button>
                            </form>
                        </div>
                        <!-- label-con form-inline -->
                    </div> <!-- clear-search -->
                    <br />
                    <div class="label1">조건별 검색</div>

                    <div class="label-con form-inline">
                        <form id="jobsearch_c" name="jobsearch_c" method="post" action="#">
                            <input type="hidden" id="pageIndex" name="pageIndex" value="1">
                            <input type="hidden" id="pageUnit" name="pageUnit" value="10">
                            <input type="hidden" id="pageSize" name="pageSize" value="c"
                                   class="form-control">
                            <input type="hidden" name="nav_code" value="job1580811517">
                            <select name="searchType1" id="searchType1" title="조건 1 선택"
                                    class="form-control">
                                <option value>평균 연봉</option>
                                <option value="1">3,000만원 미만</option>
                                <option value="2">3,000만원~4,000만원 미만</option>
                                <option value="3">4,000만원~5,000만원 미만</option>
                                <option value="4">5,000만원 이상</option>
                            </select>
                            <select name="searchType2" id="searchType2" title="조건 2 선택"
                                    class="form-control">
                                <option value>직업 전망</option>
                                <option value="74.2">매우 밝음(상위 10% 이상)</option>
                                <option value="63.3">밝음(상위 20% 이상)</option>
                                <option value="40.0">보통(중간 이상)</option>
                                <option value="60.0">전망 안 좋음(감소예상직업)</option>
                            </select>
                            <button type="submit" class="btn-d" onclick="job_search2(); return false;">검색</button>
                        </form>
                    </div> <!-- label-con form-inline -->
                </div>  <!-- search-box -->
                <div class="bx1_wh" style="float: left;">

                    <h3>직업정보찾기 10건</h3>
                    <ul class="clear fix d2 text-xs">
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                        <li><a href="#"><span>간호사</span></a></li>
                    </ul>
                </div>  <!-- bx1_wh -->

            </div>
            <!-- search-box-body -->
        </div>
        <!-- content -->
    </div>
    <!-- job-wrap -->
</div>
<!-- job-main-wrap -->



</body>
</html>