<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

    <script  th:async src="http://code.jquery.com/jquery-latest.min.js"></script>   <!-- jquery에서 제공하는 최신 버전의 jQuery url-->
    <script  th:async src="/js/Employ.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <link rel="stylesheet" href="/css/menu-common1.css" />
    <link rel="stylesheet" href="/css/employ_read.css"/>
    <link rel="stylesheet" href="/css/frame.css"/>



    <title>영진전문대 채용공고</title>
</head>
<body>
<input id="em_num" name="em_num" th:value="${dto.num}" style="display:none"/>

<div th:replace="layout/layout :: nav" />

<section id="shadow_box">
    <section id="main">
        <div id="wrap">
            <div id="head_wrap">
                <span><a th:href="@{/Employ/list}">다른 공고 보러가기</a></span>
                <h2>[[${dto.etp_name}]]</h2>
                <h1 id="em_title" th:text="${dto.title}"></h1>

                <!-- <div id="nav">
                    <button>채용정보</button>
                    <button>지원정보</button>
                    <button>기업정보</button>
                    <button>지원자 통계</button>
                </div> -->
            </div>

            <div id="base_wrap">
                <li class="category"><h5>직종</h5></li>
                <li class="data" id="em_ot" th:text="${dto.ot}"></li>
                <li class="category"><h5>고용형태</h5></li>
                <li class="data" id="em_ep" th:text="${dto.ep}"></li>
                <li class="category"><h5>경력</h5></li>
                <li class="data" id="em_career" th:text="${dto.career}"></li>
                <li class="category"><h5>학력</h5></li>
                <li class="data" id="em_education" th:text="${dto.education}"></li>
                <li class="category"><h5>근무지역</h5></li>
                <li class="data" id="em_area" th:text="${dto.area}"></li>
                <li class="category"><h5>급여</h5></li>
                <li class="data" id="em_salary" th:text="${dto.salary}"></li>
            </div>

            <div id="button_wrap">
                <button onclick="apply_open()"><h1>온라인 지원</h1></button>

            </div>

            <div id="image_wrap">
                <img src="/img/naver2.jpg"  alt="My Image">
            </div>


            <div id="receipt_wrap">
                <div id="receipt_head" class="head">
                    <h3>지원정보</h3>
                </div>
                <div id="receipt_box" class="box">
                    <div id="receipt_date">
                        <h6>남은 기간</h6>
                        <h1>10일 05:10:09</h1>
                        <!--                <h6 style="margin-top:10px;">시작일 | <span  id="regDate"  th:text="${dto.start_date}"  ></span></h6>-->
                        <!--                <h6 style="margin-top:5px;"  >마감일 | <span id="end_date" th:text="${dto.end_date}" ></span></h6>-->
                    </div>
                    <div id="receipt_cont">
                        <li><h5>모집인원 : <span id="em_people" th:text="${dto.people}"></span></h5></li>
                        <li><h5>지원방법 : <span id="em_apply" th:text="${dto.apply}"></span></h5></li>
                    </div>
                </div>

            </div>

            <div id="corp_wrap">
                <div id="corp_head" class="head">
                    <h3>기업정보</h3>
                    <div class="right_text"><a><u>이 기업의 다른 공고 보러가기</u></a></div>
                </div>
                <div id="corp_box" class="box">
                    <div id="corp_image">
                        <img src="/img/naver1.jpg" width="200" height="150" alt="My Image">
                    </div>
                    <div id="corp_cont">
                        <h4 th:text="${dto.etp_name}"></h4>
                        <li><h5>기업형태 : <span th:text="${dto.etp_shape}"></span></h5></li>
                        <li><h5>직원수 : <span th:text="${dto.etp_member}"></h5></li>
                        <li><h5>업종 : <span th:text="${dto.etp_sector}"></h5></li>
                        <li><h5>대표자명 : <span th:text="${dto.etp_ceo_name}"></h5></li>
                        <li><h5>전화번호 : [[${dto.etp_ph}]]-[[${dto.etp_ph2}]]-[[${dto.etp_ph3}]]</h5></li>
                        <li><h5>FAX : <span th:text="${dto.etp_fx}"></h5></li>
                        <li><h5>홈페이지 : <span th:text="${dto.etp_home}"></h5></li>
                        <li><h5>기업주소 : </h5></li>
                    </div>
                </div>
            </div>


            <div id="stats_wrap">
                <div id="stats_head" class="head">
                    <h3>지원자 통계</h3>
                </div>
                <div id="stats_box" class="box">

                </div>
            </div>
                <div class="col-md-12">
                    <div class="submit_btn">
                        <a th:href="@{/Employ/modify(num = ${dto.num})}">
                            <button type="button">수정하기</button>
                        </a>
                        <button class="boxed-btn3" id="emRemove" name="emRemove" type="submit">삭제</button>

                      <!--  <button class="boxed-btn3" id="emModify" name="emModify" type="submit">수정</button>
                        <button class="boxed-btn3" id="emSave" name="emSave" type="submit">저장</button>-->
                    </div>
                </div>
        </div>
    </section>
</section>
<div id="apply_submit">
    <div id="apply_head">
        <h1>온라인 지원</h1>
        <i class="fas fa-times" onclick="apply_close()"></i>
    </div>
    <div id="apply_title">
        <h3>[[${dto.etp_name}]]</h3>
        <h2 th:text="${dto.title}"></h2>
    </div>
    <div id="apply_cont">
        <div class="apply_li">
            <h2>이력서</h2>
            <div class="apply_li_select">
                <h4 id="apply_check">등록한 이력서가 없습니다. 이력서를 등록해주세요</h4>
            </div>
        </div>
        <div class="apply_li">
            <h2>자소서</h2>
            <h4><select class="apply_li_select">
                <option>자소서를 선택해주세요</option>
            </select></h4>
        </div>
        <div class="apply_li">
            <h2>희망근무지역</h2>
            <h4><input type="text" class="apply_li_select" id="hope_area"></h4>
        </div>
        <div class="apply_li">
            <h2>희망업무</h2>
            <h4><input type="text" class="apply_li_select" id="hope_task"></h4>
        </div>
    </div>
    <div id="apply_button" onclick="apply()">
        <button><h2>지원하기</h2></button>
    </div>
</div>
<!-- footer -->

<footer th:replace="layout/layout :: footer" />

<script th:inline="javascript">
    $(document).ready(function() {
        employ_num=[[${dto.num}]];
        userId=[];
        userId.push([[${memberDTO.getUser_id}]]);
    });
</script>
</body>
</html>