<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

    <script  th:async src="http://code.jquery.com/jquery-latest.min.js"></script>   <!-- jquery에서 제공하는 최신 버전의 jQuery url-->
    <script  th:async src="/js/Employ.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <link rel="stylesheet" href="/css/menu-common1.css" />
    <link rel="stylesheet" href="/css/employ_read.css"/>
    <link rel="stylesheet" href="/css/frame.css"/>



    <title>채용공고</title>
</head>
<body>
<input id="em_num" name="em_num" th:value="${dto.num}" style="display:none"/>

<div th:replace="layout/layout :: nav" />

<section id="shadow_box">
    <section id="main">
        <div id="wrap">
            <div id="head_wrap">
                <span><a th:href="@{/Employ/list}">다른 공고 보러가기</a></span>
                <h2 id="etp_name">[[${dto.etp_name}]]</h2>
                <h1 id="em_title" th:text="${dto.title}"></h1>

                <!-- <div id="nav">
                    <button>채용정보</button>
                    <button>지원정보</button>
                    <button>기업정보</button>
                    <button>지원자 통계</button>
                </div> -->
            </div>

            <div id="base_wrap">
                <li class="category"><h5>직종</h5></li>
                <li class="data" id="em_ot" th:text="${dto.ot}"></li>
                <li class="category"><h5>고용형태</h5></li>
                <li class="data" id="em_ep" th:text="${dto.ep}"></li>
                <li class="category"><h5>경력</h5></li>
                <li class="data" id="em_career" th:text="${dto.career}"></li>
                <li class="category"><h5>학력</h5></li>
                <li class="data" id="em_education" th:text="${dto.education}"></li>
                <li class="category"><h5>근무지역</h5></li>
                <li class="data" id="em_area" th:text="${dto.area}"></li>
                <li class="category"><h5>급여</h5></li>
                <li class="data" id="em_salary">[[${dto.salary}]]만원</li>
            </div>

            <div id="button_wrap">
                <div sec:authorize="hasRole('STUDENT')">
                    <button onclick="apply_open()" id="online_apply"><h1>온라인 지원</h1></button>
                    <a th:href="${dto.etp_home}" th:target="_blank"><button id="homepage_apply"><h1>홈페이지 지원</h1></button></a>
                </div>
            </div>
            <div id="receipt_wrap">
                <div id="receipt_head" class="head">
                    <h3>지원정보</h3>
                </div>
                <div id="receipt_box" class="box">
                    <div id="receipt_date">
                        <h6>마감일</h6>
                        <h1>[[${dto.end_date}]]</h1>
                        <!--                <h6 style="margin-top:10px;">시작일 | <span  id="regDate"  th:text="${dto.start_date}"  ></span></h6>-->
                        <!--                <h6 style="margin-top:5px;"  >마감일 | <span id="end_date" th:text="${dto.end_date}" ></span></h6>-->
                    </div>
                    <div id="receipt_cont">
                        <li><h5>모집인원 : <span id="em_people">[[${dto.people}]]명</span></h5></li>
                        <li><h5>지원방법 : <span id="em_apply" th:text="${dto.apply}"></span></h5></li>
                    </div>
                </div>
            </div>

            <div id="image_wrap">
<!--                <img src="/upload/90166368-cd45-41c6-a742-46a0a20c8809_2048xauto.jpg"  alt="My Image" id="img">-->
                <img th:src="${dto.file}"  alt="My Image" id="img">
            </div>

            <div id="maincont_wrap">
                <textarea name="maincontent" style="width:100%; min-height:300px;" readonly >[[${dto.cont}]]</textarea>
            </div>

            <div id="corp_wrap">
                <div id="corp_head" class="head">
                    <h3>기업정보</h3>
                    <div class="right_text"><a style="cursor: pointer" onclick="sameEtp()"><u>이 기업의 다른 공고 보러가기</u></a></div>
                </div>
                <div id="corp_box">
                    <li class="category"><h5>기업명</h5></li>
                    <li class="data" th:text="${dto.etp_name}"></li>
                    <li class="category"><h5>기업형태</h5></li>
                    <li class="data" th:text="${dto.etp_shape}"></li>
                    <li class="category"><h5>직원수</h5></li>
                    <li class="data">[[${dto.etp_member}]]명</li>
                    <li class="category"><h5>업종</h5></li>
                    <li class="data" th:text="${dto.etp_sector}" style="width:300px"></li>
                    <li class="category" style="width:115px;"><h5>대표자명</h5></li>
                    <li class="data" th:text="${dto.etp_ceo_name}"></li>
                    <li class="category"><h5>전화번호</h5></li>
                    <li class="data" >[[${dto.etp_ph}]]-[[${dto.etp_ph2}]]-[[${dto.etp_ph3}]]</li>
                    <li class="category"><h5>FAX</h5></li>
                    <li class="data" th:text="${dto.etp_fx}"></li>
                    <li class="category"><h5>홈페이지</h5></li>
                    <li class="data"><a th:href="${dto.etp_home}" style="color:#444444" target="_blank">[[${dto.etp_home}]]</a></li>
                </div>
            </div>


<!--            <div id="stats_wrap">-->
<!--                <div id="stats_head" class="head">-->
<!--                    <h3>지원자 통계</h3>-->
<!--                </div>-->
<!--                <div id="stats_box" class="box">-->

<!--                </div>-->
<!--            </div>-->

            <div sec:authorize="hasRole('ENTERPRISE')">
                <div class="col-md-12">
                    <div class="submit_btn">
                        <a th:href="@{/Employ/modify(num = ${dto.num})}">
                            <button type="button">수정하기</button>
                        </a>
<!--                        <button class="boxed-btn3" id="emRemove" name="emRemove" type="submit">삭제</button>-->

                        <!--  <button class="boxed-btn3" id="emModify" name="emModify" type="submit">수정</button>
                          <button class="boxed-btn3" id="emSave" name="emSave" type="submit">저장</button>-->
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>
<div id="apply_submit">
    <div id="apply_head">
        <h1>온라인 지원</h1>
        <i class="fas fa-times" onclick="apply_close()"></i>
    </div>
    <div id="apply_title">
        <h3>[[${dto.etp_name}]]</h3>
        <h2 th:text="${dto.title}"></h2>
    </div>
    <div id="apply_cont">
        <div class="apply_li">
            <h2>이력서</h2>
            <div class="apply_li_select">
                <h4 id="apply_check">등록한 이력서가 없습니다. 이력서를 등록해주세요</h4>
            </div>
        </div>
        <div class="apply_li">
            <h2>자소서</h2>
            <h4><select class="apply_li_select" onchange="apply_check(this)">
                <option>자소서를 선택해주세요</option>
            </select></h4>
        </div>
        <div class="apply_li">
            <h2>희망근무지역</h2>
            <h4><input type="text" class="apply_li_select" id="hope_area" onkeyup="apply_check(this)"></h4>
        </div>
        <div class="apply_li">
            <h2>희망업무</h2>
            <h4><input type="text" class="apply_li_select" id="hope_task" onkeyup="apply_check(this)"></h4>
        </div>
    </div>
    <div id="apply_button" onclick="apply()">
        <button><h3>지원하기</h3></button>
    </div>
</div>
<!-- footer -->

<footer th:replace="layout/layout :: footer" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script>
    $(document).ready(function() {
        // nowTime = new Date()
        // nowTime=nowTime.toISOString().substring(0,16)
        //
        restTime = $('#receipt_date h1').text();
        restTime=restTime.split('T');
        $('#receipt_date h1').text(restTime[0]);
        var br = document.createElement("br");
        $('#receipt_date h1').append(br);
        $('#receipt_date h1').append(restTime[1]);

        $('#img').attr("src",$('#img').attr("src").split("C:")[1]);
    });
</script>
<script th:inline="javascript">
    $(document).ready(function() {

        employ_num=[[${dto.num}]];

        userId=([[${memberDTO.getUser_id}]]);

        applies=([[${alreadyApply}]]); //이미 지원한 공고인지 확인

        //홈페이지 지원과 온라인 지원을 해주는 공고일 시 그에맞는 지원 버튼만 출력
        applys=[[${dto.apply}]];
        apply_item=applys.split(',');
        apply_count=apply_item.length;

        $('#button_wrap button').css('display','none');
        for(i=0; i<apply_count; i++){
            if(apply_item[i]=="홈페이지접수"){
                $('#homepage_apply').css('display','initial');
            }
            else if(apply_item[i]=="온라인지원"){
                $('#online_apply').css('display','initial');
            }
        }

    });
</script>
</body>
</html>