<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script  th:async src="http://code.jquery.com/jquery-latest.min.js"></script>   <!-- jquery에서 제공하는 최신 버전의 jQuery url-->
    <script  th:async src="/js/Employ.js"></script>

    <title>Title</title>
</head>
<body>
<!--네비 div-->
<div th:replace="layout/layout :: nav"/>
<div class="form-group">
    <label >Num</label>
    <input type="text" class="form-control" id="em_num" name="em_num" th:value="${dto.num}" readonly >
</div>

<div class="form-group">
    <label >Title</label>
    <input type="text" class="form-control" id="em_title" name="em_title" th:value="${dto.title}" readonly >
</div>

<div class="form-group">
    <label >Content</label>
    <input type="text" class="form-control" id="em_content" name="em_content" th:value="${dto.content}" readonly >
</div>

<div class="form-group">
    <label >직종 구분</label>
    <input type="text" class="form-control" id="em_ot" name="em_ot" th:value="${dto.ot}" readonly >
</div>

<div class="form-group">
    <label >고용 구분</label>
    <input type="text" class="form-control" id="em_ep" name="em_ep" th:value="${dto.ep}" readonly >
</div>

<div class="form-group">
    <label >시작일</label>
    <input type="datetime-local" class="form-control" id="em_start_date" name="em_start_date" th:value="${dto.start_date}" readonly >
</div>

<div class="form-group">
    <label >마감일</label>
    <input type="datetime-local" class="form-control" id="em_end_date" name="em_end_date" th:value="${dto.end_date}" readonly >
</div>

<div class="form-group">
    <label >모집 인원</label>
    <input type="text" class="form-control" id="em_people" name="em_people" th:value="${dto.people}" readonly >
</div>

<div class="form-group">
    <label >경력</label>
    <input type="text" class="form-control" id="em_career" name="em_people" th:value="${dto.career}" readonly >
</div>

<div class="form-group">
    <label>학력</label>
    <input type="text" class="form-control" id="em_education" name="em_education" th:value="${dto.education}" readonly >
</div>

<div class="form-group">
    <label >급여</label>
    <input type="text" class="form-control" id="em_salary" name="em_salary" th:value="${dto.salary}" readonly >
</div>

<div class="form-group">
    <label >근무 지역 </label>
    <input type="text" class="form-control" id="em_area" name="em_area" th:value="${dto.area}" readonly >
</div>

<div class="form-group">
    <label >지원 방법 </label>
    <input type="text" class="form-control" id="em_apply" name="em_apply" th:value="${dto.apply}" readonly >
</div>

<div class="form-group">
    <label >파일 </label>
    <input type="text" class="form-control" id="em_file" name="em_file" th:value="${dto.file}" readonly >
</div>




    <div class="from-group">
        <label>작성일</label>
        <input type="text" class="form-control" id="regDate" name="regDate"
               th:value="${#temporals.format(dto.regDate, 'YYYY-MM-dd ')}" readonly />
    </div>

    <div class="from-group">
        <label>최근수정일</label>
        <input type="text" class="form-control" id="modDate" name="modDate"
               th:value="${#temporals.format(dto.modDate, 'YYYY-MM-dd ')}" readonly />
    </div>



    <div class="col-md-12">
        <div class="submit_btn">
            <button class="boxed-btn3" id="emRemove" name="emRemove" type="submit">삭제</button>
            <button class="boxed-btn3" id="emModify" name="emModify" type="submit">수정</button>
            <button class="boxed-btn3" id="emSave" name="emSave" type="submit">저장</button>
        </div>
    </div>

<!--footer -->
<footer th:replace="layout/layout :: footer"/>



</body>
</html>