<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <script  th:async src="http://code.jquery.com/jquery-latest.min.js"></script>   <!-- jquery에서 제공하는 최신 버전의 jQuery url-->
    <script  th:async src="/js/Employ.js"></script>

    <title>Title</title>
</head>
<body>
<!--네비 div-->
<div th:replace="layout/layout :: nav"/>
<div class="form-group">
    <label >Num</label>
    <input type="text" class="form-control" id="num" name="num" th:value="${dto.num}" readonly >
</div>

<div class="form-group">
    <label >Name</label>
    <input type="text" class="form-control" id="name" name="name" th:value="${dto.name}" readonly >
</div>

<div class="form-group">
    <label >Content</label>
    <input type="text" class="form-control" id="content" name="content" th:value="${dto.content}" readonly >
</div>

<div class="form-group">
    <label >Title</label>
    <input type="text" class="form-control" id="title" name="title" th:value="${dto.title}" readonly >
</div>

    <div class="from-group">
        <label>작성일</label>
        <input type="text" class="form-control" id="regDate" name="regDate"
               th:value="${#temporals.format(dto.regDate, 'YYYY-MM-dd ')}" readonly />
    </div>

    <div class="from-group">
        <label>마감일</label>
        <input type="text" class="form-control" id="modDate" name="modDate"
               th:value="${#temporals.format(dto.modDate, 'YYYY-MM-dd ')}" readonly />
    </div>



    <div class="col-md-12">
        <div class="submit_btn">
            <button class="boxed-btn3" id="emRemove" name="emRemove" type="submit">삭제</button>
            <button class="boxed-btn3" id="emModify" name="emModify" type="submit">수정</button>
            <button class="boxed-btn3" id="emSave" name="emSave" type="submit">저장</button>
        </div>
    </div>

<!--footer -->
<footer th:replace="layout/layout :: footer"/>



</body>
</html>